Implementation/Infrastructure/EIAMetadata/classes/ABS/SAP/V1.0/demographics.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
     name="Demographic"
     targetNamespace="http://tempuri.org/"
     xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
     xmlns:wsa10="http://www.w3.org/2005/08/addressing"
     xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
     xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
     xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
     xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
     xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
     xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
     xmlns:tns="http://tempuri.org/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
    >
    <wsp:Policy wsu:Id="WSHttpBinding_IDemo_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <http:BasicAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http"/>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false"/>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
                <wsaw:UsingAddressing/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import schemaLocation="http://ws4.nucornet.com/demographics/Demographic.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
            <xsd:import schemaLocation="http://ws4.nucornet.com/demographics/Demographic.svc?xsd=xsd1"
                 namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
            <xsd:import schemaLocation="http://ws4.nucornet.com/demographics/Demographic.svc?xsd=xsd2"
                 namespace="http://schemas.datacontract.org/2004/07/DemographicService"/>
            <xsd:import schemaLocation="http://ws4.nucornet.com/demographics/Demographic.svc?xsd=xsd3"
                 namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IDemo_GetDemographicXML_InputMessage">
        <wsdl:part name="parameters" element="tns:GetDemographicXML"/>
    </wsdl:message>
    <wsdl:message name="IDemo_GetDemographicXML_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetDemographicXMLResponse"/>
    </wsdl:message>
    <wsdl:message name="IDemo_GetMasterList_InputMessage">
        <wsdl:part name="parameters" element="tns:GetMasterList"/>
    </wsdl:message>
    <wsdl:message name="IDemo_GetMasterList_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetMasterListResponse"/>
    </wsdl:message>
    <wsdl:message name="IDemo_GetReducedDemoXML_InputMessage">
        <wsdl:part name="parameters" element="tns:GetReducedDemoXML"/>
    </wsdl:message>
    <wsdl:message name="IDemo_GetReducedDemoXML_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetReducedDemoXMLResponse"/>
    </wsdl:message>
    <wsdl:portType name="IDemo">
        <wsdl:operation name="GetDemographicXML">
            <wsdl:input message="tns:IDemo_GetDemographicXML_InputMessage" wsaw:Action="http://tempuri.org/IDemo/GetDemographicXML"/>
            <wsdl:output message="tns:IDemo_GetDemographicXML_OutputMessage" wsaw:Action="http://tempuri.org/IDemo/GetDemographicXMLResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetMasterList">
            <wsdl:input message="tns:IDemo_GetMasterList_InputMessage" wsaw:Action="http://tempuri.org/IDemo/GetMasterList"/>
            <wsdl:output message="tns:IDemo_GetMasterList_OutputMessage" wsaw:Action="http://tempuri.org/IDemo/GetMasterListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetReducedDemoXML">
            <wsdl:input message="tns:IDemo_GetReducedDemoXML_InputMessage" wsaw:Action="http://tempuri.org/IDemo/GetReducedDemoXML"/>
            <wsdl:output message="tns:IDemo_GetReducedDemoXML_OutputMessage" wsaw:Action="http://tempuri.org/IDemo/GetReducedDemoXMLResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WSHttpBinding_IDemo" type="tns:IDemo">
        <wsp:PolicyReference URI="#WSHttpBinding_IDemo_policy"/>
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetDemographicXML">
            <soap12:operation style="document" soapAction="http://tempuri.org/IDemo/GetDemographicXML" soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetMasterList">
            <soap12:operation style="document" soapAction="http://tempuri.org/IDemo/GetMasterList" soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetReducedDemoXML">
            <soap12:operation style="document" soapAction="http://tempuri.org/IDemo/GetReducedDemoXML" soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Demographic">
        <wsdl:port name="WSHttpBinding_IDemo" binding="tns:WSHttpBinding_IDemo">
            <soap12:address location="https://ws4.nucornet.com/demographics/Demographic.svc"/>
            <wsa10:EndpointReference>
                <wsa10:Address>https://ws4.nucornet.com/demographics/Demographic.svc</wsa10:Address>
            </wsa10:EndpointReference>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
