Implementation/ABF/NSNE_SubscribeEBizJobDetails_EBiz_L2_ABF/SOA/Schemas/DB_Insert_L2_GME_Batch_Details_table.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/DB_Insert_L2_GME_Batch_Details" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/DB_Insert_L2_GME_Batch_Details" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="L2GmeBatchHeaderCollection" type="L2GmeBatchHeaderCollection"/>
   <xs:complexType name="L2GmeBatchHeaderCollection">
      <xs:sequence>
         <xs:element name="L2GmeBatchHeader" type="L2GmeBatchHeader" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="L2GmeBatchHeader">
      <xs:sequence>
         <xs:element name="processBatchId" type="xs:decimal" nillable="true"/>
         <xs:element name="batchId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="organizationCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="plantCode" type="string4" minOccurs="0" nillable="true"/>
         <xs:element name="batchNo" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="batchType" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="orgName" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="recipeNo" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="recipeVersion" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="planStartDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="planCmpltDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dueDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="batchStatus" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="parentBatch" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="actualStartDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="actualCompletionDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="batchCloseDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="updateInventory" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="formulaNumber" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="formulaVersion" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="routingNumber" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="routingVersion" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="recipe" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="formulaDescription" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="routingDescription" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="fpoId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="enforceStepDependency" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="automaticStepCalculation" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="orderNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="orderLineNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="attributeCategory" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute5" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute6" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute7" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute8" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute9" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute10" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute11" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute12" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute13" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute14" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute15" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="createdBy" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdatedBy" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="isRead" type="string2" minOccurs="0" nillable="true"/>
         <xs:element name="l2GmeBatchDetailsCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="L2GmeBatchDetails" type="L2GmeBatchDetails" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="l2GmeBatchStepsCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="L2GmeBatchSteps" type="L2GmeBatchSteps" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="L2GmeBatchDetails">
      <xs:sequence>
         <xs:element name="materialDetailId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="batchId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="formulaLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lineNo" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="itemNo" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="lineType" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="planQty" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="itemUm" type="string4" minOccurs="0" nillable="true"/>
         <xs:element name="itemUm2" type="string4" minOccurs="0" nillable="true"/>
         <xs:element name="actualQty" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="releaseType" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="scrapFactor" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="scaleType" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="phantomType" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="costAlloc" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="allocInd" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="cost" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="textCode" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="phantomId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="roundingDirection" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="scaleRoundingVariance" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="scaleMultiple" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="contributeYieldInd" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="contributeStepQty" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="wipPlanQty" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="originalQty" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="byProductType" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="backorderedQty" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="dispenseInd" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="dtlUm" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="locatorId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="materialRequirementDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="moveOrderLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="organizationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="originalPrimaryQty" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="phantomLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="revision" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="subinventory" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="attributeCategory" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute5" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute6" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute7" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute8" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute9" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute10" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute11" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute12" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute13" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute14" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute15" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="createdBy" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdatedBy" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="isRead" type="string5" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="L2GmeBatchSteps">
      <xs:sequence>
         <xs:element name="batchstepId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="batchId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="routingstepId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="batchstepNo" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="oprnId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="planStepQty" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="actualStepQty" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="stepQtyUom" type="string4" minOccurs="0" nillable="true"/>
         <xs:element name="planStartDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="actualStartDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dueDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="planCmpltDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="actualCmpltDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="stepCloseDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="stepStatus" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deleteMark" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="stepreleaseType" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="maxStepCapacity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="maxStepCapacityUom" type="string4" minOccurs="0" nillable="true"/>
         <xs:element name="planCharges" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="actualCharges" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="textCode" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="qualityStatus" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="minimumTransferQty" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="maxStepCapacityUm" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="stepQtyUm" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="activity" type="string16" minOccurs="0" nillable="true"/>
         <xs:element name="resources" type="string16" minOccurs="0" nillable="true"/>
         <xs:element name="resourceDesc" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="resPlanStartDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="resPlanCmpltDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="attributeCategory" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute5" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute6" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute7" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute8" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute9" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute10" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute11" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute12" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute13" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute14" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute15" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="createdBy" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdatedBy" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="isRead" type="string5" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string3">
      <xs:restriction base="xs:string">
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string4">
      <xs:restriction base="xs:string">
         <xs:maxLength value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string32">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string80">
      <xs:restriction base="xs:string">
         <xs:maxLength value="80"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string240">
      <xs:restriction base="xs:string">
         <xs:maxLength value="240"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string2">
      <xs:restriction base="xs:string">
         <xs:maxLength value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string5">
      <xs:restriction base="xs:string">
         <xs:maxLength value="5"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string40">
      <xs:restriction base="xs:string">
         <xs:maxLength value="40"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string10">
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string16">
      <xs:restriction base="xs:string">
         <xs:maxLength value="16"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
