Implementation/Infrastructure/UtilityXREF_FileLoad/SOA/WSDLs/ftpFileDelete.wsdl

<wsdl:definitions
     name="ftpFileDelete"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/SMG_SOA/UtilityXREF_FileLoad/ftpFileDelete"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/ftp/SMG_SOA/UtilityXREF_FileLoad/ftpFileDelete"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:opaque="http://xmlns.oracle.com/pcbpel/adapter/opaque/"
    >
  <plt:partnerLinkType name="DeleteFileService_plt" >
    <plt:role name="DeleteFileService_role" >
      <plt:portType name="tns:DeleteFileService_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
    <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/opaque/"
            xmlns="http://www.w3.org/2001/XMLSchema" >
      <element name="opaqueElement" type="base64Binary" />
        <element name="empty"><complexType/></element>
    </schema>
    </wsdl:types>
    <wsdl:message name="Empty_msg">
        <wsdl:part name="Empty" element="opaque:empty"/>
    </wsdl:message>
    <wsdl:message name="DeleteFileService_msg">
        <wsdl:part name="opaque" element="opaque:opaqueElement"/>
    </wsdl:message>
    <wsdl:portType name="DeleteFileService_ptt">
        <wsdl:operation name="DeleteFileService">
            <wsdl:input message="tns:Empty_msg"/>
            <wsdl:output message="tns:DeleteFileService_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
