Implementation/Infrastructure/UtilityXREF_FileLoad/SOA/WSDLs/ftpUtilityFileLoad.wsdl

<wsdl:definitions
     name="ftpUtilityFileLoad"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/Tensile/UtilityXREF_FileLoad/ftpUtilityFileLoad"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/ftp/Tensile/UtilityXREF_FileLoad/ftpUtilityFileLoad"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:imp1="http://XREF_Data_Load.com/XREF_Load_File_ftp"
    >
  <plt:partnerLinkType name="ChunkedRead_plt" >
    <plt:role name="ChunkedRead_role" >
      <plt:portType name="tns:ChunkedRead_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/Tensile/UtilityXREF_FileLoad/ftpUtilityFileLoad"
              xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://XREF_Data_Load.com/XREF_Load_File_ftp" schemaLocation="../Schemas/Data_Load_Format.xsd" />
      <element name="empty"><complexType/></element>
      </schema>
    </wsdl:types>
    <wsdl:message name="Empty_msg">
        <wsdl:part name="Empty" element="tns:empty"/>
    </wsdl:message>
    <wsdl:message name="ChunkedRead_msg">
        <wsdl:part name="body" element="imp1:XREF-Records"/>
    </wsdl:message>
    <wsdl:portType name="ChunkedRead_ptt">
        <wsdl:operation name="ChunkedRead">
            <wsdl:input message="tns:Empty_msg"/>
            <wsdl:output message="tns:ChunkedRead_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
