mds/apps/EIAMetadata/EO/defects/ANSYSDefectsEOV1.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!-- ANSYS Enterpirse Defect Schema Definition 1.00 Vivek Srinivasan 3/29/2011 -->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://xmlns.ansys.com/EO/ANSYSDefectEO/1.0" version="1.00" xmlns:def="http://xmlns.ansys.com/EO/ANSYSDefectEO/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Defect" type="def:DefectType">
		<xsd:annotation>
			<xsd:documentation>Represents a shortcoming or inadequacy or failure in a ANSYS customer product</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ListOfDefects" type="def:ListOfDefectsType">
		<xsd:annotation>
			<xsd:documentation>Representing List of Defects</xsd:documentation>
		</xsd:annotation>
	</xsd:element>


   <xsd:element name="RevisionHistory" type="def:RevisionHistoryType">		
        <xsd:annotation>
			<xsd:documentation>Revision History</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

   <xsd:element name="Attachment" type="def:AttachmentType">		
        <xsd:annotation>
			<xsd:documentation>Attachment</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

   <xsd:element name="AttachmentContent" type="def:AttachmentContentType">		
        <xsd:annotation>
			<xsd:documentation>Attachment Content</xsd:documentation>
		</xsd:annotation>
	</xsd:element>


	<xsd:complexType name="ListOfDefectsType">
		<xsd:sequence>
			<xsd:element name="Defect" type="def:DefectType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Defect List Type</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


      <xsd:complexType name="IterationType">
	   <xsd:complexContent>
		 <xsd:extension base="def:WSObject">
            <xsd:sequence>
              <xsd:element name="EndDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
              <xsd:element name="Name" type="xsd:string" minOccurs="0" maxOccurs="1" />
              <xsd:element name="Notes" type="xsd:string" minOccurs="0" maxOccurs="1" />
              <xsd:element name="RevisionHistory" type="def:RevisionHistoryType" minOccurs="0" maxOccurs="1" />
              <xsd:element name="StartDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
              <xsd:element name="State" type="xsd:string" minOccurs="0" maxOccurs="1" />
              <xsd:element name="Theme" type="xsd:string" minOccurs="0" maxOccurs="1" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="ReleaseType">
        <xsd:complexContent>
          <xsd:extension base="def:WSObject">
            <xsd:sequence>
              <xsd:element name="GrossEstimateConversionRatio" type="xsd:double" minOccurs="0" maxOccurs="1" />
              <xsd:element name="Name" type="xsd:string" minOccurs="0" maxOccurs="1" />
              <xsd:element name="Notes" type="xsd:string" minOccurs="0" maxOccurs="1" />
              <xsd:element name="ReleaseDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
              <xsd:element name="ReleaseStartDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
              <xsd:element name="Resources" type="xsd:double" minOccurs="0" maxOccurs="1" />
              <xsd:element name="RevisionHistory" type="def:RevisionHistoryType" minOccurs="0" maxOccurs="1" />
              <xsd:element name="State" type="xsd:string" minOccurs="0" maxOccurs="1" />
              <xsd:element name="Theme" type="xsd:string" minOccurs="0" maxOccurs="1" />
              <xsd:element name="Version" type="xsd:string" minOccurs="0" maxOccurs="1" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>


	<xsd:complexType name="Revision">
	   <xsd:complexContent>
		 <xsd:extension base="def:WSObject">
		<xsd:sequence>
			<xsd:element name="Description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RevisionNumber" type="xsd:long" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="User" type="def:UserType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RevisionHistoryRevisionsType">
		<xsd:sequence>
			<xsd:element name="Revision" type="def:Revision" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RevisionHistoryType">
	   <xsd:complexContent>
		 <xsd:extension base="def:WSObject">
			<xsd:sequence>
				<xsd:element name="Revisions" type="def:RevisionHistoryRevisionsType" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ConversationPost" type="def:ConversationPostType">
		<xsd:annotation>
			<xsd:documentation>Represents results of Discussion Post</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OperationResult" type="def:OperationResultType">
		<xsd:annotation>
			<xsd:documentation>Represents results of Defect Manipulation Result</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QueryResult" type="def:QueryResultType">
		<xsd:annotation>
			<xsd:documentation>Represents results of a RallyDev Query</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="User" type="def:UserType">
		<xsd:annotation>
			<xsd:documentation>Represents User in Rally Defect</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="string10">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string24">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="24"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string20">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string32">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string128">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string254">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="254"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string256">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string32768">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="32768"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string6144">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6144"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string1024">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1024"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string4000">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Artifact">
		<xsd:complexContent>
			<xsd:extension base="def:WSObject">
				<xsd:sequence>
					<xsd:element name="LastUpdateDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="ObjectID" type="xsd:long" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="CreationDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
					<xsd:element name="RevisionHistory" type="def:RevisionHistoryType" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ConversationPostType">
		<xsd:complexContent>
			<xsd:extension base="def:WSObject">
				<xsd:sequence>
					<xsd:element name="CreationDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
					<xsd:element name="Artifact" type="def:Artifact" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="PostNumber" type="xsd:long" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Post Number representing the Post uniquely</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Text" type="def:string32768" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Post String</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="User" type="def:UserType" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>User Information of the Post</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArtifactDiscussionType">
		<xsd:sequence>
			<xsd:element name="ConversationPost" type="def:ConversationPostType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Dicussion</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AttachmentType">
	   <xsd:complexContent>
		<xsd:extension base="def:WSObject">

		<xsd:sequence>
			<xsd:element name="CreationDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
			<xsd:element maxOccurs="1" minOccurs="0" name="Content" type="def:AttachmentContentType"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="ContentType" type="def:string128">
				<xsd:annotation>
					<xsd:documentation>MIME content type of this attachment</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Description" type="def:string6144">
				<xsd:annotation>
					<xsd:documentation>Attachment Description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Name" type="def:string1024">
				<xsd:annotation>
					<xsd:documentation>Attachment File Name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Size" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>Size (in bytes) of this attachment</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="User" type="def:UserType">
				<xsd:annotation>
					<xsd:documentation>Information on the User who added this attachment</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>New or Delete - If Delete then the attachment will be archived in Rally Dev</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>
	<xsd:complexType name="AttachmentContentType">
	   <xsd:complexContent>
		<xsd:extension base="def:WSObject">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="Content" type="xsd:base64Binary">
				<xsd:annotation>
					<xsd:documentation>Binary Content of the Attachment</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
	 	 </xsd:sequence>
		</xsd:extension>
	  </xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DefectAttachmentsType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Attachment" type="def:AttachmentType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WorkspaceType">
		<xsd:complexContent>
			<xsd:extension base="def:WSObject">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="Description" type="def:string32768">
						<xsd:annotation>
							<xsd:documentation>Description about the Workspace</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Name" type="def:string256">
						<xsd:annotation>
							<xsd:documentation>Workspace Name</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:long">
						<xsd:annotation>
							<xsd:documentation>Workspace ID</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Uri" type="def:string4000">
						<xsd:annotation>
							<xsd:documentation>URI of the Workspace</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProjectType">
		<xsd:complexContent>
			<xsd:extension base="def:WSObject">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="Description" type="def:string32768">
						<xsd:annotation>
							<xsd:documentation>Description about the Project</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Name" type="def:string256">
						<xsd:annotation>
							<xsd:documentation>Name of the Project</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:long">
						<xsd:annotation>
							<xsd:documentation>ID of the Project</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Uri" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>URI of the Project</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Workspace" type="def:WorkspaceType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TagType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="Archived" type="xsd:boolean"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="Name" type="def:string32"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArtifactTagsType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Tag" type="def:TagType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UserType">
		<xsd:complexContent>
			<xsd:extension base="def:WSObject">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="DisplayName" type="def:string254">
						<xsd:annotation>
							<xsd:documentation>Display Name of the User</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="EmailAddress" type="def:string254">
						<xsd:annotation>
							<xsd:documentation>Email Address of the User Record</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="FirstName" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>First Name of the User</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="LastName" type="def:string128">
						<xsd:annotation>
							<xsd:documentation>Last Name of the User</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="MiddleName" type="def:string128">
						<xsd:annotation>
							<xsd:documentation>Middle Name of the User</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="ShortDisplayName" type="def:string24">
						<xsd:annotation>
							<xsd:documentation>Short Display Name of the User</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="UserName" type="def:string254">
						<xsd:annotation>
							<xsd:documentation>User Name of the User</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DefectType">
		<xsd:complexContent>
			<xsd:extension base="def:Artifact">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="AcceptedDate" type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation>Description: Defect Accepted Date \n
					  </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="AffectsDoc" type="xsd:boolean">
						<xsd:annotation>
							<xsd:documentation>Description: Does the Defect affect documentation?
					</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Blocked" type="xsd:boolean">
						<xsd:annotation>
							<xsd:documentation>Flag to determine if this artifact is blocked
					</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Environment" type="def:string128">
						<xsd:annotation>
							<xsd:documentation>Defect environment
					</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="FixedInBuild" type="def:string128">
						<xsd:annotation>
							<xsd:documentation>The build number that this defect is fixed in
					</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="FoundInBuild" type="def:string128">
						<xsd:annotation>
							<xsd:documentation>The build number that this defect was found in
					</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="OpenedDate" type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation>The date that this artifact's schedule state was set to open.  This is automatically set.
					</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="ClosedDate" type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation>The date that this artifact's schedule state was set to Closed.  This is automatically set.
					</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Package" type="def:string128">
						<xsd:annotation>
							<xsd:documentation>The package that this defect suite is assigned to
					</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="PlanEstimate" type="xsd:double">
						<xsd:annotation>
							<xsd:documentation>Plan estimate of this artifact 
					</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Priority" type="def:string128">
						<xsd:annotation>
							<xsd:documentation>Defect Priority</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Rank" type="xsd:decimal">
						<xsd:annotation>
							<xsd:documentation>Schedule rank</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="ReleaseNote" type="xsd:boolean">
						<xsd:annotation>
							<xsd:documentation>Does this defect affect release notes?</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Resolution" type="def:string32">
						<xsd:annotation>
							<xsd:documentation>Resolution of this defect</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="SalesforceCaseID" type="def:string20">
						<xsd:annotation>
							<xsd:documentation>The Salesforce.com Case ID this defect is associated with</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="SalesforceCaseNumber" type="def:string20">
						<xsd:annotation>
							<xsd:documentation>The Salesforce.com Case Number this defect is associated with</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="ScheduleState" type="def:string128">
						<xsd:annotation>
							<xsd:documentation>Schedule State</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Severity" type="def:string128">
						<xsd:annotation>
							<xsd:documentation>Severity of this defect</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="State" type="def:string128">
						<xsd:annotation>
							<xsd:documentation>State of the defect</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="TargetBuild" type="def:string128">
						<xsd:annotation>
							<xsd:documentation>Target build number for fixing this defect</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="TargetDate" type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation>Target date for fixing this defect</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="TaskActualTotal" type="xsd:double">
						<xsd:annotation>
							<xsd:documentation>Task actual total of this artifact</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="TaskEstimateTotal" type="xsd:double">
						<xsd:annotation>
							<xsd:documentation>Task estimate total of this artifact</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="TaskRemainingTotal" type="xsd:double">
						<xsd:annotation>
							<xsd:documentation>Task remaining total of this artifact</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="TaskStatus" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>The status of the Tasks associated with this artifact</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="TestCaseStatus" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>The status of the TestCases associated with this artifact</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="VerifiedInBuild" type="def:string128">
						<xsd:annotation>
							<xsd:documentation>The build number that this defect is verified in</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Custom3rdpartydefect" type="xsd:boolean">
						<xsd:annotation>
							<xsd:documentation>3rd party defect</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="ApplicationAreaFoundon" type="def:string256">
						<xsd:annotation>
							<xsd:documentation>Application Area Found on</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Class3Report" type="def:string256">
						<xsd:annotation>
							<xsd:documentation>Class 3 Report #</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Class3" type="def:string256">
						<xsd:annotation>
							<xsd:documentation>Class3</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="CustomerContact" type="def:string32768">
						<xsd:annotation>
							<xsd:documentation>CustomerContact</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="CustomerFirstName" type="def:string32768">
						<xsd:annotation>
							<xsd:documentation>CustomerFirstName</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="CustomerLastName" type="def:string32768">
						<xsd:annotation>
							<xsd:documentation>CustomerLastName</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="FixedResolvedDate" type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation>Fixed Resolved Date</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="LastWebUser" type="def:string256">
						<xsd:annotation>
							<xsd:documentation>LastWebUser</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="MethodFound" type="def:string256">
						<xsd:annotation>
							<xsd:documentation>Description: Method where the defect was found </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="PlatformFoundon" type="def:string256">
						<xsd:annotation>
							<xsd:documentation>Description: Platform where the defect was found
									 </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="ReleaseFixedIn" type="def:string256">
						<xsd:annotation>
							<xsd:documentation>Description: Release Defect Fixed In
									</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="ReleaseFoundIn" type="def:string256">
						<xsd:annotation>
							<xsd:documentation>Description: Release where the defect was found
									  </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="ReleasedDefect" type="xsd:boolean">
						<xsd:annotation>
							<xsd:documentation>Description: Is the defect Released?
									  </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="RootCause" type="def:string256">
						<xsd:annotation>
							<xsd:documentation>Description: Root cause of the defect
									 </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="TechSupportName" type="def:string256">
						<xsd:annotation>
							<xsd:documentation>Description: Tech support representative Name
									  </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="VerifiedbySubmitter" type="xsd:boolean">
						<xsd:annotation>
							<xsd:documentation>Description: Is the defect verified gy Submitter
									 </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Uri" type="def:string4000">
						<xsd:annotation>
							<xsd:documentation>Description: URI of the defect
									  </xsd:documentation>
						</xsd:annotation>
					</xsd:element><!-- Comples Types -->
					<xsd:element maxOccurs="1" minOccurs="0" name="Attachments" type="def:DefectAttachmentsType">
						<xsd:annotation>
							<xsd:documentation>Description: Defect Attachments
									 </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--xsd:element name="Blocker" type="def:Blocker" minOccurs="0" maxOccurs="1"/--><!--xsd:element name="Duplicates" type="def:DefectDuplicatesType" minOccurs="0" maxOccurs="1"/-->
					<xsd:element name="Iteration" type="def:IterationType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="Release" type="def:ReleaseType" minOccurs="0" maxOccurs="1"/>
					<!--xsd:element name="Requirement" type="def:Requirement" minOccurs="0" maxOccurs="1"/-->
					<xsd:element maxOccurs="1" minOccurs="0" name="SubmittedBy" type="def:UserType">
						<xsd:annotation>
							<xsd:documentation>Description: Submitted by User
									  </xsd:documentation>
						</xsd:annotation>
					</xsd:element><!--xsd:element name="Tasks" type="def:DefectTasksType" minOccurs="0" maxOccurs="1"/--><!--xsd:element name="TestCase" type="def:TestCase" minOccurs="0" maxOccurs="1"/--><!--xsd:element name="TestCases" type="def:DefectTestCasesType" minOccurs="0" maxOccurs="1"/--><!--xsd:element name="TestCaseResult" type="def:TestCaseResult" minOccurs="0" maxOccurs="1"/--><!-- Basic Types--><!-- New ones -->
					<xsd:element maxOccurs="1" minOccurs="0" name="Project" type="def:ProjectType">
						<xsd:annotation>
							<xsd:documentation>Description: Defect Project information
									  </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Workspace" type="def:WorkspaceType">
						<xsd:annotation>
							<xsd:documentation>Description: Defect Workspace information
									  </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Owner" type="def:UserType">
						<xsd:annotation>
							<xsd:documentation>Description: Defect Owner Information
									  </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Tags" type="def:ArtifactTagsType">
						<xsd:annotation>
							<xsd:documentation>Description: Defect Tag information (list of tags)
									  </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Name" type="def:string256">
						<xsd:annotation>
							<xsd:documentation>Description: Short description of the defect
									 </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="Description" type="def:string32768">
						<xsd:annotation>
							<xsd:documentation>Description: Long Description of the Defect
									 </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="FormattedID" type="def:string10">
						<xsd:annotation>
							<xsd:documentation>The formatted ID for an object.  This is automatically assigned when an object is created and can never be changed.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="SiebelChangeRequestNumber" type="def:string20">
						<xsd:annotation>
							<xsd:documentation>Description: Siebel Change Request Number
									</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="SiebelChangeRequestID" type="def:string20">
						<xsd:annotation>
							<xsd:documentation>Description: Siebel Change Request ID
									  </xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<xsd:element maxOccurs="1" minOccurs="0" name="SiebelIntegrationStatus" type="def:string32768">
						<xsd:annotation>
							<xsd:documentation>Description: Siebel Change Request ID
									  </xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<xsd:element name="Discussion" type="def:ArtifactDiscussionType" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Description: Discussion Object</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Notes" type="def:string32768" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Description: Notes</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SPSVID" type="def:string256" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Patch ID</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SPSVStatus" type="def:string256" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>SP SV Status</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RallyIntegrationStatus" type="def:string20" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>RallyIntegrationStatus</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RallyIntegrationMessage" type="def:string32768" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>RallyIntegrationMessage</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WSObject">
		<xsd:attribute name="ref" type="xsd:string"/>
		<xsd:attribute name="objectVersion" type="xsd:long"/>
		<xsd:attribute name="type" type="xsd:string"/>
		<xsd:attribute name="refObjectName" type="xsd:string"/>
		<xsd:attribute name="rallyAPIMajor" type="xsd:long"/>
		<xsd:attribute name="rallyAPIMinor" type="xsd:long"/>
	</xsd:complexType>
	<xsd:complexType name="OperationResultType">
		<xsd:complexContent>
			<xsd:extension base="def:WSObject">
				<xsd:sequence>
					<xsd:element name="Object" type="def:WSObject" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="Errors" type="def:OperationResultErrorsType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="Warnings" type="def:OperationResultWarningsType" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OperationResultErrorsType">
		<xsd:sequence>
			<xsd:element name="OperationResultError" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OperationResultWarningsType">
		<xsd:sequence>
			<xsd:element name="OperationResultWarning" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="QueryResultType">
		<xsd:complexContent>
			<xsd:extension base="def:OperationResultType">
				<xsd:sequence>
					<xsd:element name="TotalResultCount" type="xsd:long" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="StartIndex" type="xsd:long" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="PageSize" type="xsd:long" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="Results" type="def:QueryResultResultsType" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="QueryResultResultsType">
		<xsd:sequence>
			<xsd:element name="Object" type="def:WSObject" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
