Implementation/ABF/NUC_EBiz_RequestOutput_ABF/xsd/RequestOutputFile.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/NucorPordSup/NUC_EBiz_RequestOutput_ABF/RequestOutputFile"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="RequestID" type="string"/>
				<element name="ReportName" type="string"/>
				<element name="EmailAddress" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>