Implementation/ABF/NUC_B2B_Ebiz_Outbound_ABF/SOA/WSDLs/SFTP_SyncDelete.wsdl

<wsdl:definitions
     name="SFTP_SyncDelete"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/SMG-nuc/NUC_B2B_Ebiz_Outbound_ABF/SFTP_SyncDelete"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/ftp/SMG-nuc/NUC_B2B_Ebiz_Outbound_ABF/SFTP_SyncDelete"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:opaque="http://xmlns.oracle.com/pcbpel/adapter/opaque/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="SynchDelete_plt" >
    <plt:role name="SynchDelete_role" >
      <plt:portType name="tns:SynchDelete_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
    <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/opaque/"
            xmlns="http://www.w3.org/2001/XMLSchema" >
      <element name="opaqueElement" type="base64Binary" />
        <element name="empty"><complexType/></element>
    </schema>
    </wsdl:types>
    <wsdl:message name="Empty_msg">
        <wsdl:part name="Empty" element="opaque:empty"/>
    </wsdl:message>
    <wsdl:message name="SynchDelete_msg">
        <wsdl:part name="opaque" element="opaque:opaqueElement"/>
    </wsdl:message>
    <wsdl:portType name="SynchDelete_ptt">
        <wsdl:operation name="SynchDelete">
            <wsdl:input message="tns:Empty_msg"/>
            <wsdl:output message="tns:SynchDelete_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
