Implementation/ABF/NUC_EBiz_JDA_Batch_ABF/SOA/Schemas/DB_Extract_EBIZ_Batch_Details_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/DB_Extract_EBIZ_Batch_Details" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/DB_Extract_EBIZ_Batch_Details" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxnucGmeJdaBatchExtVCollection" type="XxnucGmeJdaBatchExtVCollection"/>
   <xs:complexType name="XxnucGmeJdaBatchExtVCollection">
      <xs:sequence>
         <xs:element name="XxnucGmeJdaBatchExtV" type="XxnucGmeJdaBatchExtV" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxnucGmeJdaBatchExtV">
      <xs:sequence>
         <xs:element name="epstFormat" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="feedsLocked" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="firstOperationEpst" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="firstOperationPst" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="futureOperationForHold" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="lastOperationLpst" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="lastOperationPst" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="lpstFormat" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="maintainQuantityLocked" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="manufacturingOrder" type="string32" minOccurs="0"/>
         <xs:element name="mfgHoldDate" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="mfgHoldDateFormat" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="mfgPlantId" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="orderQuantitySatisfied" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="routing" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="pstFormat" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="quantityLocked" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="quantityProduced" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="previousQuantityProduced" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="routingLocked" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="sortPriority" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="specificRoutingId" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="splitQuantity" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="stepNumber" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="createAutoAto" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="batchId" type="xs:long"/>
         <xs:element name="organizationId" type="xs:decimal" nillable="true"/>
         <xs:element name="batchStatus" type="xs:int" minOccurs="0"/>
         <xs:element name="primaryResource" type="string16" minOccurs="0" nillable="true"/>
         <xs:element name="origScheduleDate" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="xxnucGmeJdaResourcesExtVCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="XxnucGmeJdaResourcesExtV" type="XxnucGmeJdaResourcesExtV" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="xxnucGmeJdaSoExtVCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="XxnucGmeJdaSoExtV" type="XxnucGmeJdaSoExtV" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="xxnucGmeJdaBomExtVCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="XxnucGmeJdaBomExtV" type="XxnucGmeJdaBomExtV" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="xxnucGmeJdaMopExtVCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="XxnucGmeJdaMopExtV" type="XxnucGmeJdaMopExtV" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="xxnucGmeJdaRoutingsExtVCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="XxnucGmeJdaRoutingsExtV" type="XxnucGmeJdaRoutingsExtV" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="xxnucGmeJdaWipDataExtVCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="XxnucGmeJdaWipDataExtV" type="XxnucGmeJdaWipDataExtV" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="xxnucGmeJdaOnhandExtVCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="XxnucGmeJdaOnhandExtV" type="XxnucGmeJdaOnhandExtV" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="xxnucGmeJdaPartExtVCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="XxnucGmeJdaPartExtV" type="XxnucGmeJdaPartExtV" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxnucGmeJdaResourcesExtV">
      <xs:sequence>
         <xs:element name="defaultSetupTime" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="defaultSetupTimeUom" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="earlinessTolerance" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="earlinessToleranceUom" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="estimatedQueueTime" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="estimatedQueueTimeUom" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="latenessTolerance" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="latenessToleranceUom" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="location" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="maxQueueSize" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="minimumQueueTime" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="minimumQueueTimeUom" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="name" type="xs:string" nillable="true"/>
         <xs:element name="queueSizeMode" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="queueSizeUom" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="scheduleFreezeHorizon" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="scheduleFreezeHorizonUom" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="scheduleLockHorizon" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="scheduleLockHorizonUom" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="schedulingCriticality" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="setupMatrixId" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="setupSequenceGoBackEnable" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="setupSequenceId" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="setup2MatrixId" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="setup2SequenceGoBackEnable" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="setup2SequenceId" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="setup3MatrixId" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="setup3SequenceGoBackEnable" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="setup3SequenceId" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="simultaneousHierarchicalSet" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="taskCutoffHorizon" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="taskCutoffHorizonUom" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="trueFreezeHorizon" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="trueFreezeHorizonUom" type="xs:string" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxnucGmeJdaSoExtV">
      <xs:sequence>
         <xs:element name="acmFlag" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="allowInventoryConsumption" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="category" type="xs:decimal" minOccurs="0"/>
         <xs:element name="crsd" type="string24" minOccurs="0" nillable="true"/>
         <xs:element name="crsdFormat" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="customer" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="demandLocation" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="demandTypePriority" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="doNotSchedule" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="makeToStockP" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="partQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="partQuantityUom" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="partNumber" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="demandOrderId" type="string122" nillable="true"/>
         <xs:element name="priority" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="promiseDate" type="string24" minOccurs="0" nillable="true"/>
         <xs:element name="promiseDateFormat" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="replanOrderP" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="salesDueDate" type="string24" minOccurs="0" nillable="true"/>
         <xs:element name="salesDueDateFormat" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="salesRep" type="string240" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxnucGmeJdaBomExtV">
      <xs:sequence>
         <xs:element name="consumedPartNumber" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="consumedQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="consumedQuantityUom" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="routing" type="string32"/>
         <xs:element name="producedPartNumber" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="producedQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="producedQuantityUom" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="primaryResource" type="string16" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxnucGmeJdaMopExtV">
      <xs:sequence>
         <xs:element name="consumedOrder" type="string32"/>
         <xs:element name="consumedPart" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="demandOrderP" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="actualQuantityFed" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="demandsLockedP" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="operation" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="producedOrder" type="string122" nillable="true"/>
         <xs:element name="quantityFed" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="stepNumber" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="stockOrder" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="surplus" type="xs:string" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxnucGmeJdaRoutingsExtV">
      <xs:sequence>
         <xs:element name="baseMachineResource" type="string16" minOccurs="0"/>
         <xs:element name="baseYield" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="displayQuantityUom" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="earlySetup" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="interruptible" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="minOperationTime" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="minOperationTimeUom" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="operation" type="string16"/>
         <xs:element name="preopTime" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="preopTimeUom" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="routing" type="string32"/>
         <xs:element name="runRate" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="runRatePer" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="runRateUom" type="string4" minOccurs="0" nillable="true"/>
         <xs:element name="sameDemandSameSetupRun" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="sequenceDependentSetupType" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="sequenceDependentSetupType2" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="sequenceDependentSetupType3" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="stepNumber" type="xs:long" minOccurs="0"/>
         <xs:element name="unitRuntime" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="unitRuntimeUom" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="primRsrcInd" type="xs:int" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxnucGmeJdaWipDataExtV">
      <xs:sequence>
         <xs:element name="completionTime" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="completionTimeFormat" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="elapsedRuntime" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="elapsedRuntimeUom" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="finishedQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="finishedQuantityUom" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="finishedPartNumber" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="manufacturingOrder" type="string32" minOccurs="0"/>
         <xs:element name="operation" type="string16" minOccurs="0" nillable="true"/>
         <xs:element name="operationComplete" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="routing" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="setTaskToEpstP" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="startTime" type="string24" minOccurs="0" nillable="true"/>
         <xs:element name="startTimeFormat" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="stepNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="unfinishedQuantity" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="unfinishedQuantityUom" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="unfinishedPartNumber" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="primaryResource" type="string16" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxnucGmeJdaOnhandExtV">
      <xs:sequence>
         <xs:element name="arrivalTime" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="arrivalTimeFormat" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="expirationTime" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="partQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="partQuantityUom" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="partNumber" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="priority" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="purchaseOrderNumber" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="vendor" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="itemType" type="string30" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxnucGmeJdaPartExtV">
      <xs:sequence>
         <xs:element name="createAutoAto" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="customerName" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="demandPartNumber" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="description" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="partBufferStyle" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="partNumber" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="partNumberType" type="string80" minOccurs="0"/>
         <xs:element name="planTimeInterval" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="planTimeIntervalUom" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="productFamily" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="sellable" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="stockPart" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="grade" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="width" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="length" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="gauge" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="dimension" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="spec" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="productType" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemId" type="xs:decimal" minOccurs="0"/>
         <xs:element name="lineType" type="xs:int" minOccurs="0"/>
         <xs:element name="attrXml" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="materialDetailId" type="xs:long"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="DB_Extract_EBIZ_Batch_DetailsSelect_vOrgId_vResourceInputParameters" type="DB_Extract_EBIZ_Batch_DetailsSelect_vOrgId_vResource"/>
   <xs:complexType name="DB_Extract_EBIZ_Batch_DetailsSelect_vOrgId_vResource">
      <xs:sequence>
         <xs:element name="vOrgId" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
         <xs:element name="vResource" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string15">
      <xs:restriction base="xs:string">
         <xs:maxLength value="15"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string32">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string150">
      <xs:restriction base="xs:string">
         <xs:maxLength value="150"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string16">
      <xs:restriction base="xs:string">
         <xs:maxLength value="16"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string240">
      <xs:restriction base="xs:string">
         <xs:maxLength value="240"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string24">
      <xs:restriction base="xs:string">
         <xs:maxLength value="24"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string360">
      <xs:restriction base="xs:string">
         <xs:maxLength value="360"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string3">
      <xs:restriction base="xs:string">
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string40">
      <xs:restriction base="xs:string">
         <xs:maxLength value="40"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string122">
      <xs:restriction base="xs:string">
         <xs:maxLength value="122"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string5">
      <xs:restriction base="xs:string">
         <xs:maxLength value="5"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string4">
      <xs:restriction base="xs:string">
         <xs:maxLength value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string30">
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string80">
      <xs:restriction base="xs:string">
         <xs:maxLength value="80"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>