Implementation/ABF/NUC_EBiz_JDA_Batch_ABF/SOA/Schemas/jda_prod_schedule_transition.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:tns="http://xmlns.oracle.com/NUC_Ebiz_JDA_Batch_ABF/JDAPRodScheduleTransition/1.0" targetNamespace="http://xmlns.oracle.com/NUC_Ebiz_JDA_Batch_ABF/JDAPRodScheduleTransition/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:stream="chars" nxsd:encoding="UTF-8" nxsd:hasHeader="true" nxsd:headerLines="1" nxsd:headerLinesTerminatedBy="${eol}">


  <xsd:element name="ProdScheduleList">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ProdScheduleHeader">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="formatted_mfg_order_output_qty" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="#formatted_mfg_order_output_qty"/>
              <xsd:element name="formatted_planned_input_qty" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="formatted_planned_input_qty"/>
              <xsd:element name="formatted_planned_output_qty" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="formatted_planned_output_qty"/>
              <xsd:element name="keep_user_scheduled_start" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="keep_user_scheduled_start"/>
              <xsd:element name="mfg_order_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="mfg_order_id"/>
              <xsd:element name="mfg_order_output_qty" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="mfg_order_output_qty"/>
              <xsd:element name="mfg_order_output_qty_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="mfg_order_output_qty_format"/>
              <xsd:element name="mfg_order_output_qty_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="mfg_order_output_qty_uom"/>
              <xsd:element name="operation_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="operation_id"/>
              <xsd:element name="original_scheduled_start_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="original_scheduled_start_time"/>
              <xsd:element name="original_scheduled_start_time_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="original_scheduled_start_time_format"/>
              <xsd:element name="parallel_index" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="parallel_index"/>
              <xsd:element name="planned_end_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_end_time"/>
              <xsd:element name="planned_end_time_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_end_time_format"/>
              <xsd:element name="planned_input_qty" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_input_qty"/>
              <xsd:element name="planned_input_qty_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_input_qty_format"/>
              <xsd:element name="planned_input_qty_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_input_qty_uom"/>
              <xsd:element name="planned_output_qty" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_output_qty"/>
              <xsd:element name="planned_output_qty_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_output_qty_format"/>
              <xsd:element name="planned_output_qty_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_output_qty_uom"/>
              <xsd:element name="planned_start_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_start_time"/>
              <xsd:element name="planned_start_time_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_start_time_format"/>
              <xsd:element name="planned_transit_ready_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_transit_ready_time"/>
              <xsd:element name="planned_transit_ready_time_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_transit_ready_time_format"/>
              <xsd:element name="primary_output_part" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="primary_output_part"/>
              <xsd:element name="resource" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="resource"/>
              <xsd:element name="routing" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="routing"/>
              <xsd:element name="scheduler_comments" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="scheduler_comments"/>
              <xsd:element name="scheduling_position" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="scheduling_position"/>
              <xsd:element name="setup_end_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="setup_end_time"/>
              <xsd:element name="setup_start_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="setup_start_time"/>
              <xsd:element name="setup_time_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="setup_time_format"/>
              <xsd:element name="setup_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="setup_time"/>
              <xsd:element name="setup_time_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="setup_time_uom"/>
              <xsd:element name="step_number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}" nxsd:quotedBy="&quot;"
                           fixed="step_number"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ProdSchedule" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="formatted_mfg_order_output_qty" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="formatted_planned_input_qty" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="formatted_planned_output_qty" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="keep_user_scheduled_start" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="mfg_order_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="mfg_order_output_qty" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="mfg_order_output_qty_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="mfg_order_output_qty_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="operation_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="original_scheduled_start_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="original_scheduled_start_time_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="parallel_index" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_end_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_end_time_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_input_qty" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_input_qty_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_input_qty_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_output_qty" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_output_qty_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_output_qty_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_start_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_start_time_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_transit_ready_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_transit_ready_time_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="primary_output_part" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="resource" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="routing" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="scheduler_comments" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="scheduling_position" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           type="xsd:short"/>
              <xsd:element name="setup_end_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="setup_start_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="setup_time_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="setup_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="setup_time_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="step_number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}" nxsd:quotedBy="&quot;"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

<xsd:annotation>
      <xsd:appinfo>NXSDSAMPLE=/Users/dikshasawheny/Documents/JDA/Archive/Production_Schedule_T.txt</xsd:appinfo>
      <xsd:appinfo>USEHEADER=true</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>