Implementation/ABF/NUC_EBiz_JDA_Batch_ABF/SOA/Schemas/jda_plan_transition.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:tns="http://xmlns.oracle.com/NUC_Ebiz_JDA_Batch_ABF/JDAPlanTransition/1.0" targetNamespace="http://xmlns.oracle.com/NUC_Ebiz_JDA_Batch_ABF/JDAPlanTransition/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:stream="chars" nxsd:encoding="US-ASCII" nxsd:hasHeader="true" nxsd:headerLines="1" nxsd:headerLinesTerminatedBy="${eol}">


  <xsd:element name="PlanList">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="PlanHeader" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="bal_cooldown_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="#bal_cooldown_time"/>
              <xsd:element name="bal_cooldown_time_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="bal_cooldown_time_uom"/>
              <xsd:element name="bal_queue_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="bal_queue_time"/>
              <xsd:element name="bal_queue_time_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="bal_queue_time_uom"/>
              <xsd:element name="bal_transport_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="bal_transport_time"/>
              <xsd:element name="bal_transport_time_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="bal_transport_time_uom"/>
              <xsd:element name="cao_priority" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="cao_priority"/>
              <xsd:element name="cao_priority_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="cao_priority_format"/>
              <xsd:element name="category" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="category"/>
              <xsd:element name="cest" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="cest"/>
              <xsd:element name="cest_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="cest_format"/>
              <xsd:element name="clst" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="clst"/>
              <xsd:element name="clst_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="clst_format"/>
              <xsd:element name="demand_order_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="demand_order_id"/>
              <xsd:element name="epst" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="epst"/>
              <xsd:element name="epst_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="epst_format"/>
              <xsd:element name="formatted_planned_input_qty" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="formatted_planned_input_qty"/>
              <xsd:element name="formatted_planned_output_qty" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="formatted_planned_output_qty"/>
              <xsd:element name="formatted_planned_runtime" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="formatted_planned_runtime"/>
              <xsd:element name="formatted_stretched_runtime" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="formatted_stretched_runtime"/>
              <xsd:element name="lock_count" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="lock_count"/>
              <xsd:element name="lpst" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="lpst"/>
              <xsd:element name="lpst_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="lpst_format"/>
              <xsd:element name="mfg_order_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="mfg_order_id"/>
              <xsd:element name="num_operators" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="num_operators"/>
              <xsd:element name="operation_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="operation_id"/>
              <xsd:element name="operators" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="operators"/>
              <xsd:element name="planned_end_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_end_time"/>
              <xsd:element name="planned_end_time_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_end_time_format"/>
              <xsd:element name="planned_end_time_sec" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_end_time_sec"/>
              <xsd:element name="planned_input_qty" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_input_qty"/>
              <xsd:element name="planned_input_qty_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_input_qty_uom"/>
              <xsd:element name="planned_output_qty" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_output_qty"/>
              <xsd:element name="planned_output_qty_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_output_qty_uom"/>
              <xsd:element name="planned_runtime" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_runtime"/>
              <xsd:element name="planned_runtime_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_runtime_format"/>
              <xsd:element name="planned_runtime_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_runtime_uom"/>
              <xsd:element name="planned_start_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_start_tim"/>
              <xsd:element name="planned_start_time_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_start_time_format"/>
              <xsd:element name="planned_start_time_sec" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_start_time_sec"/>
              <xsd:element name="planned_transit_ready_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_transit_ready_time"/>
              <xsd:element name="planned_transit_ready_time_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="planned_transit_ready_time_format"/>
              <xsd:element name="primary_output_part" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="primary_output_part"/>
              <xsd:element name="primary_resource" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="primary_resource"/>
              <xsd:element name="priority" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="priority"/>
              <xsd:element name="qty_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="qty_format"/>
              <xsd:element name="remaining_pulls" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="remaining_pulls"/>
              <xsd:element name="remaining_pushes" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="remaining_pushes"/>
              <xsd:element name="schedule_task_priority" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="schedule_task_priority"/>
              <xsd:element name="step_number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="step_number"/>
              <xsd:element name="stretched_runtime" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="stretched_runtime"/>
              <xsd:element name="stretched_runtime_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"
                           fixed="stretched_runtime_format"/>
              <xsd:element name="task_priority" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}" nxsd:quotedBy="&quot;"
                           fixed="task_priority"/>            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Plan" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="bal_cooldown_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="bal_cooldown_time_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="bal_queue_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="bal_queue_time_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="bal_transport_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="bal_transport_time_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="cao_priority" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="cao_priority_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="category" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="cest" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="cest_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="clst" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="clst_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="demand_order_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="epst" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="epst_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="formatted_planned_input_qty" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="formatted_planned_output_qty" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="formatted_planned_runtime" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="formatted_stretched_runtime" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="lock_count" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="lpst" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="lpst_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="mfg_order_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="num_operators" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="operation_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="operators" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_end_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_end_time_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_end_time_sec" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_input_qty" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_input_qty_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_output_qty" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_output_qty_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_runtime" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_runtime_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_runtime_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_start_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_start_time_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_start_time_sec" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_transit_ready_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="planned_transit_ready_time_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="primary_output_part" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="primary_resource" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="priority" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="qty_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="remaining_pulls" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="remaining_pushes" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="schedule_task_priority" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="step_number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="stretched_runtime" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="stretched_runtime_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="task_priority" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}" nxsd:quotedBy="&quot;"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

<xsd:annotation>
      <xsd:appinfo>NXSDSAMPLE=/Users/dikshasawheny/Documents/JDA/Plan_T.txt</xsd:appinfo>
      <xsd:appinfo>USEHEADER=true</xsd:appinfo>
   </xsd:annotation>
<xsd:annotation>
      <xsd:appinfo>NXSDSAMPLE=/Users/dikshasawheny/Documents/JDA/Plan_T.txt</xsd:appinfo>
      <xsd:appinfo>USEHEADER=true</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>