Implementation/ABF/NUC_EBiz_JDA_Batch_ABF/SOA/Schemas/manufacturingOrderRecord.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:tns="http://xmlns.oracle.com/NUC_Ebiz_JDA_Batch_ABF/Batch/1.0" targetNamespace="http://xmlns.oracle.com/NUC_Ebiz_JDA_Batch_ABF/Batch/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:stream="chars" nxsd:encoding="UTF-8" nxsd:hasHeader="true" nxsd:headerLines="1" nxsd:headerLinesTerminatedBy="${eol}">
  <xsd:element name="ListOfBatches">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="BatchHeader">
          <xsd:complexType>
            <xsd:sequence>
              <?audit suppress oracle.ide.xml.wellformedness-error?>
              <xsd:element name="epst_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="#epst_format"/>
              <xsd:element name="feeds_locked" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="feeds_locked"/>
              <xsd:element name="first_operation_epst" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' fixed="first_operation_epst"/>
              <xsd:element name="first_operation_pst" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' fixed="first_operation_pst" maxOccurs="1"/>
              <xsd:element name="future_operation_for_hold" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"' fixed="future_operation_for_hold" maxOccurs="1"/>
              <xsd:element name="last_operation_lpst" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' fixed="last_operation_lpst" maxOccurs="1"/>
              <xsd:element name="last_operation_pst" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' fixed="last_operation_pst" maxOccurs="1"/>
              <xsd:element name="lpst_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' fixed="lpst_format" maxOccurs="1"/>
              <xsd:element name="maintain_quantity_locked" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"' maxOccurs="1" fixed="maintain_quantity_locked"/>
              <xsd:element name="manufacturing_order" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' fixed="manufacturing_order" maxOccurs="1"/>
              <xsd:element name="mfg_hold_date" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' fixed="mfg_hold_date" maxOccurs="1"/>
              <xsd:element name="mfg_hold_date_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' fixed="mfg_hold_date_format" maxOccurs="1"/>
              <xsd:element name="mfg_plant_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' fixed="mfg_plant_id" maxOccurs="1"/>
              <xsd:element name="order_quantity_satisfied" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"' fixed="order_quantity_satisfied" maxOccurs="1"/>
              <xsd:element name="routing" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' fixed="routing" maxOccurs="1"/>
              <xsd:element name="pst_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' fixed="pst_format" maxOccurs="1"/>
              <xsd:element name="quantity_locked" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' fixed="quantity_locked" maxOccurs="1"/>
              <xsd:element name="quantity_produced" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' fixed="quantity_produced" maxOccurs="1"/>
              <xsd:element name="previous_quantity_produced" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"' fixed="previous_quantity_produced" maxOccurs="1"/>
              <xsd:element name="routing_locked" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' fixed="routing_locked" maxOccurs="1"/>
              <xsd:element name="sort_priority" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' fixed="sort_priority" maxOccurs="1"/>
              <xsd:element name="specific_routing_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' fixed="specific_routing_id" maxOccurs="1"/>
              <xsd:element name="split_quantity" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' fixed="split_quantity" maxOccurs="1"/>
              <xsd:element name="step_number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' fixed="step_number" maxOccurs="1"/>
              <xsd:element name="origScheduleDate" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' fixed="origScheduleDate" maxOccurs="1"/>                          
              <xsd:element name="create_auto_ato" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}"
                           nxsd:quotedBy='"' fixed="create_auto_ato" maxOccurs="1"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Batch" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="epst_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="feeds_locked" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="first_operation_epst" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="first_operation_pst" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="future_operation_for_hold" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="last_operation_lpst" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="last_operation_pst" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="lpst_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="maintain_quantity_locked" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="manufacturing_order" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="mfg_hold_date" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="mfg_hold_date_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="mfg_plant_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="order_quantity_satisfied" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="routing" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="pst_format" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="quantity_locked" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="quantity_produced" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="previous_quantity_produced" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="routing_locked" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="sort_priority" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="specific_routing_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="split_quantity" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="step_number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="origScheduleDate" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>

              <xsd:element name="create_auto_ato" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}" nxsd:quotedBy="&quot;"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

<xsd:annotation>
      <xsd:appinfo>NXSDSAMPLE=/Users/dikshasawheny/Documents/manufacturing_order_record.csv</xsd:appinfo>
      <xsd:appinfo>USEHEADER=true</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>