Implementation/ABF/NUC_EBiz_JDA_Batch_ABF/SOA/Schemas/part_number_data.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:tns="http://xmlns.oracle.com/NUC_Ebiz_JDA_Batch_ABF/Item/1.0" targetNamespace="http://xmlns.oracle.com/NUC_Ebiz_JDA_Batch_ABF/Item/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:stream="chars" nxsd:encoding="US-ASCII" nxsd:hasHeader="true" nxsd:headerLines="1" nxsd:headerLinesTerminatedBy="${eol}">
  <xsd:element name="ItemList">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ItemHeader">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="create_auto_ato" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="#create_auto_ato"/>
              <xsd:element name="customer_name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="customer_name"/>
              <xsd:element name="demand_part_number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="demand_part_number"/>
              <xsd:element name="description" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="description"/>
              <xsd:element name="part_buffer_style" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="part_buffer_style"/>
              <xsd:element name="part_number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="part_number"/>
              <xsd:element name="part_number_type" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="part_number_type"/>
              <xsd:element name="plan_time_interval" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="plan_time_interval"/>
              <xsd:element name="plan_time_interval_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="plan_time_interval_uom"/>
              <xsd:element name="product_family" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="product_family"/>
              <xsd:element name="sellable" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="sellable"/>
              <xsd:element name="stock_part" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="stock_part"/>
              <xsd:element name="shape" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="shape"/>
              <xsd:element name="grade" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="grade"/>
              <xsd:element name="size" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy='"'
                           maxOccurs="1" fixed="size"/>
              <xsd:element name="thickness" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="thickness"/>
              <xsd:element name="width" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="width"/>
              <xsd:element name="L1" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy='"'
                           maxOccurs="1" fixed="L1"/>
              <xsd:element name="L2" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy='"'
                           maxOccurs="1" fixed="L2"/>
              <xsd:element name="sizeX" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="sizeX"/>
              <xsd:element name="sizeY" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="sizeY"/>
              <xsd:element name="sizeZ" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="sizeZ"/>
              <xsd:element name="radius" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="radius"/>
              <xsd:element name="size_pos_tol" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="size_pos_tol"/>
              <xsd:element name="size_neg_tol" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="size_neg_tol"/>
              <xsd:element name="thickness_pos_tol" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="thickness_pos_tol"/>
              <xsd:element name="thickness_neg_tol" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="thickness_neg_tol"/>
              <xsd:element name="width_pos_tol" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="width_pos_tol"/>
              <xsd:element name="width_neg_tol" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="width_neg_tol"/>
              <xsd:element name="weight_per_foot" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="weight_per_foot"/>
              <xsd:element name="length" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="length"/>
              <xsd:element name="length_pos_tol" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="length_pos_tol"/>
              <xsd:element name="length_neg_tol" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="length_neg_tol"/>
              <xsd:element name="thread_dir" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="thread_dir"/>
              <xsd:element name="coil_weight" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="coil_weight"/>
              <xsd:element name="gauge" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="gauge"/>
              <xsd:element name="class" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="class"/>
              <xsd:element name="min_bundle_weight" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="min_bundle_weight"/>
              <xsd:element name="max_bundle_weight" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="max_bundle_weight"/>
              <xsd:element name="piece_count" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="piece_count"/>
              <xsd:element name="chamfer_ends" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="chamfer_ends"/>
              <xsd:element name="chamfer_amount" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="chamfer_amount"/>
              <xsd:element name="chamfer_angle" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="chamfer_angle"/>
              <xsd:element name="coating" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="coating"/>
              <xsd:element name="base_coat" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="base_coat"/>
              <xsd:element name="tip_coat" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="tip_coat"/>
              <xsd:element name="product_type" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="product_type"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Item" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="create_auto_ato" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="customer_name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="demand_part_number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="description" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="part_buffer_style" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="part_number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="part_number_type" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="plan_time_interval" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="plan_time_interval_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="product_family" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="sellable" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="stock_part" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="shape" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="grade" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="size" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="thickness" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="width" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="L1" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
              <xsd:element name="L2" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
              <xsd:element name="sizeX" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="sizeY" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="sizeZ" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="radius" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="size_pos_tol" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="size_neg_tol" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="thickness_pos_tol" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="thickness_neg_tol" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="width_pos_tol" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="width_neg_tol" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="weight_per_foot" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="length" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="length_pos_tol" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="length_neg_tol" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="thread_dir" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="coil_weight" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="gauge" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="class" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="min_bundle_weight" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="max_bundle_weight" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="piece_count" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="chamfer_ends" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="chamfer_amount" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="chamfer_angle" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="coating" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="base_coat" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="tip_coat" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="product_type" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}"
                           nxsd:quotedBy='"'/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

<xsd:annotation>
      <xsd:appinfo>NXSDSAMPLE=/Users/dikshasawheny/Documents/SHared/part_number_data.csv</xsd:appinfo>
      <xsd:appinfo>USEHEADER=true</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>