Implementation/ABF/NUC_EBiz_JDA_Batch_ABF/SOA/Schemas/Resource_Record.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:tns="http://xmlns.oracle.com/NUC_Ebiz_JDA_Batch_ABF/Resource/1.0" targetNamespace="http://xmlns.oracle.com/NUC_Ebiz_JDA_Batch_ABF/Resource/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:stream="chars" nxsd:encoding="US-ASCII" nxsd:hasHeader="true" nxsd:headerLines="1" nxsd:headerLinesTerminatedBy="${eol}">
  <xsd:element name="ResourceList">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ResourceHeader">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="default_setup_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="#default_setup_time"/>
              <xsd:element name="default_setup_time_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="default_setup_time_uom"/>
              <xsd:element name="earliness_tolerance" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="earliness_tolerance"/>
              <xsd:element name="earliness_tolerance_uom" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"' maxOccurs="1" fixed="earliness_tolerance_uom"/>
              <xsd:element name="estimated_queue_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="estimated_queue_time"/>
              <xsd:element name="estimated_queue_time_uom" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"' maxOccurs="1" fixed="estimated_queue_time_uom"/>
              <xsd:element name="lateness_tolerance" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="lateness_tolerance"/>
              <xsd:element name="lateness_tolerance_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="lateness_tolerance_uom"/>
              <xsd:element name="location" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="location"/>
              <xsd:element name="max_queue_size" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="max_queue_size"/>
              <xsd:element name="minimum_queue_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="minimum_queue_time"/>
              <xsd:element name="minimum_queue_time_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="minimum_queue_time_uom"/>
              <xsd:element name="name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy='"'
                           maxOccurs="1" fixed="name"/>
              <xsd:element name="queue_size_mode" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="queue_size_mode"/>
              <xsd:element name="queue_size_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="queue_size_uom"/>
              <xsd:element name="schedule_freeze_horizon" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"' maxOccurs="1" fixed="schedule_freeze_horizon"/>
              <xsd:element name="schedule_freeze_horizon_uom" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"' maxOccurs="1" fixed="schedule_freeze_horizon_uom"/>
              <xsd:element name="schedule_lock_horizon" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="schedule_lock_horizon"/>
              <xsd:element name="schedule_lock_horizon_uom" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"' maxOccurs="1" fixed="schedule_lock_horizon_uom"/>
              <xsd:element name="scheduling_criticality" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="scheduling_criticality"/>
              <xsd:element name="setup_matrix_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="setup_matrix_id"/>
              <xsd:element name="setup_sequence_go_back_enable" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"' maxOccurs="1" fixed="setup_sequence_go_back_enable"/>
              <xsd:element name="setup_sequence_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="setup_sequence_id"/>
              <xsd:element name="setup2_matrix_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="setup2_matrix_id"/>
              <xsd:element name="setup2_sequence_go_back_enable" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"' maxOccurs="1"
                           fixed="setup2_sequence_go_back_enable"/>
              <xsd:element name="setup2_sequence_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="setup2_sequence_id"/>
              <xsd:element name="setup3_matrix_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="setup3_matrix_id"/>
              <xsd:element name="setup3_sequence_go_back_enable" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"' maxOccurs="1"
                           fixed="setup3_sequence_go_back_enable"/>
              <xsd:element name="setup3_sequence_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="setup3_sequence_id"/>
              <xsd:element name="simultaneous_hierarchical_setups" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"' maxOccurs="1"
                           fixed="simultaneous_hierarchical_setups"/>
              <xsd:element name="task_cutoff_horizon" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="task_cutoff_horizon"/>
              <xsd:element name="task_cutoff_horizon_uom" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"' maxOccurs="1" fixed="task_cutoff_horizon_uom"/>
              <xsd:element name="true_freeze_horizon" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"' maxOccurs="1" fixed="true_freeze_horizon"/>
              <xsd:element name="true_freeze_horizon_uom" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="${eol}" nxsd:quotedBy='"' maxOccurs="1" fixed="true_freeze_horizon_uom"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Resource" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="default_setup_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="default_setup_time_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="earliness_tolerance" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="earliness_tolerance_uom" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
              <xsd:element name="estimated_queue_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="estimated_queue_time_uom" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
              <xsd:element name="lateness_tolerance" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="lateness_tolerance_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="location" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="max_queue_size" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="minimum_queue_time" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="minimum_queue_time_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="queue_size_mode" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="queue_size_uom" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="schedule_freeze_horizon" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
              <xsd:element name="schedule_freeze_horizon_uom" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
              <xsd:element name="schedule_lock_horizon" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="schedule_lock_horizon_uom" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
              <xsd:element name="scheduling_criticality" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="setup_matrix_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="setup_sequence_go_back_enable" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
              <xsd:element name="setup_sequence_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="setup2_matrix_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="setup2_sequence_go_back_enable" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
              <xsd:element name="setup2_sequence_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="setup3_matrix_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="setup3_sequence_go_back_enable" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
              <xsd:element name="setup3_sequence_id" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="simultaneous_hierarchical_setups" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
              <xsd:element name="task_cutoff_horizon" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="task_cutoff_horizon_uom" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="|" nxsd:quotedBy='"'/>
              <xsd:element name="true_freeze_horizon" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|"
                           nxsd:quotedBy='"'/>
              <xsd:element name="true_freeze_horizon_uom" type="xsd:string" nxsd:style="terminated"
                           nxsd:terminatedBy="${eol}" nxsd:quotedBy='"'/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

<xsd:annotation>
      <xsd:appinfo>NXSDSAMPLE=/Users/dikshasawheny/Documents/SHared/Resource.csv</xsd:appinfo>
      <xsd:appinfo>USEHEADER=true</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>