Implementation/ABS/Ebiz/NUC_EBizGLJE_ABS/xsd/OA_CreateJournal_Sync_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/OA_CreateJournal_Sync" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/OA_CreateJournal_Sync" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="GlInterfaceCollection" type="GlInterfaceCollection"/>
   <xs:complexType name="GlInterfaceCollection">
      <xs:sequence>
         <xs:element name="GlInterface" type="GlInterface" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GlInterface">
      <xs:sequence>
         <xs:element name="status">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ledgerId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="accountingDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="currencyCode" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="dateCreated" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="createdBy" type="xs:long" minOccurs="0"/>
         <xs:element name="actualFlag" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="userJeCategoryName" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="userJeSourceName" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="currencyConversionDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="encumbranceTypeId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="budgetVersionId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="userCurrencyConversionType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="currencyConversionRate" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="averageJournalFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="originatingBalSegValue" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment4" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment5" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment6" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment7" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment8" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment9" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment10" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment11" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment12" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment13" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment14" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment15" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment16" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment17" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment18" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment19" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment20" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment21" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment22" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment23" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment24" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment25" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment26" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment27" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment28" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment29" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="segment30" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="enteredDr" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="enteredCr" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="accountedDr" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="accountedCr" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="transactionDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="reference1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference4" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference5" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference6" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference7" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference8" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference9" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference10" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference11" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference12" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference13" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference14" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference15" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference16" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference17" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference18" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference19" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference20" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference21" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference22" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference23" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference24" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference25" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference26" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference27" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference28" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference29" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference30" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="jeBatchId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="periodName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="jeHeaderId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="jeLineNum" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="chartOfAccountsId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="functionalCurrencyCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="codeCombinationId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="dateCreatedInGl" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="warningCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="statusDescription" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="statAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="groupId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="requestId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="subledgerDocSequenceId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="subledgerDocSequenceValue" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="glSlLinkId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="glSlLinkTable" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute4" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute5" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute6" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute7" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute8" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute9" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute10" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute11" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute12" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute13" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute14" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute15" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute16" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute17" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute18" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute19" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute20" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="context" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="context2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="invoiceDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="taxCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="invoiceIdentifier" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="invoiceAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="context3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ussglTransactionCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="descrFlexErrorMessage" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="jgzzReconRef" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="referenceDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="setOfBooksId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="balancingSegmentValue" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="managementSegmentValue" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="fundsReservedFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="codeCombinationIdInterim" type="xs:long" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>