Implementation/ABF/NUC_PayrollAPInvoice_SAP_EBiz_ABF/xsd/ProcessPayrollAP.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/NucorPordSup/NUC_PayrollAPInvoice_SAP_EBiz_ABF/ProcessPayrollAP"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="StartDate" type="string"/>
				<element name="EndDate" type="string"/>
				<element name="DivCode" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>