Implementation/ABF/NSNE_SubscribeQualitySpecs_QMOS_ABF/SOA/Schemas/DB_NSNE_QualitySpec_Stg_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/DB_NSNE_QualitySpec_Stg" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/DB_NSNE_QualitySpec_Stg" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="L2XxnucQualitySpecsStgCollection" type="L2XxnucQualitySpecsStgCollection"/>
   <xs:complexType name="L2XxnucQualitySpecsStgCollection">
      <xs:sequence>
         <xs:element name="L2XxnucQualitySpecsStg" type="L2XxnucQualitySpecsStg" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="L2XxnucQualitySpecsStg">
      <xs:sequence>
         <xs:element name="specId" type="xs:decimal" nillable="true"/>
         <xs:element name="specName" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="specVers" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="specStatus" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="description" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="specType" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="overlayInd" type="string2" minOccurs="0" nillable="true"/>
         <xs:element name="baseSpec" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="baseSpecVersion" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invItem" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="grade" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="ownerOrganizationCode" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="ownerOrganizationName" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="ownerName" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attributeCategory" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute4" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute5" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute6" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute7" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute8" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute9" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute10" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="l2XxnucQspecTestsStgCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="L2XxnucQspecTestsStg" type="L2XxnucQspecTestsStg" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="l2XxnucQspecVrsStgCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="L2XxnucQspecVrsStg" type="L2XxnucQspecVrsStg" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="L2XxnucQspecTestsStg">
      <xs:sequence>
         <xs:element name="seq" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="testName" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="testClass" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="testMethod" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="targetValue" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="minimumValue" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="maximumValue" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="testQty" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="testQtyUom" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="testReplicate" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="testPriority" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="optionalInd" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="retestLotExpiryInd" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="outOfSpecAction" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="checkResultInterval" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="belowSpecMin" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="belowMinActionCode" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="aboveSpecMin" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="aboveMinActionCode" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="belowSpecMax" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="belowMaxActionCode" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="aboveSpecMax" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="aboveMaxActionCode" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="testDisplay" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="printSpecInd" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="printResultInd" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="displayPrecision" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="reportPrecision" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="days" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="hours" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="minutes" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="seconds" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="attributeCategory" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute4" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute5" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute6" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute7" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute8" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute9" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute10" type="string80" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="L2XxnucQspecVrsStg">
      <xs:sequence>
         <xs:element name="specVrId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="organizationCode" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="specVrType" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="specVrStatus" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="startDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="endDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="samplingPlanName" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="coaType" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="coaAtShipInd" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="coaAtInvoiceInd" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="coaFromSupplierInd" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="lotOptionalOnSample" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="autoSampleInd" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="delayedLotEntry" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="delayedLpnEntry" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="controlLotAttrbInd" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="inSpecLotStatus" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="outOfSpecLotStatus" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="sampleInvTransInd" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="operatingUnit" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="parentLotNumber" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="lotNumber" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="subinventory" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="itemLocator" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="batchNo" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="recipeNo" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="recipeVers" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="formulaNo" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="formulaVers" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="formulalineNo" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="routingNo" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="routingVers" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="stepNo" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="charge" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="oprnNo" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="oprnVers" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="controlBatchStepInd" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="autoCompleteBatchStep" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="customerNumber" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="shiptoLocation" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="orderNumber" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="orderType" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="orderLineNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="supplierNo" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="supplierSite" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="poNumber" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="poLineNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="attributreCategory" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute4" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute5" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute6" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute7" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute8" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute9" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="attribute10" type="string80" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string100">
      <xs:restriction base="xs:string">
         <xs:maxLength value="100"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string150">
      <xs:restriction base="xs:string">
         <xs:maxLength value="150"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string240">
      <xs:restriction base="xs:string">
         <xs:maxLength value="240"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string30">
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string2">
      <xs:restriction base="xs:string">
         <xs:maxLength value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string80">
      <xs:restriction base="xs:string">
         <xs:maxLength value="80"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string5">
      <xs:restriction base="xs:string">
         <xs:maxLength value="5"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string10">
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>