Implementation/ABF/NUC_ePayResponse_MFT_EBiz_ABF/SOA/Schemas/OrderBatch.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
    xmlns:tns="http://xmlns.eia.com/fileService" targetNamespace="http://xmlns.eia.com/fileService"
     elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:stream="chars"
     nxsd:encoding="US-ASCII"  nxsd:headerLines="1" nxsd:headerLinesTerminatedBy="${eol}">
    <xsd:element name="Payment">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Order" minOccurs="1" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="REQUEST_ID" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=","
                                 nxsd:quotedBy='"'/>
                            <xsd:element name="ORGANIZATION_ID" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="LOGIN_ID" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=","
                                 nxsd:quotedBy='"'/>
                            <xsd:element name="PASS_PHRASE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="CULTURE" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=","
                                 nxsd:quotedBy='"'/>
                            <xsd:element name="REQUEST_TYPE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ACCOUNT_POOL_ID" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_ID" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=","
                                 nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_SETTLEMENT_METHOD" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_SYSTEM_ID" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_CONTROL_CODE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_STATUS" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_ENTRY_DATE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_BEGIN_DATE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_END_DATE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_ESTIMATED_FREIGHT" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_ESTIMATED_TAX" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_OVER_TOLERANCE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_UNDER_TOLERANCE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_CURRENCY_CODE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_TOTAL" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_CUSTOM_FIELD_NAME" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_CUSTOM_FIELD_NAME_CC" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_CUSTOM_FIELD_VALUE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_NOTES" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_ITEM_ID" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_ITEM_DESCRIPTION" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_ITEM_CONTROL_CODE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_ITEM_UNIT_PRICE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_ITEM_NO_OF_UNITS" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ORDER_ITEM_UNIT_OF_MEASURE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ACCOUNT_ID" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ACCOUNT_NUMBER" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ACCOUNT_CV2" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ACCOUNT_EXPIRATION_DATE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ACCOUNT_AUTHORIZATION_CCL" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                          
                                 
                            <xsd:element name="DAILY_TRANSACTION_LIMIT_AMT" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="DAILY_TRANSACTION_LIMIT_NUM" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="SINGLE_TRANSACTION_LIMIT_AMT" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="MONTHLY_TRANSACTION_LIMIT_NUM" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ACCOUNT_MCCG_CONTROL_CODE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ACCOUNT_MCCG_CODE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ACCOUNT_MCCG_ID" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                             <xsd:element name="SUPPLIER_NAME" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="MERCHANT_EMAIL_CONTROL_CODE" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="MERCHANT_EMAIL_ADDRESS" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="MERCHANT_EMAIL_ID" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="BLANK1" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=","
                                 nxsd:quotedBy='"'/>
                            <xsd:element name="BLANK2" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=","
                                 nxsd:quotedBy='"'/>
                            <xsd:element name="BLANK3" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=","
                                 nxsd:quotedBy='"'/>
                            <xsd:element name="BLANK4" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=","
                                 nxsd:quotedBy='"'/>
                                  <xsd:element name="TRANSACTION_CUSTOM_FIELD_NAME" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=","
                                 nxsd:quotedBy='"'/>
                            <xsd:element name="TRANSACTION_CUSTOM_FIELD_CC" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="TRANSACTION_CUSTOM_FV" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ERROR_NUMBER" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="ERROR_DESCRIPTION" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="," nxsd:quotedBy='"'/>
                            <xsd:element name="CORRELATION_ID" type="xsd:string" nxsd:style="terminated"
                                 nxsd:terminatedBy="${eol}" nxsd:quotedBy='"'/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:annotation>
        <xsd:appinfo>NXSDSAMPLE=/V:/Users/jyoti.kukreja/mywork/NUCORSEATTLE.ORDER.BATCH.20170413013200100.IN.txt</xsd:appinfo>
        <xsd:appinfo>USEHEADER=false</xsd:appinfo>
    </xsd:annotation>
    <xsd:annotation>
        <xsd:appinfo>NXSDSAMPLE=/V:/Users/jyoti.kukreja/mywork/NUCORSEATTLE.ORDER.BATCH.20170413013200100.IN.txt</xsd:appinfo>
        <xsd:appinfo>USEHEADER=false</xsd:appinfo>
    </xsd:annotation>
</xsd:schema>

<!--  xmlns:tns="http://xmlns.eia.com/ePayResponseFile" targetNamespace="http://xmlns.eia.com/ePayResponseFile" -->