Implementation/Infrastructure/EIAMetadata/classes/ABS/EBiz/V1.0/P2P/ReceiptABS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="http://xmlns.eia.com/ABS/EBiz/ReceiptABS/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.eia.com/ABS/EBiz/ReceiptABS/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:porecpam="http://xmlns.eia.com/AO/EBiz/P2P/ReceiptABM/1.0" xmlns:core="http://xmlns.eia.com/EO/Common/1.0">
<wsdl:types>
<xsd:schema>
<xsd:import namespace="http://xmlns.eia.com/AO/EBiz/P2P/ReceiptABM/1.0" schemaLocation="../../../../AO/EBiz/P2P/V1.0/ReceiptABM.xsd"/>
<xsd:import namespace="http://xmlns.eia.com/EO/Common/1.0" schemaLocation="../../../../EO/common/Common.xsd"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="CreateReceiptRequestMessageType">
<wsdl:part name="CreateReceiptRequestMessage" element="porecpam:CreateReceiptRequestMessage"/>
</wsdl:message>
<wsdl:message name="CreateReceiptResponseMessageType">
<wsdl:part name="CreateReceiptResponseMessage" element="porecpam:CreateReceiptResponseMessage"/>
</wsdl:message>
<wsdl:message name="QueryReceiptRequestMessageType">
<wsdl:part name="QueryReceiptRequestMessage" element="porecpam:QueryReceiptRequestMessage"/>
</wsdl:message>
<wsdl:message name="QueryReceiptResponseMessageType">
<wsdl:part name="QueryReceiptResponseMessage" element="porecpam:QueryReceiptResponseMessage"/>
</wsdl:message>
<wsdl:message name="LaunchReceiptRequestMessageType">
<wsdl:part name="LaunchReceiptRequestMessage" element="porecpam:LaunchReceiptRequestMessage"/>
</wsdl:message>
<wsdl:message name="LaunchReceiptResponseMessageType">
<wsdl:part name="LaunchReceiptResponseMessage" element="porecpam:LaunchReceiptResponseMessage"/>
</wsdl:message>

<wsdl:message name="SyncLaunchReceiptRequestMessageType">
<wsdl:part name="SyncLaunchReceiptRequestMessage" element="porecpam:SyncLaunchReceiptRequestMessage"/>
</wsdl:message>
<wsdl:message name="SyncLaunchReceiptResponseMessageType">
<wsdl:part name="SyncLaunchReceiptResponseMessage" element="porecpam:SyncLaunchReceiptResponseMessage"/>
</wsdl:message>


<wsdl:message name="EIAFaultMsgType">
<wsdl:part name="Fault" element="core:Fault"/>
</wsdl:message>
<wsdl:portType name="SyncPortType">
<wsdl:operation name="CreateReceipt_Sync">
<wsdl:input message="tns:CreateReceiptRequestMessageType"/>
<wsdl:output message="tns:CreateReceiptResponseMessageType"/>
<wsdl:fault message="tns:EIAFaultMsgType" name="EIAFault"/>
</wsdl:operation>
<wsdl:operation name="QueryReceiptById_Sync">
<wsdl:input message="tns:QueryReceiptRequestMessageType"/>
<wsdl:output message="tns:QueryReceiptResponseMessageType"/>
<wsdl:fault message="tns:EIAFaultMsgType" name="EIAFault"/>
</wsdl:operation>
<wsdl:operation name="QueryReceiptByPOId_Sync">
<wsdl:input message="tns:QueryReceiptRequestMessageType"/>
<wsdl:output message="tns:QueryReceiptResponseMessageType"/>
<wsdl:fault message="tns:EIAFaultMsgType" name="EIAFault"/>
</wsdl:operation>
<wsdl:operation name="LaunchReceipt_Sync">
<wsdl:input message="tns:LaunchReceiptRequestMessageType"/>
<wsdl:output message="tns:LaunchReceiptResponseMessageType"/>
<wsdl:fault message="tns:EIAFaultMsgType" name="EIAFault"/>
</wsdl:operation>

<wsdl:operation name="SyncLaunchReceipt_Sync">
<wsdl:input message="tns:SyncLaunchReceiptRequestMessageType"/>
<wsdl:output message="tns:SyncLaunchReceiptResponseMessageType"/>
<wsdl:fault message="tns:EIAFaultMsgType" name="EIAFault"/>
</wsdl:operation>

</wsdl:portType>
<wsdl:binding name="SyncBinding" type="tns:SyncPortType">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="CreateReceipt_Sync">
<soap:operation style="document" soapAction="http://xmlns.eia.com/ABS/EBiz/ReceiptABS/1.0/CreateReceipt_Sync"/>
<wsdl:input>
<soap:body use="literal" parts="CreateReceiptRequestMessage"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal" parts="CreateReceiptResponseMessage"/>
</wsdl:output>
<wsdl:fault name="EIAFault">
<soap:fault name="EIAFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="QueryReceiptById_Sync">
<soap:operation style="document" soapAction="http://xmlns.eia.com/ABS/EBiz/ReceiptABS/1.0/QueryReceiptById_Sync"/>
<wsdl:input>
<soap:body use="literal" parts="QueryReceiptRequestMessage"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal" parts="QueryReceiptResponseMessage"/>
</wsdl:output>
<wsdl:fault name="EIAFault">
<soap:fault name="EIAFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="QueryReceiptByPOId_Sync">
<soap:operation style="document" soapAction="http://xmlns.eia.com/ABS/EBiz/ReceiptABS/1.0/QueryReceiptByPOId_Sync"/>
<wsdl:input>
<soap:body use="literal" parts="QueryReceiptRequestMessage"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal" parts="QueryReceiptResponseMessage"/>
</wsdl:output>
<wsdl:fault name="EIAFault">
<soap:fault name="EIAFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="LaunchReceipt_Sync">
<soap:operation style="document" soapAction="http://xmlns.eia.com/ABS/EBiz/ReceiptABS/1.0/LaunchReceipt_Sync"/>
<wsdl:input>
<soap:body use="literal" parts="LaunchReceiptRequestMessage"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal" parts="LaunchReceiptResponseMessage"/>
</wsdl:output>
<wsdl:fault name="EIAFault">
<soap:fault name="EIAFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>

<wsdl:operation name="SyncLaunchReceipt_Sync">
<soap:operation style="document" soapAction="http://xmlns.eia.com/ABS/EBiz/ReceiptABS/1.0/SyncLaunchReceipt_Sync"/>
<wsdl:input>
<soap:body use="literal" parts="SyncLaunchReceiptRequestMessage"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal" parts="SyncLaunchReceiptResponseMessage"/>
</wsdl:output>
<wsdl:fault name="EIAFault">
<soap:fault name="EIAFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>

</wsdl:binding>
<wsdl:service name="ReceiptABS">
<wsdl:port name="SyncPort" binding="tns:SyncBinding">
<soap:address location="http://www.example.org/"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
