Implementation/ABF/NUC_APInvoice_DJJ_EBiz_ABF/SOA/Schemas/DB_GetProfileCostFactorId_sp.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/DB_GetProfileCostFactorId" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/DB_GetProfileCostFactorId" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType/>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="GET_COST_FACTOR_ID" type="decimal" db:index="0" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>
