Implementation/ABS/Ebiz/NUC_PublishEBSItemAttribute_ABS/SOA/Schemas/DB_Get_Item_Attr_Details_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/DB_Get_Item_Attr_Details" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/DB_Get_Item_Attr_Details" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_PROCESS_BATCH_ID" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_REQUEST_ID" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_ITEM_TAB" type="db:XXNUC.XXNUC_GME_ITEM_HDR_TAB_TYPE" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="XXNUC.XXNUC_GME_CATEGORY_TAB_TYPE">
      <sequence>
         <element name="CATEGORY_DTLS_ITEM" type="db:XXNUC.XXNUC_GME_CATEGORY_OBJ_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="XXNUC.XXNUC_GME_CATEGORY_OBJ_TYPE">
      <sequence>
         <element name="INVENTORY_ITEM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CATEGORY_SET_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CATEGORY_SET" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CATEGORY_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SEGMENT1" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT2" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT3" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT4" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT5" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT6" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT7" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT8" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT9" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT10" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT11" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT12" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT13" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT14" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT15" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT16" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT17" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT18" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT19" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT20" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="XXNUC.XXNUC_GME_ITEM_HDR_TAB_TYPE">
      <sequence>
         <element name="P_ITEM_TAB_ITEM" type="db:XXNUC.XXNUC_GME_ITEM_HDR_OBJ_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="XXNUC.XXNUC_GME_UDA_DTLS_TAB_TYPE">
      <sequence>
         <element name="UDA_DETAILS_ITEM" type="db:XXNUC.XXNUC_GME_UDA_DTLS_OBJ_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="XXNUC.XXNUC_GME_UDA_DTLS_OBJ_TYPE">
      <sequence>
         <element name="INVENTORY_ITEM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="UDA_TYPE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTR_GROUP_NAME" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTR_GROUP_DISP_NAME" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTR_GROUP_DESC" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTR_NAME" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTR_DISP_NAME" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTR_VALUE" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTR_VALUE_CONVT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ATTR_SEQ_NUM" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="XXNUC.XXNUC_GME_ITEM_HDR_OBJ_TYPE">
      <sequence>
         <element name="ORGANIZATION_CODE" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ORGANIZATION_NAME" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ORGANIZATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INVENTORY_ITEM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ITEM_NUMBER" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ITEM_DESCRIPTION" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ITEM_LONG_DESCRIPTION" type="db:string4000" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ITEM_CAT_GROUP_NAME" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ITEM_CAT_GROUP_DESC" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ITEM_REVISION" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRIMARY_UOM_CODE" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRIMARY_UNIT_OF_MEASURE" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ITEM_TYPE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="USER_ITEM_TYPE" type="db:string80" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RESOURCE_NAME" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PROD_GROUP" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PROD_CLASS" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BUNDLE_TYPE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="THEO_ACTUAL" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="METRIC_IMPERIAL" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LAST_ERROR" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PROD_TYPE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BUNDLE_PIECES" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BUNDLE_WEIGHT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PARENT_BILLET_PROD_CODE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SPEC_CODE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MELT_PRACTICE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CREATION_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="ACCEPTABLE_EARLY_DAYS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ACCEPTABLE_RATE_DECREASE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ACCEPTABLE_RATE_INCREASE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ACCOUNTING_RULE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ALLOWED_UNITS_LOOKUP_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ALLOW_EXPRESS_DELIVERY_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ALLOW_ITEM_DESC_UPDATE_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ALLOW_SUBSTITUTE_RECEIPTS_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ALLOW_UNORDERED_RECEIPTS_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="APPROVAL_STATUS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ASN_AUTOEXPIRE_FLAG" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ASSET_CATEGORY_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ASSET_CREATION_CODE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATO_FORECAST_CONTROL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ATP_COMPONENTS_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATP_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATP_RULE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE1" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE10" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE11" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE12" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE13" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE14" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE15" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE16" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE17" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE18" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE19" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE2" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE20" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE21" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE22" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE23" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE24" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE25" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE26" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE27" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE28" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE29" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE3" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE30" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE4" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE5" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE6" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE7" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE8" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE9" type="db:string240" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE_CATEGORY" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AUTO_CREATED_CONFIG_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AUTO_LOT_ALPHA_PREFIX" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AUTO_REDUCE_MPS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="AUTO_SERIAL_ALPHA_PREFIX" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BACK_ORDERABLE_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BASE_ITEM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="BASE_WARRANTY_SERVICE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="BOM_ENABLED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BOM_ITEM_TYPE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="BUILD_IN_WIP_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BULK_PICKED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BUYER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CARRYING_COST" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CAS_NUMBER" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CATALOG_STATUS_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CHARGE_PERIODICITY_CODE" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CHECK_SHORTAGES_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CHILD_LOT_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CHILD_LOT_PREFIX" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CHILD_LOT_STARTING_NUMBER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CHILD_LOT_VALIDATION_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COLLATERAL_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COMMS_ACTIVATION_REQD_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COMMS_NL_TRACKABLE_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CONFIG_MATCH" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CONFIG_MODEL_TYPE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CONFIG_ORGS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CONSIGNED_FLAG" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CONTAINER_ITEM_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CONTAINER_TYPE_CODE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CONTINOUS_TRANSFER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CONTRACT_ITEM_TYPE_CODE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CONVERGENCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="COPY_LOT_ATTRIBUTE_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COSTING_ENABLED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COST_OF_SALES_ACCOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="COUPON_EXEMPT_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="COVERAGE_SCHEDULE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CREATE_SUPPLY_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CRITICAL_COMPONENT_FLAG" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CUMULATIVE_TOTAL_LEAD_TIME" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CUM_MANUFACTURING_LEAD_TIME" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CURRENT_PHASE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_ORDER_ENABLED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CUSTOMER_ORDER_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CYCLE_COUNT_ENABLED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DAYS_EARLY_RECEIPT_ALLOWED" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DAYS_LATE_RECEIPT_ALLOWED" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DAYS_MAX_INV_SUPPLY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DAYS_MAX_INV_WINDOW" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DAYS_TGT_INV_SUPPLY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DAYS_TGT_INV_WINDOW" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DEFAULT_GRADE" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DEFAULT_INCLUDE_IN_ROLLUP_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DEFAULT_LOT_STATUS_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DEFAULT_MATERIAL_STATUS_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DEFAULT_SERIAL_STATUS_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DEFAULT_SHIPPING_ORG" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DEFAULT_SO_SOURCE_TYPE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DEFECT_TRACKING_ON_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DEMAND_TIME_FENCE_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DEMAND_TIME_FENCE_DAYS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DIMENSION_UOM_CODE" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DIVERGENCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DOWNLOADABLE_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DRP_PLANNED_FLAG" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DUAL_UOM_CONTROL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DUAL_UOM_DEVIATION_HIGH" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DUAL_UOM_DEVIATION_LOW" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="EAM_ACTIVITY_CAUSE_CODE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EAM_ACTIVITY_SOURCE_CODE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EAM_ACTIVITY_TYPE_CODE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EAM_ACT_NOTIFICATION_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EAM_ACT_SHUTDOWN_STATUS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EAM_ITEM_TYPE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="EFFECTIVITY_CONTROL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="EGO_MASTER_ITEMS_DFF_CTX" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ELECTRONIC_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ENABLED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ENCUMBRANCE_ACCOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="END_ASSEMBLY_PEGGING_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="END_DATE_ACTIVE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="ENFORCE_SHIP_TO_LOCATION_CODE" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ENGINEERING_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="ENGINEERING_ECN_CODE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ENGINEERING_ITEM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ENG_ITEM_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EQUIPMENT_TYPE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="EVENT_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EXCLUDE_FROM_BUDGET_FLAG" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="EXPENSE_ACCOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="EXPENSE_BILLABLE_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EXPIRATION_ACTION_CODE" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EXPIRATION_ACTION_INTERVAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FINANCING_ALLOWED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FIXED_DAYS_SUPPLY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FIXED_LEAD_TIME" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FIXED_LOT_MULTIPLIER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FIXED_ORDER_QUANTITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FORECAST_HORIZON" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FULL_LEAD_TIME" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="GDSN_OUTBOUND_ENABLED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_ATTRIBUTE1" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_ATTRIBUTE10" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_ATTRIBUTE11" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_ATTRIBUTE12" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_ATTRIBUTE13" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_ATTRIBUTE14" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_ATTRIBUTE15" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_ATTRIBUTE16" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_ATTRIBUTE17" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_ATTRIBUTE18" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_ATTRIBUTE19" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_ATTRIBUTE2" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_ATTRIBUTE20" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_ATTRIBUTE3" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_ATTRIBUTE4" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_ATTRIBUTE5" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_ATTRIBUTE6" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_ATTRIBUTE7" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_ATTRIBUTE8" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_ATTRIBUTE9" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GLOBAL_ATTRIBUTE_CATEGORY" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GRADE_CONTROL_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="HAZARDOUS_MATERIAL_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="HAZARD_CLASS_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="HOLD_DAYS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="IB_ITEM_INSTANCE_CLASS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="IB_ITEM_TRACKING_LEVEL" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="INDIVISIBLE_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="INSPECTION_REQUIRED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="INTERNAL_ORDER_ENABLED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="INTERNAL_ORDER_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="INTERNAL_VOLUME" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INVENTORY_ASSET_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="INVENTORY_CARRY_PENALTY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INVENTORY_ITEM_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="INVENTORY_ITEM_STATUS_CODE" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="INVENTORY_PLANNING_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INVOICEABLE_ITEM_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="INVOICE_CLOSE_TOLERANCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INVOICE_ENABLED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="INVOICING_RULE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ITEM_CATALOG_GROUP_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LAST_SUBMITTED_NIR_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATED_BY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="LAST_UPDATE_LOGIN" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LEAD_TIME_LOT_SIZE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LIFECYCLE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LIST_PRICE_PER_UNIT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LOCATION_CONTROL_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LOT_CONTROL_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LOT_DIVISIBLE_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LOT_MERGE_ENABLED" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LOT_SPLIT_ENABLED" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LOT_STATUS_ENABLED" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LOT_SUBSTITUTION_ENABLED" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LOT_TRANSLATE_ENABLED" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MARKET_PRICE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MATERIAL_BILLABLE_FLAG" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MATURITY_DAYS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MAXIMUM_LOAD_WEIGHT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MAXIMUM_ORDER_QUANTITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MAX_MINMAX_QUANTITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MAX_WARRANTY_AMOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MINIMUM_FILL_PERCENT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MINIMUM_LICENSE_QUANTITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MINIMUM_ORDER_QUANTITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MIN_MINMAX_QUANTITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MODEL_CONFIG_CLAUSE_NAME" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MRP_CALCULATE_ATP_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MRP_PLANNING_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MRP_SAFETY_STOCK_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MRP_SAFETY_STOCK_PERCENT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MTL_TRANSACTIONS_ENABLED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MUST_USE_APPROVED_VENDOR_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NEGATIVE_MEASUREMENT_ERROR" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NEW_REVISION_CODE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OBJECT_VERSION_NUMBER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ONT_PRICING_QTY_SOURCE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OPERATION_SLACK_PENALTY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OPTION_SPECIFIC_SOURCED" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ORDERABLE_ON_WEB_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ORDER_COST" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OUTSIDE_OPERATION_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OUTSIDE_OPERATION_UOM_TYPE" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OUTSOURCED_ASSEMBLY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OVERCOMPLETION_TOLERANCE_TYPE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OVERCOMPLETION_TOLERANCE_VALUE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OVERRUN_PERCENTAGE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OVER_RETURN_TOLERANCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="OVER_SHIPMENT_TOLERANCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PARENT_CHILD_GENERATION_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PAYMENT_TERMS_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PICKING_RULE_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PICK_COMPONENTS_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PLANNED_INV_POINT_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PLANNER_CODE" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PLANNING_EXCEPTION_SET" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PLANNING_MAKE_BUY_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PLANNING_TIME_FENCE_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PLANNING_TIME_FENCE_DAYS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="POSITIVE_MEASUREMENT_ERROR" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="POSTPROCESSING_LEAD_TIME" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PREPOSITION_POINT" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PREPROCESSING_LEAD_TIME" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PREVENTIVE_MAINTENANCE_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRICE_TOLERANCE_PERCENT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PRIMARY_SPECIALIST_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROCESS_COSTING_ENABLED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PROCESS_EXECUTION_ENABLED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PROCESS_QUALITY_ENABLED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PROCESS_SUPPLY_LOCATOR_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROCESS_SUPPLY_SUBINVENTORY" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PROCESS_YIELD_LOCATOR_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROCESS_YIELD_SUBINVENTORY" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRODUCT_FAMILY_ITEM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_APPLICATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROGRAM_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="PRORATE_SERVICE_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PURCHASING_ENABLED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PURCHASING_ITEM_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PURCHASING_TAX_CODE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="QTY_RCV_EXCEPTION_CODE" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="QTY_RCV_TOLERANCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RECEIPT_DAYS_EXCEPTION_CODE" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RECEIPT_REQUIRED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RECEIVE_CLOSE_TOLERANCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RECEIVING_ROUTING_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RECIPE_ENABLED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RECOVERED_PART_DISP_CODE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RELEASE_TIME_FENCE_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RELEASE_TIME_FENCE_DAYS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REPAIR_LEADTIME" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REPAIR_PROGRAM" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REPAIR_YIELD" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REPETITIVE_PLANNING_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="REPLENISH_TO_ORDER_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="REQUEST_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RESERVABLE_TYPE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RESPONSE_TIME_PERIOD_CODE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RESPONSE_TIME_VALUE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RESTRICT_LOCATORS_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RESTRICT_SUBINVENTORIES_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RETEST_INTERVAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RETURNABLE_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RETURN_INSPECTION_REQUIREMENT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REVISION_QTY_CONTROL_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RFQ_REQUIRED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ROUNDING_CONTROL_TYPE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ROUNDING_FACTOR" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SAFETY_STOCK_BUCKET_DAYS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SALES_ACCOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SECONDARY_DEFAULT_IND" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SECONDARY_SPECIALIST_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SECONDARY_UOM_CODE" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT1" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT10" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT11" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT12" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT13" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT14" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT15" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT16" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT17" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT18" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT19" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT2" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT20" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT3" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT4" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT5" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT6" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT7" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT8" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEGMENT9" type="db:string40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SERIAL_NUMBER_CONTROL_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SERIAL_STATUS_ENABLED" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SERIAL_TAGGING_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SERVICEABLE_COMPONENT_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SERVICEABLE_ITEM_CLASS_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SERVICEABLE_PRODUCT_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SERVICE_DURATION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SERVICE_DURATION_PERIOD_CODE" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SERVICE_ITEM_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SERVICE_STARTING_DELAY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SERV_BILLING_ENABLED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SERV_IMPORTANCE_LEVEL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SERV_REQ_ENABLED_CODE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SHELF_LIFE_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SHELF_LIFE_DAYS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SHIPPABLE_ITEM_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SHIP_MODEL_COMPLETE_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SHRINKAGE_RATE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SOURCE_ORGANIZATION_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SOURCE_SUBINVENTORY" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SOURCE_TYPE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SO_AUTHORIZATION_FLAG" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SO_TRANSACTIONS_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="START_AUTO_LOT_NUMBER" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="START_AUTO_SERIAL_NUMBER" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="START_DATE_ACTIVE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="STD_LOT_SIZE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="STOCK_ENABLED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="STYLE_ITEM_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="STYLE_ITEM_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SUBCONTRACTING_COMPONENT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SUBSCRIPTION_DEPEND_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SUBSTITUTION_WINDOW_CODE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SUBSTITUTION_WINDOW_DAYS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SUMMARY_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TAXABLE_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TAX_CODE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIME_BILLABLE_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TRACKING_QUANTITY_IND" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TRADE_ITEM_DESCRIPTOR" type="db:string35" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="UNDER_RETURN_TOLERANCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="UNDER_SHIPMENT_TOLERANCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="UNIT_HEIGHT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="UNIT_LENGTH" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="UNIT_OF_ISSUE" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="UNIT_VOLUME" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="UNIT_WEIGHT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="UNIT_WIDTH" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="UN_NUMBER_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="USAGE_ITEM_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VARIABLE_LEAD_TIME" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VEHICLE_ITEM_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VENDOR_WARRANTY_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VMI_FIXED_ORDER_QUANTITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VMI_FORECAST_TYPE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VMI_MAXIMUM_DAYS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VMI_MAXIMUM_UNITS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VMI_MINIMUM_DAYS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VMI_MINIMUM_UNITS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VOLUME_UOM_CODE" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VOL_DISCOUNT_EXEMPT_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="WARRANTY_VENDOR_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="WEB_STATUS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="WEIGHT_UOM_CODE" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="WH_UPDATE_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="WIP_SUPPLY_LOCATOR_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="WIP_SUPPLY_SUBINVENTORY" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="WIP_SUPPLY_TYPE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="UDA_DETAILS" type="db:XXNUC.XXNUC_GME_UDA_DTLS_TAB_TYPE" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="CATEGORY_DTLS" type="db:XXNUC.XXNUC_GME_CATEGORY_TAB_TYPE" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string240">
      <restriction base="string">
         <maxLength value="240"/>
      </restriction>
   </simpleType>
   <simpleType name="string40">
      <restriction base="string">
         <maxLength value="40"/>
      </restriction>
   </simpleType>
   <simpleType name="string4000">
      <restriction base="string">
         <maxLength value="4000"/>
      </restriction>
   </simpleType>
   <simpleType name="string80">
      <restriction base="string">
         <maxLength value="80"/>
      </restriction>
   </simpleType>
   <simpleType name="string25">
      <restriction base="string">
         <maxLength value="25"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string150">
      <restriction base="string">
         <maxLength value="150"/>
      </restriction>
   </simpleType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string35">
      <restriction base="string">
         <maxLength value="35"/>
      </restriction>
   </simpleType>
</schema>
