Implementation/Infrastructure/EIAMetadata/classes/ABS/EBiz/V1.0/O2C/CustomerABS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="http://xmlns.eia.com/ABS/EBiz/CustomerABS/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:tns="http://xmlns.eia.com/ABS/EBiz/CustomerABS/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
xmlns:custam="http://xmlns.eia.com/AO/EBiz/O2C/CustomerAM/1.0" 
xmlns:core="http://xmlns.eia.com/EO/Common/1.0">
<wsdl:types>
<xsd:schema>
<xsd:import namespace="http://xmlns.eia.com/AO/EBiz/O2C/CustomerAM/1.0" schemaLocation="../../../../AO/EBiz/O2C/V1.0/CustomerAM.xsd"/>
<xsd:import namespace="http://xmlns.eia.com/EO/Common/1.0" schemaLocation="../../../../EO/common/Common.xsd"/>
</xsd:schema>
</wsdl:types>




<wsdl:message name="QueryByOrigSystemRef_BasicCustomerRequestMessageType">
<wsdl:part name="payload" element="custam:QueryByOrigSystemRef_BasicCustomerRequestMessage"/>
</wsdl:message>
<wsdl:message name="QueryByOrigSystemRef_BasicCustomerResponseMessageType">
<wsdl:part name="payload" element="custam:QueryByOrigSystemRef_BasicCustomerResponseMessage"/>
</wsdl:message>

<wsdl:message name="QueryByOrigSystemRef_BasicSiteRequestMessageType">
<wsdl:part name="payload" element="custam:QueryByOrigSystemRef_BasicSiteRequestMessage"/>
</wsdl:message>
<wsdl:message name="QueryByOrigSystemRef_BasicSiteResponseMessageType">
<wsdl:part name="payload" element="custam:QueryByOrigSystemRef_BasicSiteResponseMessage"/>
</wsdl:message>


<wsdl:message name="EIAFaultMsgType">
<wsdl:part name="Fault" element="core:Fault"/>
</wsdl:message>

<wsdl:portType name="SyncPortType">

<wsdl:operation name="QueryByOrigSystemRef_Sync">
<wsdl:input message="tns:QueryByOrigSystemRef_BasicCustomerRequestMessageType"/>
<wsdl:output message="tns:QueryByOrigSystemRef_BasicCustomerResponseMessageType"/>
<wsdl:fault message="tns:EIAFaultMsgType" name="EIAFault"/>
</wsdl:operation>

<wsdl:operation name="QueryByOrigSystemRef_SiteSync">
<wsdl:input message="tns:QueryByOrigSystemRef_BasicSiteRequestMessageType"/>
<wsdl:output message="tns:QueryByOrigSystemRef_BasicSiteResponseMessageType"/>
<wsdl:fault message="tns:EIAFaultMsgType" name="EIAFault"/>
</wsdl:operation>


</wsdl:portType>
    <wsdl:binding name="SyncPort" type="tns:SyncPortType">

    	<soap:binding style="document"
    		transport="http://schemas.xmlsoap.org/soap/http" />
    	<wsdl:operation name="QueryByOrigSystemRef_Sync">

    		<soap:operation
    			soapAction="http://xmlns.eia.com/ABS/EBiz/CustomerABS/1.0/QueryByOrigSystemRef_Sync" />
    		<wsdl:input>

    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="literal" />
    		</wsdl:output>
    		<wsdl:fault name="EIAFault">

    			<soap:fault use="literal" name="EIAFault" />
    		</wsdl:fault>
    	</wsdl:operation>
    	<wsdl:operation name="QueryByOrigSystemRef_SiteSync">
    		<soap:operation
    			soapAction="http://xmlns.eia.com/ABS/EBiz/CustomerABS/1.0/QueryByOrigSystemRef_SiteSync" />
    		<wsdl:input>
    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="literal" />
    		</wsdl:output>
    		<wsdl:fault name="EIAFault">
    			<soap:fault use="literal" name="EIAFault" />
    		</wsdl:fault>
    	</wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CustomerABS">

        <wsdl:port name="SyncPort" binding="tns:SyncPort">
        	<soap:address location="http://www.example.org/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>