Implementation/Infrastructure/EIAMetadata/classes/Infrastracture/wsdls/V1.0/EIAConfigBPELProcess.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<!--$Header$-->
<definitions
     name="EIAConfigBPELProcess"
     targetNamespace="http://xmlns.eia.com/Infrastructure/EIAConfigBPELProcess/V1.0"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns1="http://xmlns.eia.com/Infrastructure/scehmas/EIAConfigAO/V1.0"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:client="http://xmlns.eia.com/Infrastructure/EIAConfigBPELProcess/V1.0"
    >
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.eia.com/Infrastructure/scehmas/EIAConfigAO/V1.0" schemaLocation="../../../Infrastracture/schemas/V1.0/EIAConfigAO.xsd"/>
        </xsd:schema>
    </types>
    <message name="SystemPropertyRequestType">
        <part name="payload" element="ns1:SystemPropertyRequest"/>
    </message>

    <message name="ModulePropertyRequestType">
        <part name="payload" element="ns1:ModulePropertyRequest"/>
    </message>

    <message name="ServicePropertyRequestType">
        <part name="payload" element="ns1:ServicePropertyRequest"/>
    </message>

    <message name="ConfigReloadRequestType">
        <part name="payload" element="ns1:ConfigReloadRequest"/>
    </message>

    <message name="ConfigResponseType">
        <part name="payload" element="ns1:ConfigResponse"/>
    </message>


    <portType name="EIAConfigBPELProcess">
        <operation name="getSystemProperty">
            <input message="client:SystemPropertyRequestType"/>
            <output message="client:ConfigResponseType"/>   
        </operation>

        <operation name="getSystemModuleProperty">
            <input message="client:ModulePropertyRequestType"/>
            <output message="client:ConfigResponseType"/>   
        </operation>

        <operation name="getServiceProperty">
            <input message="client:ServicePropertyRequestType"/>
            <output message="client:ConfigResponseType"/>   
        </operation>

        <operation name="reloadEIAConfig">
            <input message="client:ConfigReloadRequestType"/>
        </operation>

    </portType>

    <plnk:partnerLinkType name="EIAConfigBPELProcess">
        <plnk:role name="EIAConfigBPELProcess">
            <plnk:portType name="client:EIAConfigBPELProcess"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>

