Implementation/OTM/SendItemRefDataToOtm/WshSendItemRefDataToOtm.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WshSendItemRefDataToOtm"
             targetNamespace="http://xmlns.oracle.com/apps/wsh/outbound/ref/WshSendItemRefDataToOtm"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:ref="http://xmlns.oracle.com/apps/wsh/outbound/util/WshOtmGlobalOutbound"
             xmlns:client="http://xmlns.oracle.com/apps/wsh/outbound/ref/WshSendItemRefDataToOtm"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	TYPE DEFINITION - List of services participating in this BPEL process
	The default output of the BPEL designer uses strings as input and 
	output to the BPEL Process. But you can define or import any XML 
	Schema type and us them as part of the message types.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->   
	<types>
		<schema attributeFormDefault="qualified"
			elementFormDefault="qualified"
			targetNamespace="http://xmlns.oracle.com/apps/wsh/outbound/ref/WshSendItemRefDataToOtm"
			xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://xmlns.oracle.com/apps/wsh/outbound/util/WshOtmGlobalOutbound"
      schemaLocation="oramds:/apps/EIAMetadata/AO/OTM/common/V1.0/WshOtmGlobalOutbound.xsd"/>
			<element name="WshSendItemRefDataToOtmProcessRequest">
				<complexType>
					<sequence>
						<element name="input" type="ref:tOutboundInput"/>
					</sequence>
				</complexType>
			</element>
			<element name="WshSendItemRefDataToOtmProcessResponse">
				<complexType>
					<sequence>
						<element name="result" type="ref:tOutboundOutput"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	MESSAGE TYPE DEFINITION - Definition of the message types used as 
	part of the port type defintions
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->      
	<message name="WshSendItemRefDataToOtmRequestMessage">
		<part name="payload" element="client:WshSendItemRefDataToOtmProcessRequest"/>
	</message>
	<message name="WshSendItemRefDataToOtmResponseMessage">
		<part name="payload" element="client:WshSendItemRefDataToOtmProcessResponse"/>
	</message>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PORT TYPE DEFINITION - A port type groups a set of operations into
	a logical service unit.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<!-- portType implemented by the WshSendItemRefDataToOtm BPEL process -->
	<portType name="WshSendItemRefDataToOtm">
		<operation name="process">
			<input  message="client:WshSendItemRefDataToOtmRequestMessage" />
			<output message="client:WshSendItemRefDataToOtmResponseMessage"/>
		</operation>
	</portType>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PARTNER LINK TYPE DEFINITION
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --> 
	<plnk:partnerLinkType name="WshSendItemRefDataToOtm">
		<plnk:role name="WshSendItemRefDataToOtmProvider">
			<plnk:portType name="client:WshSendItemRefDataToOtm"/>
		</plnk:role>
	</plnk:partnerLinkType>
</definitions>
