mds/apps/EIAMetadata/AO/EBiz/P2P/V1.0/OrganizationAO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:orgao="http://xmlns.eia.com/AO/EBiz/P2P/OrganizationAO/1.0" targetNamespace="http://xmlns.eia.com/AO/EBiz/P2P/OrganizationAO/1.0"
            elementFormDefault="qualified" xmlns:commoneo="http://xmlns.eia.com/AO/EBiz/common/CommonAO/1.0" xmlns:whoao="http://xmlns.eia.com/AO/EBiz/common/WhoAO/1.0" >
 <xsd:import namespace="http://xmlns.eia.com/AO/EBiz/common/CommonAO/1.0" schemaLocation="../../common/V1.0/CommonAO.xsd"/>
 <xsd:import namespace="http://xmlns.eia.com/AO/EBiz/common/WhoAO/1.0" schemaLocation="../../common/V1.0/WhoAO.xsd"/>
 
 <xsd:complexType name="OrganizationRequestType">
  <xsd:sequence>
   <xsd:choice>
    <xsd:element name="OrganizationId" type="xsd:string" maxOccurs="1" minOccurs="0"/>
    <xsd:element name="OrganizationName" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   </xsd:choice>
   <xsd:element name="OrganizationType" type="xsd:string" maxOccurs="1" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 
 <xsd:complexType name="OrganizationInfoType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ActualContentSource" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AnalysisFy" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Attributes" type="commoneo:CommonDFFType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AvgHighCredit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="BestTimeContactBegin" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="BestTimeContactEnd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="BranchFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="BusinessScope" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CategoryCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CEOName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CEOTitle" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CongDistCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ControlYr" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CorporationClass" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScore" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreAge" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreClass" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreCommentary" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreCommentary10" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreCommentary2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreCommentary3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreCommentary4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreCommentary5" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreCommentary6" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreCommentary7" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreCommentary8" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreCommentary9" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreIncdDefault" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreNatlPercentile" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CurrFyPotentialRevenue" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DbRating" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DebarmentsCount" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DebarmentsDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DebarmentInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Disadv8aInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DisplayedDunsPartyId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DoNotConfuseWith" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DunsNumberC" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EmployeesTotal" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EmpAtPrimaryAdr" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EmpAtPrimaryAdrEstInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EmpAtPrimaryAdrMinInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EmpAtPrimaryAdrText" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EnquiryDuns" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ExportInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScore" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreAge" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreClass" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreCommentary" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreCommentary10" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreCommentary2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreCommentary3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreCommentary4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreCommentary5" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreCommentary6" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreCommentary7" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreCommentary8" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreCommentary9" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreIncdDefault" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreNatnlPer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreOverrideCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FiscalYearendMonth" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="GlobalFailureScore" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="GsaIndicatorFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="HighCredit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="HqBranchInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ImportInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="IncorpYear" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="InternalFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="JgzzFiscalCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="KnownAs" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="KnownAs2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="KnownAs3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="KnownAs4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="KnownAs5" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="LaborSurplusInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="LastUpdatedByName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="LastUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="LegalStatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="LineOfBusiness" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="LocalActivityCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="LocalActivityCodeType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="LocalBusIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="LocalBusIdenType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="MaximumCreditCurrencyCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="MaximumCreditRecommend" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="MinorityOwnedInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="MinorityOwnedType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="MissionStatement" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="NextFyPotentialRevenue" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OobInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrganizationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrganizationName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrganizationNamePhonetic" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrganizationType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystem" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystemReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentSubInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PartyNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PaydexNorm" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PaydexScore" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PaydexThreeMonthsAgo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrefFunctionalCurrency" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrincipalName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrincipalTitle" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PublicPrivateOwnerFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RegistrationType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RentOwnInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Salutation" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="SicCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="SicCodeType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="SmallBusInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="TaxReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="TotalEmployeesInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="TotalEmployeesText" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="TotalEmpEstInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="TotalEmpMinInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="TotalPayments" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ValidatedFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="WomanOwnedInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="YearEstablished" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfExtensionAttributes" type="orgao:ListOfExtensionAttributesType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfOrigSystemReferences" type="orgao:ListOfOrigSystemReferencesType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfContactPreferences" type="orgao:ListOfContactPreferencesType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfOrganizationContacts" type="orgao:ListOfOrganizationContactsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfPartySites" type="orgao:ListOfPartySitesType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfPartyPreferences" type="orgao:ListOfPartyPreferencesType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfPhoneContactPoints" type="orgao:ListOfPhoneContactPointsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfTELEXContactPoints" type="orgao:ListOfTELEXContactPointsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfEmailContactPoints" type="orgao:ListOfEmailContactPointsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfWebContactPoints" type="orgao:ListOfWebContactPointsType" minOccurs="0" maxOccurs="1"/>
    <xsd:element name="ListOfEDIContactPoints" type="orgao:ListOfEDIContactPointsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfElectronicFundTransfers" type="orgao:ListOfElectronicFundTransfersType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfRelationShips" type="orgao:ListOfRelationShipsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfClasses" type="orgao:ListOfCodeAssignmentsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfFinancialReports" type="orgao:ListOfFinancialsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfCreditRatings" type="orgao:ListOfCreditRatingsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfCertifications" type="orgao:ListOfCertificationsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfFinancialProfiles" type="orgao:ListOfFinancialProfilesType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfPartyUsages" type="orgao:ListOfPartyUsagesType" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="EmailContactPointType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ActualContentSource" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Attributes" type="commoneo:CommonDFFType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ContactPointPurpose" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreatedByModule" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreatedByName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreationDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EmailAddress" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EmailFormat" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EmailId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="LastUpdatedByName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="LastUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystem" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystemReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrimaryByPurpose" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrimaryFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfOrigSystemReferences" type="orgao:ListOfOrigSystemReferencesType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfContactPreferences" type="orgao:ListOfContactPreferencesType" minOccurs="0" maxOccurs="1"/>
   <!-- need to have two objects -->
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ContactPreferenceType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ContactPreferenceId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ContactType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreatedByModule" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="MaxNoOfInteractions" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="MaxNoOfInteractUomCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PreferenceCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PreferenceEndDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PreferenceEndTimeHr" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PreferenceEndTimeMi" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PreferenceStartDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PreferenceStartTimeHr" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PreferenceStartTimeMi" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PreferenceTopicType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PreferenceTopicTypeCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PreferenceTopicTypeId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ReasonCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RequestedBy" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ElectronicFundTransferType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ActualContentSource" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Attributes" type="commoneo:CommonDFFType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ContactPointPurpose" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreatedByModule" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreatedByName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreationDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EftId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EftPrintingProgramId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EftSwiftCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EftTransmissionProgramId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EftUserNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="LastUpdatedByName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="LastUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystem" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystemReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrimaryByPurpose" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrimaryFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfOrigSystemReferences" type="orgao:ListOfOrigSystemReferencesType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfContactPreferences" type="orgao:ListOfContactPreferencesType" minOccurs="0" maxOccurs="1"/>
   <!-- two -->
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="RelationShipType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ActualContentSource" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Attributes" type="commoneo:CommonDFFType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation" type="commoneo:AdditionalInfoType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Comments" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreatedByModule" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EndDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PercentageOwnership" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RelatedObjectId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RelatedObjectOs" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RelatedObjectOsr" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RelatedObjectType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RelationshipCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RelationshipId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RelationshipType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="StartDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfOrigSystemReferences" type="orgao:ListOfOrigSystemReferencesType" minOccurs="0" maxOccurs="1"/>
   <!-- one -->
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="CodeAssignmentType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ActualContentSource" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ClassCategory" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ClassCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CodeAssignmentId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreatedByModule" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EndDateActive" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrimaryFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Rank" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="StartDateActive" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="TELEXType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ActualContentSource" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ContactPointPurpose" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreatedByModule" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Attributes" type="commoneo:CommonDFFType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystemReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrimaryByPurpose" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrimaryFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="TelexId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="TelexNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfOrigSystemReferences" type="orgao:ListOfOrigSystemReferencesType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfContactPreferences" type="orgao:ListOfContactPreferencesType" minOccurs="0" maxOccurs="1"/>
   <!-- TWO -->
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="PartyUsageType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Attributes" type="commoneo:CommonDFFType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Comments" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EffectiveEndDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EffectiveStartDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PartyUsageCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PartyUsgAssignmentId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="PersonProfileType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ActualContentSource" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Attributes" type="commoneo:CommonDFFType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CategoryCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreatedByModule" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DateOfBirth" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DateOfDeath" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DeceasedFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DeclaredEthnicity" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Gender" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="HeadOfHouseholdFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="HouseholdIncome" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="HouseholdSize" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="InternalFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="JgzzFiscalCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="KnownAs" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="KnownAs2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="KnownAs3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="KnownAs4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="KnownAs5" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="LastKnownGps" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="MaritalStatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="MaritalStatusEffDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="MiddleNamePhonetic" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystem" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystemReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PartyNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PersonalIncome" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PersonAcademicTitle" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PersonFirstName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PersonFirstNamePhonetic" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PersonId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PersonIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PersonIdenType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PersonInitials" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PersonLastName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PersonLastNamePhonetic" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PersonMiddleName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PersonNamePhonetic" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PersonNameSuffix" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PersonPreviousLastName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PersonPreNameAdjunct" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PersonTitle" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PlaceOfBirth" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RentOwnInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Salutation" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="TaxReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ValidatedFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfOrigSystemReferences" type="orgao:ListOfOrigSystemReferencesType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfExtensionAttributes" type="orgao:ListOfExtensionAttributesType" minOccurs="0" maxOccurs="1"/>
   <!-- two -->
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="PartySiteUseType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Comments" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreatedByModule" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PartySiteId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PartySiteUseId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrimaryPerType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="SiteUseType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="SMSContactPointType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ActualContentSource" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AttributeCategory" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ContactPointPurpose" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreatedByModule" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="LastContactDtTime" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystem" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystemReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PhoneAreaCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PhoneCallingCalendar" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PhoneCountryCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PhoneExtension" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PhoneLineType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PhoneNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrimaryByPurpose" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrimaryFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RawPhoneNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="SmsId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="TimezoneId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfOrigSystemReferences" type="orgao:ListOfOrigSystemReferencesType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfContactPreferences" type="orgao:ListOfContactPreferencesType" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="FinancialNumberType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ActualContentSource" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreatedByModule" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FinancialNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FinancialNumberCurrency" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FinancialNumberId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FinancialNumberName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FinancialReportId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FinancialUnitsApplied" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProjectedActualFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="OrigSystemReferenceType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Attributes" type="commoneo:CommonDFFType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreatedByModule" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ObjectId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ObjectType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OldOrigSystemReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystem" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystemReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystemRefId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ReasonCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="StartDateActive" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="PhoneContactPointType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ActualContentSource" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ContactPointPurpose" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreatedByModule" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="LastContactDtTime" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystem" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystemReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PhoneAreaCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PhoneCallingCalendar" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PhoneCountryCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PhoneExtension" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PhoneId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PhoneLineType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PhoneNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrimaryByPurpose" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrimaryFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RawPhoneNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="TimezoneId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Attributes" type="commoneo:CommonDFFType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfOrigSystemReferences" type="orgao:ListOfOrigSystemReferencesType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfContactPreferences" type="orgao:ListOfContactPreferencesType" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="PartySiteType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ActualContentSource" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Addressee" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="GlobalLocationNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="IdentifyingAddressFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Language" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Mailstop" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystem" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystemReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PartySiteId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PartySiteName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PartySiteNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Attributes" type="commoneo:CommonDFFType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
   
   <xsd:element name="ListOfOrigSystemReferences" type="orgao:ListOfOrigSystemReferencesType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfExtensionAttributes" type="orgao:ListOfExtensionAttributesType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfLocations" type="orgao:ListOfLocationsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfPartySiteUses" type="orgao:ListOfPartySiteUsesType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfPhoneContactPoints" type="orgao:ListOfPhoneContactPointsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfTELEXContactPoints" type="orgao:ListOfTELEXContactPointsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfEmailContactPoints" type="orgao:ListOfEmailContactPointsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfWebContactPoints" type="orgao:ListOfWebContactPointsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfContactPreferences" type="orgao:ListOfContactPreferencesType" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="FinancialType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ActualContentSource" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AuditInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ConsolidatedInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreatedByModule" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DateReportIssued" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DocumentReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EstimatedInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FinalInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FinancialReportId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FiscalInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ForecastInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="IssuedPeriod" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OpeningInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrganizationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProformaInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="QualifiedInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ReportEndDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ReportStartDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RequiringAuthority" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RestatedInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="SignedByPrincipalsInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="TrialBalanceInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="TypeOfFinancialReport" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="UnbalancedInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfFinancialNumbers" type="orgao:ListOfFinancialNumbersType" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="CertificationType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CertificationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CertificationName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CurrentStatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ExpiresOnDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Grade" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="IssuedByAuthority" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="IssuedOnDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="EDIContactPointType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ActualContentSource" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ContactPointPurpose" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreatedByModule" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EdiEceTpLocationCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EdiId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EdiIdNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EdiPaymentFormat" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EdiPaymentMethod" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EdiRemittanceInstruction" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EdiRemittanceMethod" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EdiTpHeaderId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EdiTransactionHandling" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystem" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystemReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrimaryByPurpose" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrimaryFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Attributes" type="commoneo:CommonDFFType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfOrigSystemReferences" type="orgao:ListOfOrigSystemReferencesType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfContactPreferences" type="orgao:ListOfContactPreferencesType" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="PartyPreferenceType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalValue1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalValue2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalValue3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalValue4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalValue5" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Category" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Module" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PartyPreferenceId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PreferenceCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ValueDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ValueName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ValueNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ValueVarchar2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ExtensionAttributeType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AttrDisplayValue" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AttrGroupId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AttrGroupName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AttrGroupType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AttrName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AttrValueDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AttrValueNum" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AttrValueStr" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ExtensionId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RowIdentifier" type="xsd:string" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="FinancialProfileType">
  <xsd:sequence>
   <xsd:element name="AccessAuthorityDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AccessAuthorityGranted" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="BalanceAmount" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="BalanceVerifiedOnDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FinancialAccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FinancialAccountType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FinancialOrganizationName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FinancialOrgType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FinancialProfileId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="OrganizationContactRoleType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreatedByModule" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrgContactId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrgContactRoleId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystem" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystemReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrimaryContactPerRoleType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrimaryFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RoleLevel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RoleType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfOrigSystemReferences" type="orgao:ListOfOrigSystemReferencesType" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="LocationType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ActualContentSource" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AddressEffectiveDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AddressExpirationDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AddressKey" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AddressLinesPhonetic" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ClliCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreatedByModule" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DeliveryPointCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FaLocationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="GeometryStatusCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Language" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="LocationDirections" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="LocationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="LocHierarchyId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystem" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystemReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Position" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PostalPlus4Code" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="SalesTaxGeocode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="SalesTaxInsideCityLimits" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ShortDescription" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Address" type="commoneo:AddressType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="TimezoneId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ValidatedFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Attributes" type="commoneo:CommonDFFType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfOrigSystemReferences" type="orgao:ListOfOrigSystemReferencesType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfExtensionAttributes" type="orgao:ListOfExtensionAttributesType" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="OrganizationContactType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Comments" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ContactNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreatedByModule" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DecisionMakerFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Department" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DepartmentCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="EndDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="JobTitle" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="JobTitleCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrganizationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrgContactId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystem" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystemReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PartySiteId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Rank" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ReferenceUseFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RelationshipCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RelationshipComments" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RelationshipType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="StartDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Title" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Attributes" type="commoneo:CommonDFFType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfOrigSystemReferences" type="orgao:ListOfOrigSystemReferencesType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PersonProfile" type="orgao:PersonProfileType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfOrganizationContactRoles" type="orgao:ListOfOrganizationContactRolesType" minOccurs="0" maxOccurs="1"/>
    <xsd:element name="ListOfPartySites" type="orgao:ListOfPartySitesType" minOccurs="0" maxOccurs="1"/>
<xsd:element name="ListOfPhoneContactPoints" type="orgao:ListOfPhoneContactPointsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfTELEXContactPoints" type="orgao:ListOfTELEXContactPointsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfEmailContactPoints" type="orgao:ListOfEmailContactPointsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfWebContactPoints" type="orgao:ListOfWebContactPointsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfSMSContactPoints" type="orgao:ListOfSMSContactPointsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfContactPreferences" type="orgao:ListOfContactPreferencesType" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="WebContactPointType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ActualContentSource" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ContactPointPurpose" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreatedByModule" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystem" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrigSystemReference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ParentObjectType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrimaryByPurpose" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrimaryFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Url" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="WebId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="WebType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Attributes" type="commoneo:CommonDFFType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfOrigSystemReferences" type="orgao:ListOfOrigSystemReferencesType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ListOfContactPreferences" type="orgao:ListOfContactPreferencesType" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="CreditRatingType">
  <xsd:sequence>
   <xsd:element name="ActionType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ActualContentSource" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AvgHighCredit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="BankruptcyInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="BusinessDiscontinued" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ClaimsInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Comments" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CommonObjId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreatedByModule" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditRatingId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScore" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreAge" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreClass" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreCommentary" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreCommentary10" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreCommentary2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreCommentary3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreCommentary4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreCommentary5" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreCommentary6" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreCommentary7" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreCommentary8" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreCommentary9" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreIncdDefault" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreNatlPercentile" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CreditScoreOverrideCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CriminalProceedingInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="CrScrClasExpl" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DebarmentsCount" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DebarmentsDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DebarmentInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DelqPmtPctgForAllFirms" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DelqPmtRngPrcnt" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DetHistoryInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="DisasterInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScore" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreAge" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreClass" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreCommentary" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreCommentary10" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreCommentary2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreCommentary3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreCommentary4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreCommentary5" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreCommentary6" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreCommentary7" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreCommentary8" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreCommentary9" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreIncdDefault" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreNatnlPer" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FailureScoreOverrideCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FinclEmbtInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="FinclLglEventInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="GlobalFailureScore" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="HighCredit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="HighRngDelqScr" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="JudgementInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="LienInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="LowRngDelqScr" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="MaximumCreditCurrencyCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="MaximumCreditRcmd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="NegvPmtExpl" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="NoTradeInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="NumPrntBkcyConvs" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="NumPrntBkcyFiling" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="NumSpclEvent" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="NumTradeExperiences" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OprgSpecEvntInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OrganizationId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="OtherSpecEvntInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PaydexComment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PaydexFirmComment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PaydexFirmDays" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PaydexIndustryComment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PaydexIndustryDays" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PaydexNorm" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PaydexScore" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PaydexThreeMonthsAgo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrntBkcyChapterConv" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrntBkcyConvDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrntBkcyFilgChapter" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrntBkcyFilgDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrntBkcyFilgType" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PrntHqBkcyInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ProgramUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="PubRecExpl" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RatedAsOfDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Rating" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="RatingOrganization" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="SecuredFlngInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="SlowTradeExpl" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="SpclEventComment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="SpclEventUpdateDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="SpclEvntTxt" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="SuitInd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Who" type="whoao:WhoColumnsType" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfFinancialNumbersType">
  <xsd:sequence>
   <xsd:element name="FinancialNumber" type="orgao:FinancialNumberType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfOrganizationContactRolesType">
  <xsd:sequence>
   <xsd:element name="OrganizationContactRole" type="orgao:OrganizationContactRoleType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfFinancialProfilesType">
  <xsd:sequence>
   <xsd:element name="FinancialProfile" type="orgao:FinancialProfileType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfEmailContactPointsType">
  <xsd:sequence>
   <xsd:element name="EmailContactPoint" type="orgao:EmailContactPointType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfCertificationsType">
  <xsd:sequence>
   <xsd:element name="Certification" type="orgao:CertificationType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfPartySitesType">
  <xsd:sequence>
   <xsd:element name="PartySite" type="orgao:PartySiteType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfPartySiteUsesType">
  <xsd:sequence>
   <xsd:element name="PartySiteUse" type="orgao:PartySiteUseType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfEDIContactPointsType">
  <xsd:sequence>
   <xsd:element name="EDIContactPoint" type="orgao:EDIContactPointType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfExtensionAttributesType">
  <xsd:sequence>
   <xsd:element name="ExtensionAttribute" type="orgao:ExtensionAttributeType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfRelationShipsType">
  <xsd:sequence>
   <xsd:element name="RelationShip" type="orgao:RelationShipType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfPhoneContactPointsType">
  <xsd:sequence>
   <xsd:element name="PhoneContactPoint" type="orgao:PhoneContactPointType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfPartyUsagesType">
  <xsd:sequence>
   <xsd:element name="PartyUsage" type="orgao:PartyUsageType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfWebContactPointsType">
  <xsd:sequence>
   <xsd:element name="WebContactPoint" type="orgao:WebContactPointType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfOrigSystemReferencesType">
  <xsd:sequence>
   <xsd:element name="OrigSystemReference" type="orgao:OrigSystemReferenceType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfCodeAssignmentsType">
  <xsd:sequence>
   <xsd:element name="CodeAssignment" type="orgao:CodeAssignmentType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfSMSContactPointsType">
  <xsd:sequence>
   <xsd:element name="SMSContactPoint" type="orgao:SMSContactPointType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfFinancialsType">
  <xsd:sequence>
   <xsd:element name="Financial" type="orgao:FinancialType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfOrganizationContactsType">
  <xsd:sequence>
   <xsd:element name="OrganizationContact" type="orgao:OrganizationContactType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfElectronicFundTransfersType">
  <xsd:sequence>
   <xsd:element name="ElectronicFundTransferContactPoint" type="orgao:ElectronicFundTransferType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfPartyPreferencesType">
  <xsd:sequence>
   <xsd:element name="PartyPreference" type="orgao:PartyPreferenceType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfCreditRatingsType">
  <xsd:sequence>
   <xsd:element name="CreditRating" type="orgao:CreditRatingType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfContactPreferencesType">
  <xsd:sequence>
   <xsd:element name="ContactPreference" type="orgao:ContactPreferenceType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfTELEXContactPointsType">
  <xsd:sequence>
   <xsd:element name="TELEXContactPoint" type="orgao:TELEXType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfLocationsType">
  <xsd:sequence>
   <xsd:element name="Location" type="orgao:LocationType" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>

</xsd:schema>