mds/apps/EIAMetadata/ABS/EBiz/V1.0/P2P/PurchaseRequisitionABS.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions targetNamespace="http://xmlns.eia.com/ABS/EBiz/PurchaseRequisitionABS/1.0"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://xmlns.eia.com/ABS/EBiz/PurchaseRequisitionABS/1.0"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:core="http://xmlns.eia.com/EO/Common/1.0"
             xmlns:pram="http://xmlns.eia.com/AO/EBiz/P2P/PurchaseRequisitionAM/1.0">
  <wsdl:types>
    <xsd:schema>
        <xsd:import namespace="http://xmlns.eia.com/AO/EBiz/P2P/PurchaseRequisitionAM/1.0" schemaLocation="../../../../AO/EBiz/P2P/V1.0/PurchaseRequisitionAM.xsd"/>
        <xsd:import namespace="http://xmlns.eia.com/EO/Common/1.0" schemaLocation="../../../../EO/common/Common.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreatePurchaseRequisitionRequestMessageType">
    <wsdl:part name="CreatePurchaseRequisitionRequestMessage" element="pram:CreatePurchaseRequisitionRequestMessage"/>
  </wsdl:message>
  <wsdl:message name="CreatePurchaseRequisitionResponseMessageType">
    <wsdl:part name="CreatePurchaseRequisitionResponseMessage" element="pram:CreatePurchaseRequisitionResponseMessage"/>
  </wsdl:message>
  <wsdl:message name="CancelPurchaseRequisitionRequestMessageType">
    <wsdl:part name="CancelPurchaseRequisitionRequestMessage" element="pram:CancelPurchaseRequisitionRequestMessage"/>
  </wsdl:message>
  <wsdl:message name="CancelPurchaseRequisitionResponseMessageType">
    <wsdl:part name="CancelPurchaseRequisitionResponseMessage" element="pram:CancelPurchaseRequisitionResponseMessage"/>
  </wsdl:message>
  <wsdl:message name="EIAFaultMsgType">
<wsdl:part name="Fault" element="core:Fault"/>
</wsdl:message>
<wsdl:portType name="SyncPortType">
<wsdl:operation name="CreatePurchaseRequisition_Sync">
<wsdl:input message="tns:CreatePurchaseRequisitionRequestMessageType"/>
<wsdl:output message="tns:CreatePurchaseRequisitionResponseMessageType"/>
<wsdl:fault message="tns:EIAFaultMsgType" name="EIAFault"/>
</wsdl:operation>

<wsdl:operation name="CancelPurchaseRequisition_Sync">
<wsdl:input message="tns:CancelPurchaseRequisitionRequestMessageType"/>
<wsdl:output message="tns:CancelPurchaseRequisitionResponseMessageType"/>
<wsdl:fault message="tns:EIAFaultMsgType" name="EIAFault"/>
</wsdl:operation>
</wsdl:portType>
  <wsdl:binding name="SyncPort" type="tns:SyncPortType">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CreatePurchaseRequisition_Sync">
      <soap:operation style="document"
                      soapAction="http://xmlns.eia.com/ABS/EBiz/PurchaseRequisitionABS/1.0/CreatePurchaseRequisition_Sync"/>
      <wsdl:input>
        <soap:body use="literal"
                   parts="CreatePurchaseRequisitionRequestMessage"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"
                   parts="CreatePurchaseRequisitionResponseMessage"/>
      </wsdl:output>
      <wsdl:fault name="EIAFault">
        <soap:fault name="EIAFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelPurchaseRequisition_Sync">
      <soap:operation style="document"
                      soapAction="http://xmlns.eia.com/ABS/EBiz/PurchaseRequisitionABS/1.0/CancelPurchaseRequisition_Sync"/>
      <wsdl:input>
        <soap:body use="literal"
                   parts="CancelPurchaseRequisitionRequestMessage"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"
                   parts="CancelPurchaseRequisitionResponseMessage"/>
      </wsdl:output>
      <wsdl:fault name="EIAFault">
        <soap:fault name="EIAFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PurchaseRequisitionABS">
    <wsdl:port name="SyncPort" binding="tns:SyncPort">
      <soap:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
