mds/apps/EIAMetadata/ABS/EBiz/V1.0/P2P/SupplierABS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="http://xmlns.eia.com/ABS/EBiz/SupplierABS/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:tns="http://xmlns.eia.com/ABS/EBiz/SupplierABS/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
xmlns:suplam="http://xmlns.eia.com/AO/EBiz/P2P/SupplierAM/1.0" 
xmlns:core="http://xmlns.eia.com/EO/Common/1.0">
<wsdl:types>
<xsd:schema>
<xsd:import namespace="http://xmlns.eia.com/AO/EBiz/P2P/SupplierAM/1.0" schemaLocation="../../../../AO/EBiz/P2P/V1.0/SupplierAM.xsd"/>
<xsd:import namespace="http://xmlns.eia.com/EO/Common/1.0" schemaLocation="../../../../EO/common/Common.xsd"/>
</xsd:schema>
</wsdl:types>




<wsdl:message name="QueryByOrigSystemRef_BasicSupplierRequestMessageType">
<wsdl:part name="payload" element="suplam:QueryByOrigSystemRef_BasicSupplierRequestMessage"/>
</wsdl:message>
<wsdl:message name="QueryByOrigSystemRef_BasicSupplierResponseMessageType">
<wsdl:part name="payload" element="suplam:QueryByOrigSystemRef_BasicSupplierResponseMessage"/>
</wsdl:message>

<wsdl:message name="QueryByOrigSystemRef_BasicSupplierSiteRequestMessageType">
<wsdl:part name="payload" element="suplam:QueryByOrigSystemRef_BasicSupplierSiteRequestMessage"/>
</wsdl:message>
<wsdl:message name="QueryByOrigSystemRef_BasicSupplierSiteResponseMessageType">
<wsdl:part name="payload" element="suplam:QueryByOrigSystemRef_BasicSupplierSiteResponseMessage"/>
</wsdl:message>

<wsdl:message name="EIAFaultMsgType">
<wsdl:part name="Fault" element="core:Fault"/>
</wsdl:message>

<wsdl:portType name="SyncPortType">

<wsdl:operation name="QueryByOrigSystemRef_Sync">
<wsdl:input message="tns:QueryByOrigSystemRef_BasicSupplierRequestMessageType"/>
<wsdl:output message="tns:QueryByOrigSystemRef_BasicSupplierResponseMessageType"/>
<wsdl:fault message="tns:EIAFaultMsgType" name="EIAFault"/>
</wsdl:operation>

<wsdl:operation name="QueryByOrigSystemRef_SupplierSiteSync">
<wsdl:input message="tns:QueryByOrigSystemRef_BasicSupplierSiteRequestMessageType"/>
<wsdl:output message="tns:QueryByOrigSystemRef_BasicSupplierSiteResponseMessageType"/>
<wsdl:fault message="tns:EIAFaultMsgType" name="EIAFault"/>
</wsdl:operation>

</wsdl:portType>
    <wsdl:binding name="SyncPort" type="tns:SyncPortType">

    	<soap:binding style="document"
    		transport="http://schemas.xmlsoap.org/soap/http" />
    	<wsdl:operation name="QueryByOrigSystemRef_Sync">

    		<soap:operation
    			soapAction="http://xmlns.eia.com/ABS/EBiz/SupplierABS/1.0/QueryByOrigSystemRef_Sync" />
    		<wsdl:input>

    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>

    			<soap:body use="literal" />
    		</wsdl:output>
    		<wsdl:fault name="EIAFault">

    			<soap:fault use="literal" name="EIAFault" />
    		</wsdl:fault>
    	</wsdl:operation>
    	<wsdl:operation name="QueryByOrigSystemRef_SupplierSiteSync">
    		<soap:operation
    			soapAction="http://xmlns.eia.com/ABS/EBiz/SupplierABS/1.0/QueryByOrigSystemRef_SupplierSiteSync" />
    		<wsdl:input>
    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="literal" />
    		</wsdl:output>
    		<wsdl:fault name="EIAFault">
    			<soap:fault use="literal" name="EIAFault" />
    		</wsdl:fault>
    	</wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SupplierABS">
        <wsdl:port name="SyncPort" binding="tns:SyncPort">
        	<soap:address location="http://www.example.org/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>