Implementation/ABF/NUC_PublishPayment_EBiz_ABF/xsd/DB_Get_payment_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/DB_Get_payment" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/DB_Get_payment" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ApChecksAllCollection" type="ApChecksAllCollection"/>
   <xs:element name="ApChecksAll" type="ApChecksAll"/>
   <xs:complexType name="ApChecksAllCollection">
      <xs:sequence>
         <xs:element name="ApChecksAll" type="ApChecksAll" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ApChecksAll">
      <xs:sequence>
         <xs:element name="amount" type="xs:decimal" minOccurs="0"/>
         <xs:element name="bankAccountId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="bankAccountName" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="checkDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="checkId" type="xs:long"/>
         <xs:element name="checkNumber" type="xs:long" minOccurs="0"/>
         <xs:element name="currencyCode" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="lastUpdatedBy" type="xs:long" minOccurs="0"/>
         <xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="paymentMethodLookupCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="paymentTypeFlag" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addressLine1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addressLine2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addressLine3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="checkrunName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="255"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="checkFormatId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="checkStockId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="city" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="country" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="createdBy" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdateLogin" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="statusLookupCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vendorName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vendorSiteCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="zip" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="bankAccountNum" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="bankAccountType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="bankNum" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="checkVoucherNum" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="clearedAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="clearedDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="docCategoryCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="docSequenceId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="docSequenceValue" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="province" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="releasedAt" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="18"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="releasedBy" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="state" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="stoppedAt" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="18"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="stoppedBy" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="voidDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute10" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute11" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute12" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute13" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute14" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute15" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute4" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute5" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute6" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute7" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute8" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute9" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attributeCategory" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="futurePayDueDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="treasuryPayDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="treasuryPayNumber" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="ussglTransactionCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ussglTrxCodeContext" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="withholdingStatusLookupCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reconciliationBatchId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="clearedBaseAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="clearedExchangeRate" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="clearedExchangeDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="clearedExchangeRateType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addressLine4" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="county" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="addressStyle" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="orgId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="vendorId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="vendorSiteId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="exchangeRate" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="exchangeDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="exchangeRateType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="baseAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="checkrunId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="requestId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="clearedErrorAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="clearedChargesAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="clearedErrorBaseAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="clearedChargesBaseAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="positivePayStatusCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttributeCategory" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute4" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute5" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute6" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute7" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute8" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute9" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute10" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute11" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute12" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute13" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute14" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute15" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute16" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute17" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute18" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute19" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute20" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="transferPriority" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="externalBankAccountId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="stampDutyAmt" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="stampDutyBaseAmt" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="mrcClearedBaseAmount" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="mrcClearedExchangeRate" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="mrcClearedExchangeDate" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="mrcClearedExchangeRateType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="mrcExchangeRate" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="mrcExchangeDate" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="mrcExchangeRateType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="mrcBaseAmount" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="mrcClearedErrorBaseAmount" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="mrcClearedChargesBaseAmt" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="mrcStampDutyBaseAmt" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="maturityExchangeDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="maturityExchangeRateType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="maturityExchangeRate" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="description" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="actualValueDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="anticipatedValueDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="releasedDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="stoppedDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="mrcMaturityExgDate" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="mrcMaturityExgRate" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="mrcMaturityExgRateType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ibanNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="40"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ceBankAcctUseId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="paymentMethodCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="partyId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="partySiteId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="paymentProfileId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="settlementPriority" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="bankChargeBearer" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="legalEntityId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="paymentDocumentId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="completedPmtsGroupId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="paymentId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="paymentInstructionId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="voidCheckNumber" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="voidCheckId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="remitToSupplierName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="remitToSupplierId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="remitToSupplierSite" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="remitToSupplierSiteId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="relationshipId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="paycardAuthorizationNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="paycardReferenceId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="acknowledgedFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>