Implementation/OTM/SendTripToOtmService/WshSendTripToOtmService.wsdl

<definitions
     name="WshSendTripToOtmService"
     targetNamespace="http://xmlns.oracle.com/apps/wsh/outbound/txn/WshSendTripToOtmService"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:txn="http://xmlns.oracle.com/apps/wsh/outbound/util/WshOtmGlobalOutbound"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:client="http://xmlns.oracle.com/apps/wsh/outbound/txn/WshSendTripToOtmService"
    >
    <types>
        <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/wsh/outbound/txn/WshSendTripToOtmService"
             xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/apps/wsh/outbound/util/WshOtmGlobalOutbound"
                 schemaLocation="oramds:/apps/EIAMetadata/AO/OTM/common/V1.0/WshOtmGlobalOutbound.xsd"/>
            <element name="WshSendTripToOtmServiceProcessRequest">
                <complexType>
                    <sequence>
                        <element name="input" type="txn:tOutboundInput"/>
                    </sequence>
                </complexType>
            </element>
            <element name="WshSendTripToOtmServiceProcessResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="txn:tOutboundOutput"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    <message name="WshSendTripToOtmServiceFaultMessage">
        <part name="payload" type="xsd:string"/>
    </message>
    <message name="WshSendTripToOtmServiceResponseMessage">
        <part name="payload" element="client:WshSendTripToOtmServiceProcessResponse"/>
    </message>
    <message name="WshSendTripToOtmServiceRequestMessage">
        <part name="payload" element="client:WshSendTripToOtmServiceProcessRequest"/>
    </message>
    <portType name="WshSendTripToOtmService">
        <operation name="process">
            <input message="client:WshSendTripToOtmServiceRequestMessage"/>
            <output message="client:WshSendTripToOtmServiceResponseMessage"/>
            <fault message="client:WshSendTripToOtmServiceFaultMessage" name="faultError"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="WshSendTripToOtmService">
        <plnk:role name="WshSendTripToOtmServiceProvider">
            <plnk:portType name="client:WshSendTripToOtmService"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
