Implementation/OTM/SendTxnToOtmService/WshSendTxnToOtmService.wsdl

<definitions
     name="WshSendTxnToOtmService"
     targetNamespace="http://xmlns.oracle.com/apps/wsh/outbound/txn/WshSendTxnToOtmService"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:txn="http://xmlns.oracle.com/apps/wsh/outbound/util/WshOtmGlobalOutbound"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:client="http://xmlns.oracle.com/apps/wsh/outbound/txn/WshSendTxnToOtmService"
    >
    <types>
        <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/wsh/outbound/txn/WshSendTxnToOtmService"
             xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/apps/wsh/outbound/util/WshOtmGlobalOutbound"
                 schemaLocation="oramds:/apps/EIAMetadata/AO/OTM/common/V1.0/WshOtmGlobalOutbound.xsd"/>
            <element name="WshSendTxnToOtmServiceProcessRequest">
                <complexType>
                    <sequence>
                        <element name="input" type="txn:tOutboundInput"/>
                    </sequence>
                </complexType>
            </element>
            <element name="WshSendTxnToOtmServiceProcessResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="txn:tOutboundOutput"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    <message name="WshSendTxnToOtmServiceRequestMessage">
        <part name="payload" element="client:WshSendTxnToOtmServiceProcessRequest"/>
    </message>
    <message name="WshSendTxnToOtmServiceFaultMessage">
        <part name="payload" type="xsd:string"/>
    </message>
    <message name="WshSendTxnToOtmServiceResponseMessage">
        <part name="payload" element="client:WshSendTxnToOtmServiceProcessResponse"/>
    </message>
    <portType name="WshSendTxnToOtmService">
        <operation name="process">
            <input message="client:WshSendTxnToOtmServiceRequestMessage"/>
            <output message="client:WshSendTxnToOtmServiceResponseMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="WshSendTxnToOtmService">
        <plnk:role name="WshSendTxnToOtmServiceProvider">
            <plnk:portType name="client:WshSendTxnToOtmService"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>