Implementation/OTM/NUC_ReceiveShipStatus_OTM_EBiz_ABF/Schemas/DB_GetBusinessDomainName_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/DB_GetBusinessDomainName" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/DB_GetBusinessDomainName" elementFormDefault="qualified">
   <element name="InputParameters">
      <!--Empty Parameter List-->
      <complexType/>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="GET_NUC_BUSINESS_DIVN" type="string" db:index="0" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>
