mds/apps/EIAMetadata/ABS/OTM/V1.0/delivery/WshSendLocRefDataToOtm.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions
     name="WshSendLocRefDataToOtm"
     targetNamespace="http://xmlns.oracle.com/apps/wsh/outbound/ref/WshSendLocRefDataToOtm"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ref="http://xmlns.oracle.com/apps/wsh/outbound/util/WshOtmGlobalOutbound"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:client="http://xmlns.oracle.com/apps/wsh/outbound/ref/WshSendLocRefDataToOtm"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <!--documentation>
        <abstractWSDL>http://rzmkea252.rz.nucorsteel.local:8001/soa-infra/services/otm/WshSendLocRefDataToOtm!1.0/WshSendLocRefDataToOtm.wsdl</abstractWSDL>
    </documentation-->
    <plnk:partnerLinkType name="WshSendLocRefDataToOtm">
        <plnk:role name="WshSendLocRefDataToOtmProvider">
            <plnk:portType name="client:WshSendLocRefDataToOtm"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <types>
        <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/wsh/outbound/ref/WshSendLocRefDataToOtm"
             xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/apps/wsh/outbound/util/WshOtmGlobalOutbound"
                 schemaLocation="../../../../AO/OTM/common/V1.0/WshOtmGlobalOutbound.xsd"/>
            <element name="WshSendLocRefDataToOtmProcessRequest">
                <complexType>
                    <sequence>
                        <element name="input" type="ref:tOutboundInput"/>
                    </sequence>
                </complexType>
            </element>
            <element name="WshSendLocRefDataToOtmProcessResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="ref:tOutboundOutput"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    <message name="WshSendLocRefDataToOtmRequestMessage">
        <part name="payload" element="client:WshSendLocRefDataToOtmProcessRequest"/>
    </message>
    <message name="WshSendLocRefDataToOtmResponseMessage">
        <part name="payload" element="client:WshSendLocRefDataToOtmProcessResponse"/>
    </message>
    <message name="WshLocRefErrorMessage">
        <part name="payload" type="xsd:string"/>
    </message>
    <portType name="WshSendLocRefDataToOtm">
        <operation name="process">
            <input message="client:WshSendLocRefDataToOtmRequestMessage"/>
            <output message="client:WshSendLocRefDataToOtmResponseMessage"/>
        </operation>
    </portType>
    <binding name="WshSendLocRefDataToOtmBinding" type="client:WshSendLocRefDataToOtm">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="process">
            <soap:operation style="document" soapAction="process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="WshSendLocRefDataToOtm">
        <port name="WshSendLocRefDataToOtm" binding="client:WshSendLocRefDataToOtmBinding">
            <soap:address location="http://example.org"/>
        </port>
    </service>
</definitions>
