Implementation/ABS/Ebiz/NUC_PublisherEBSTrips_ABS/SOA/CommonLogging.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://nucor.eia.com/CommonLogging"
     xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="Input">
        <complexType>
            <sequence>
                <element name="TransactionId" type="string" minOccurs="1"/>
                <element name="ProjectName" type="string" minOccurs="0"/>
                <element name="ComponentId" type="string" minOccurs="0"/>
                <element name="TransactionName" type="string" minOccurs="0"/>
                <element name="ProcessName" type="string" minOccurs="0"/>
                <element name="LoggingSystem" type="integer" minOccurs="0"/>
                <element name="SourceSystem" type="integer" minOccurs="0"/>
                <element name="TargetSystem" type="integer" minOccurs="0"/>
                <element name="LogType" type="integer" minOccurs="0"/>
                <element name="MessageCode" type="string" minOccurs="0"/>
                <element name="MessageDescription" type="string" minOccurs="0"/>
                <element name="TransactionStatus" type="integer" minOccurs="0"/>
                <element name="CreatedBy" type="string" minOccurs="0"/>
                <element name="UpdatedBy" type="string" minOccurs="0"/>
                <element name="StringAttribute1" type="string" minOccurs="0"/>
                <element name="StringAttribute2" type="string" minOccurs="0"/>
                <element name="NumberAttribute1" type="integer" minOccurs="0"/>
                <element name="NumberAttribute2" type="integer" minOccurs="0"/>
            </sequence>
        </complexType>
    </element>
</schema>
