Implementation/ABF/NUC_GLPayroll_SAP_EBS_ABF/SOA/WSDLs/NucorSAPData.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
    
     targetNamespace="www.Nucor.com"
     xmlns:s="http://www.w3.org/2001/XMLSchema"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:tns="www.Nucor.com"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
     xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
     xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="www.Nucor.com">
            <s:element name="AAATest_RunID">
                <s:complexType/>
            </s:element>
            <s:element name="AAATest_RunIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="AAATest_RunIDResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Get_SAP_FIPosting">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="StartPostingDate" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="EndPostingDate" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="DivCode" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Environment" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Get_SAP_FIPostingResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="Get_SAP_FIPostingResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Get_SAP_FIPosting_Via_RunID_List">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="RunID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="DivCode" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Environment" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Get_SAP_FIPosting_Via_RunID_ListResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="Get_SAP_FIPosting_Via_RunID_ListResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Get_Pos_Pay">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="DivCode" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="PostingDate" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Environment" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Get_Pos_PayResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="Get_Pos_PayResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AuthPropsReadUserName">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="readUser" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AuthPropsReadUserNameResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="AuthPropsReadUserNameResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UpdateAuthProps">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="Parm1" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Parm2" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UpdateAuthPropsResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="UpdateAuthPropsResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="IsUserAuthorized">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="DivCode" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="IsUserAuthorizedResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="IsUserAuthorizedResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetPending_SAP_Text_Files">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="Environment" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetPending_SAP_Text_FilesResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetPending_SAP_Text_FilesResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="AAATest_RunIDSoapIn">
        <wsdl:part name="parameters" element="tns:AAATest_RunID"/>
    </wsdl:message>
    <wsdl:message name="AAATest_RunIDSoapOut">
        <wsdl:part name="parameters" element="tns:AAATest_RunIDResponse"/>
    </wsdl:message>
    <wsdl:message name="Get_SAP_FIPostingSoapIn">
        <wsdl:part name="parameters" element="tns:Get_SAP_FIPosting"/>
    </wsdl:message>
    <wsdl:message name="Get_SAP_FIPostingSoapOut">
        <wsdl:part name="parameters" element="tns:Get_SAP_FIPostingResponse"/>
    </wsdl:message>
    <wsdl:message name="Get_SAP_FIPosting_Via_RunID_ListSoapIn">
        <wsdl:part name="parameters" element="tns:Get_SAP_FIPosting_Via_RunID_List"/>
    </wsdl:message>
    <wsdl:message name="Get_SAP_FIPosting_Via_RunID_ListSoapOut">
        <wsdl:part name="parameters" element="tns:Get_SAP_FIPosting_Via_RunID_ListResponse"/>
    </wsdl:message>
    <wsdl:message name="Get_Pos_PaySoapIn">
        <wsdl:part name="parameters" element="tns:Get_Pos_Pay"/>
    </wsdl:message>
    <wsdl:message name="Get_Pos_PaySoapOut">
        <wsdl:part name="parameters" element="tns:Get_Pos_PayResponse"/>
    </wsdl:message>
    <wsdl:message name="AuthPropsReadUserNameSoapIn">
        <wsdl:part name="parameters" element="tns:AuthPropsReadUserName"/>
    </wsdl:message>
    <wsdl:message name="AuthPropsReadUserNameSoapOut">
        <wsdl:part name="parameters" element="tns:AuthPropsReadUserNameResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateAuthPropsSoapIn">
        <wsdl:part name="parameters" element="tns:UpdateAuthProps"/>
    </wsdl:message>
    <wsdl:message name="UpdateAuthPropsSoapOut">
        <wsdl:part name="parameters" element="tns:UpdateAuthPropsResponse"/>
    </wsdl:message>
    <wsdl:message name="IsUserAuthorizedSoapIn">
        <wsdl:part name="parameters" element="tns:IsUserAuthorized"/>
    </wsdl:message>
    <wsdl:message name="IsUserAuthorizedSoapOut">
        <wsdl:part name="parameters" element="tns:IsUserAuthorizedResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPending_SAP_Text_FilesSoapIn">
        <wsdl:part name="parameters" element="tns:GetPending_SAP_Text_Files"/>
    </wsdl:message>
    <wsdl:message name="GetPending_SAP_Text_FilesSoapOut">
        <wsdl:part name="parameters" element="tns:GetPending_SAP_Text_FilesResponse"/>
    </wsdl:message>
    <wsdl:portType name="SapDataSoap">
        <wsdl:operation name="AAATest_RunID">
            <wsdl:input message="tns:AAATest_RunIDSoapIn"/>
            <wsdl:output message="tns:AAATest_RunIDSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Get_SAP_FIPosting">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get SAP FI Posting Data</wsdl:documentation>
            <wsdl:input message="tns:Get_SAP_FIPostingSoapIn"/>
            <wsdl:output message="tns:Get_SAP_FIPostingSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Get_SAP_FIPosting_Via_RunID_List">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get SAP FI Posting Data Via comma separated list of RunIDs.</wsdl:documentation>
            <wsdl:input message="tns:Get_SAP_FIPosting_Via_RunID_ListSoapIn"/>
            <wsdl:output message="tns:Get_SAP_FIPosting_Via_RunID_ListSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Get_Pos_Pay">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Pos Pay Data</wsdl:documentation>
            <wsdl:input message="tns:Get_Pos_PaySoapIn"/>
            <wsdl:output message="tns:Get_Pos_PaySoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="AuthPropsReadUserName">
            <wsdl:input message="tns:AuthPropsReadUserNameSoapIn"/>
            <wsdl:output message="tns:AuthPropsReadUserNameSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateAuthProps">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Write pre-defined authorization properties to database</wsdl:documentation>
            <wsdl:input message="tns:UpdateAuthPropsSoapIn"/>
            <wsdl:output message="tns:UpdateAuthPropsSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="IsUserAuthorized">
            <wsdl:input message="tns:IsUserAuthorizedSoapIn"/>
            <wsdl:output message="tns:IsUserAuthorizedSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetPending_SAP_Text_Files">
            <wsdl:input message="tns:GetPending_SAP_Text_FilesSoapIn"/>
            <wsdl:output message="tns:GetPending_SAP_Text_FilesSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SapDataSoap" type="tns:SapDataSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AAATest_RunID">
            <soap:operation style="document" soapAction="www.Nucor.com/AAATest_RunID"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Get_SAP_FIPosting">
            <soap:operation style="document" soapAction="www.Nucor.com/Get_SAP_FIPosting"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Get_SAP_FIPosting_Via_RunID_List">
            <soap:operation style="document" soapAction="www.Nucor.com/Get_SAP_FIPosting_Via_RunID_List"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Get_Pos_Pay">
            <soap:operation style="document" soapAction="www.Nucor.com/Get_Pos_Pay"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AuthPropsReadUserName">
            <soap:operation style="document" soapAction="www.Nucor.com/AuthPropsReadUserName"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateAuthProps">
            <soap:operation style="document" soapAction="www.Nucor.com/UpdateAuthProps"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="IsUserAuthorized">
            <soap:operation style="document" soapAction="www.Nucor.com/IsUserAuthorized"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetPending_SAP_Text_Files">
            <soap:operation style="document" soapAction="www.Nucor.com/GetPending_SAP_Text_Files"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SapDataSoap12" type="tns:SapDataSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AAATest_RunID">
            <soap12:operation style="document" soapAction="www.Nucor.com/AAATest_RunID" soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Get_SAP_FIPosting">
            <soap12:operation style="document" soapAction="www.Nucor.com/Get_SAP_FIPosting" soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Get_SAP_FIPosting_Via_RunID_List">
            <soap12:operation style="document" soapAction="www.Nucor.com/Get_SAP_FIPosting_Via_RunID_List"
                 soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Get_Pos_Pay">
            <soap12:operation style="document" soapAction="www.Nucor.com/Get_Pos_Pay" soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AuthPropsReadUserName">
            <soap12:operation style="document" soapAction="www.Nucor.com/AuthPropsReadUserName" soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateAuthProps">
            <soap12:operation style="document" soapAction="www.Nucor.com/UpdateAuthProps" soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="IsUserAuthorized">
            <soap12:operation style="document" soapAction="www.Nucor.com/IsUserAuthorized" soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetPending_SAP_Text_Files">
            <soap12:operation style="document" soapAction="www.Nucor.com/GetPending_SAP_Text_Files" soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SapData">
        <wsdl:port name="SapDataSoap" binding="tns:SapDataSoap">
            <soap:address location="https://ws4.nucornet.com/SAPService/NucorSAPData.asmx"/>
        </wsdl:port>
        <wsdl:port name="SapDataSoap12" binding="tns:SapDataSoap12">
            <soap12:address location="https://ws4.nucornet.com/SAPService/NucorSAPData.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
