Implementation/Infrastructure/EIAMetadata/classes/AO/EBiz/common/V1.0/AmountAO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema targetNamespace="http://xmlns.eia.com/AO/EBiz/common/AmountAO/1.0" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00"
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:amtao="http://xmlns.eia.com/AO/EBiz/common/AmountAO/1.0">


<xsd:element name="Amount" type="amtao:AmountType"/>


<xsd:complexType name="AmountType">
<xsd:sequence>
<xsd:element name="Value" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
