Implementation/Infrastructure/EIAMetadata/classes/AO/EBiz/common/V1.0/CommonAO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema targetNamespace="http://xmlns.eia.com/AO/EBiz/common/CommonAO/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:commonao="http://xmlns.eia.com/AO/EBiz/common/CommonAO/1.0">
 <xsd:element name="CommonDFF" type="commonao:CommonDFFType"/>
 <xsd:complexType name="RefIdType">
  <xsd:sequence>
   <xsd:element name="Ref" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="AdditionalInfoType">
  <xsd:sequence>
   <xsd:element name="AdditionalInformation1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation5" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation6" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation7" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation8" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation9" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation10" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation11" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation12" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation13" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation14" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation15" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation16" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation17" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation18" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation19" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation20" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation21" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation22" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation23" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation24" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation25" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation26" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation27" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation28" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation29" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="AdditionalInformation30" type="xsd:string" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="CommonDFFType">
  <xsd:sequence>
   <xsd:element name="AttributeCategory" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute1" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute2" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute3" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute4" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute5" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute6" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute7" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute8" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute9" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute10" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute11" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute12" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute13" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute14" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute15" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute16" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute17" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute18" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute19" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute20" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute21" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute22" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute23" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute24" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="Attribute25" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="SegmentKFFType">
  <xsd:sequence>
   <xsd:element name="segment1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment5" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment6" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment7" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment8" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment9" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment10" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment11" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment12" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment13" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment14" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment15" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment16" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment17" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment18" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment19" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment20" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment21" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment22" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment23" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment24" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment25" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment26" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment27" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment28" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment29" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment30" type="xsd:string" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="SegmentKFFType1-5">
  <xsd:sequence>
   <xsd:element name="segment1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment4" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="segment5" type="xsd:string" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="CommonCodeType">
  <xsd:sequence>
   <xsd:element name="InvoiceCurrencyCode" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="PaymentCurrencyCode" type="xsd:string" maxOccurs="1" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="AddressType">
  <xsd:sequence>
   <xsd:element name="AddressLine1" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="AddressLine2" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="AddressLine3" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="AddressLine4" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="AddressStyle" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="AddressLinesAlt" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="City" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="State" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="Zip" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="Province" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="County" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="Country" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="AreaCode" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="Phone" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="Fax" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="FaxAreaCode" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="Telex" type="xsd:string" maxOccurs="1" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BankType">
  <xsd:sequence>
   <xsd:element name="AccountName" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="AccountType" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="AccountNumber" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="Number" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="ChargeBearer" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="BranchType" type="xsd:string" maxOccurs="1" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="CommonFlagType">
  <xsd:sequence>
   <xsd:element name="AlwaysTakeDiscountFlag" type="commonao:YesNoType" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="AutoTaxCalculationFlag" type="commonao:YesNoType" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="APTaxRoundingRule" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="AutoTaxCalculationOverride" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="AmountIncludesTaxFlag" type="commonao:YesNoType" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="ExclusivePaymentFlag" type="commonao:YesNoType" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="ExcludeFreightFromDiscount" type="commonao:YesNoType" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="AllowAWTFlag" type="commonao:YesNoType" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="CreateDebitMemoFlag" type="commonao:YesNoType" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="OffsetTaxFlag" type="commonao:YesNoType" maxOccurs="1" minOccurs="0"/>
   <!-- Only in Site-->
   <xsd:element name="ExclusivePaymentFlag" type="commonao:YesNoType" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="PrimaryPaySiteFlag" type="commonao:YesNoType" maxOccurs="1" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="HoldType">
  <xsd:sequence>
   <xsd:element name="HoldFlag" type="commonao:YesNoType" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="HoldReason" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="HoldBy" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="HoldDate" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="HoldAllPaymentsFlag" type="commonao:YesNoType" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="HoldAllPaymentsFlag" type="commonao:YesNoType" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="HoldFuturePaymentsFlag" type="commonao:YesNoType" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="HoldUnMatchedInvoicesFlag" type="commonao:YesNoType" maxOccurs="1" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="EDIType">
  <xsd:sequence>
   <xsd:element name="TransactionHandling" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="IdNumber" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="PaymentMethod" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="PaymentFormat" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="RemittanceMethod" type="commonao:YesNoType" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="RemittanceInstruction" type="xsd:string" maxOccurs="1" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="TCASyncType">
  <xsd:sequence>
   <xsd:element name="State" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="Province" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="County" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="City" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="Zip" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="Country" type="xsd:string" maxOccurs="1" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ProgramType">
  <xsd:sequence>
   <xsd:element name="ApplicationId" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="Id" type="xsd:string" maxOccurs="1" minOccurs="0"/>
   <xsd:element name="UpdateDate" type="xsd:date" maxOccurs="1" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:simpleType name="YesNoType">
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="Y"/>
   <xsd:enumeration value="N"/>
   <xsd:enumeration value=""/>
  </xsd:restriction>
 </xsd:simpleType>
</xsd:schema>
