Implementation/OTM/WshSendDlvyToOtmService/WshSendDlvyToOtmService.wsdl

<definitions
     name="WshSendDlvyToOtmService"
     targetNamespace="http://xmlns.oracle.com/apps/wsh/outbound/txn/WshSendDlvyToOtmService"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:txn="http://xmlns.oracle.com/apps/wsh/outbound/util/WshOtmGlobalOutbound"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     
     xmlns:client="http://xmlns.oracle.com/apps/wsh/outbound/txn/WshSendDlvyToOtmService"
    >
    <types>
        <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/wsh/outbound/txn/WshSendDlvyToOtmService"
             xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/apps/wsh/outbound/util/WshOtmGlobalOutbound"
                 schemaLocation="oramds:/apps/EIAMetadata/AO/OTM/common/V1.0/WshOtmGlobalOutbound.xsd"/>
            <element name="WshSendDlvyToOtmServiceProcessRequest">
                <complexType>
                    <sequence>
                        <element name="input" type="txn:tOutboundInput"/>
                    </sequence>
                </complexType>
            </element>
            <element name="WshSendDlvyToOtmServiceProcessResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="txn:tOutboundOutput"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    <message name="WshSendDlvyToOtmServiceRequestMessage">
        <part name="payload" element="client:WshSendDlvyToOtmServiceProcessRequest"/>
    </message>
    <message name="WshSendDlvyToOtmServiceResponseMessage">
        <part name="payload" element="client:WshSendDlvyToOtmServiceProcessResponse"/>
    </message>
    <message name="WshSendDlvyToOtmServiceFaultMessage">
        <part name="payload" type="xsd:string"/>
    </message>
    <portType name="WshSendDlvyToOtmService">
        <operation name="process">
            <input message="client:WshSendDlvyToOtmServiceRequestMessage"/>
            <output message="client:WshSendDlvyToOtmServiceResponseMessage"/>
            <fault message="client:WshSendDlvyToOtmServiceFaultMessage" name="faultError"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="WshSendDlvyToOtmService">
        <plnk:role name="WshSendDlvyToOtmServiceProvider">
            <plnk:portType name="client:WshSendDlvyToOtmService"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
