Implementation/Infrastructure/EIAMetadata/classes/AO/EBiz/O2C/V1.0/SalesOrderAO.xsd

<?xml version='1.0' encoding='utf-8'?>
<xsd:schema targetNamespace="http://xmlns.eia.com/AO/EBiz/O2C/SalesOrderAO/1.0" xmlns:obj="http://xmlns.eia.com/AO/EBiz/O2C/SalesOrderAO/1.0" xmlns:common="http://xmlns.eia.com/EO/common/Common/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			<Version>1.0</Version>
			<Definition>Common SOA Composite PO</Definition>
			<Description>This schema defines the objects to create or extract Process Orders in Oracle PO.</Description>
			<Author>Manish Gujar</Author>
			<ModifiedBy>Manish Gujar</ModifiedBy>
			<VersionDate>24-07-2015</VersionDate>
			<VersionDescription>Initial standard</VersionDescription>
			<ModificationHistory>24-07-2015 Version 1.0 - Initial Development Version</ModificationHistory>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://xmlns.eia.com/EO/common/Common/1.0" schemaLocation="../../../../EO/common/V1.0/Common.xsd"/>
	<xsd:element name="SalesOrderDetails" type="obj:ListOfSalesOrderDetails"/>
	<xsd:complexType name="ListOfSalesOrderDetails">
		<xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORDER_SOURCE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORIG_SYS_DOCUMENT_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CHANGE_SEQUENCE" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CHANGE_REQUEST_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORDER_SOURCE" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORG_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="HEADER_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORDER_NUMBER" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="VERSION_NUMBER" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORDERED_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORDER_TYPE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORDER_TYPE" type="common:C40"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRICE_LIST_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRICE_LIST" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CONVERSION_RATE" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CONVERSION_RATE_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CONVERSION_TYPE_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CONVERSION_TYPE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TRANSACTIONAL_CURR_CODE" type="common:C15"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TRANSACTIONAL_CURR" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SALESREP_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SALESREP" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SALES_CHANNEL_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="RETURN_REASON_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TAX_POINT_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TAX_POINT" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TAX_EXEMPT_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TAX_EXEMPT_NUMBER" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TAX_EXEMPT_REASON_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TAX_EXEMPT_REASON" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="AGREEMENT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="AGREEMENT" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICING_RULE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICING_RULE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ACCOUNTING_RULE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ACCOUNTING_RULE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PAYMENT_TERM_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PAYMENT_TERM" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DEMAND_CLASS_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DEMAND_CLASS" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIPMENT_PRIORITY_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIPMENT_PRIORITY" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIPPING_METHOD_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIPPING_METHOD" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="FREIGHT_CARRIER_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="FREIGHT_TERMS_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="FREIGHT_TERMS" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="FOB_POINT_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="FOB_POINT" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PARTIAL_SHIPMENTS_ALLOWED" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TOLERANCE_ABOVE" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TOLERANCE_BELOW" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIPPING_INSTRUCTIONS" type="common:C2000"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PACKING_INSTRUCTIONS" type="common:C2000"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORDER_DATE_TYPE_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="EARLIEST_SCHEDULE_LIMIT" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="LATEST_SCHEDULE_LIMIT" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_PO_NUMBER" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_PAYMENT_TERM_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_PAYMENT_TERM" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PAYMENT_TYPE_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PAYMENT_AMOUNT" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CHECK_NUMBER" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CREDIT_CARD_CODE" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CREDIT_CARD_HOLDER_NAME" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CREDIT_CARD_NUMBER" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CREDIT_CARD_EXPIRATION_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CREDIT_CARD_APPROVAL_CODE" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_ORG_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_ORG" type="common:C360"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_FROM_ORG_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_FROM_ORG" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_ORG_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_ORG" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_ORG_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_ORG" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_ORG_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_ORG" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_CUSTOMER_NUMBER" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_CUSTOMER" type="common:C360"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_CONTACT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_CONTACT" type="common:C360"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CONTACT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CONTACT" type="common:C360"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_CONTACT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_CONTACT" type="common:C360"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_CONTACT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_CONTACT" type="common:C360"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_NAME" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_NUMBER" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIPMENT_PRIORITY_CODE_INT" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_ADDRESS1" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_ADDRESS2" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_ADDRESS3" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_ADDRESS4" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CITY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CONTACT_FIRST_NAME" type="common:C150"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CONTACT_LAST_NAME" type="common:C150"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_COUNTY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CUSTOMER" type="common:C360"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CUSTOMER_NUMBER" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_POSTAL_CODE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_PROVINCE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_SITE_INT" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_STATE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_COUNTRY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_ADDRESS1" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_ADDRESS2" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_ADDRESS3" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_ADDRESS4" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_CITY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_COUNTRY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_COUNTY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_CUSTOMER" type="common:C360"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_CUSTOMER_NUMBER" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_POSTAL_CODE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_PROVINCE_INT" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_SITE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_SITE_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_STATE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_CONTACT_FIRST_NAME" type="common:C150"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_CONTACT_LAST_NAME" type="common:C150"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORDERED_BY_CONTACT_FIRST_NAME" type="common:C150"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORDERED_BY_CONTACT_LAST_NAME" type="common:C150"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DROP_SHIP_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="BOOKED_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CLOSED_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CANCELLED_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CONTEXT" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE1" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE2" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE3" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE4" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE5" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE6" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE7" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE8" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE9" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE10" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE11" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE12" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE13" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE14" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE15" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="HEADER_PO_CONTEXT" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PO_ATTRIBUTE_1" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PO_ATTRIBUTE_2" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PO_ATTRIBUTE_3" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PO_ATTRIBUTE_4" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PO_ATTRIBUTE_5" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PO_ATTRIBUTE_6" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PO_ATTRIBUTE_7" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PO_ATTRIBUTE_8" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PO_ATTRIBUTE_9" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PO_ATTRIBUTE_10" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PO_ATTRIBUTE_11" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PO_ATTRIBUTE_12" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PO_ATTRIBUTE_13" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PO_ATTRIBUTE_14" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PO_ATTRIBUTE_15" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PO_REVISION_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE_CATEGORY" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE1" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE2" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE3" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE4" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE5" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE6" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE7" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE8" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE9" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE10" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE11" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE12" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE13" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE14" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE15" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE16" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE17" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE18" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE19" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE20" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CREATED_BY" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CREATION_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="LAST_UPDATED_BY" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="LAST_UPDATE_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="LAST_UPDATE_LOGIN" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PROGRAM_APPLICATION_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PROGRAM_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PROGRAM_UPDATE_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="REQUEST_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="REQUEST_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SUBMISSION_DATETIME" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="OPERATION_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ERROR_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="READY_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="STATUS_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="FORCE_APPLY_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INTERFACE_STATUS" type="common:C1000"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CHANGE_REASON" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CHANGE_COMMENTS" type="common:C2000"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORDER_CATEGORY" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_FROM_ORG_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_FROM_ORG" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="REJECTED_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_CONTEXT" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE1" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE2" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE3" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE4" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE5" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE6" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE7" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE8" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE9" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE10" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE11" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE12" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE13" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE14" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE15" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CREDIT_CARD_APPROVAL_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SALES_CHANNEL" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_PREFERENCE_SET_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRICE_REQUEST_CODE" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORIG_SYS_CUSTOMER_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORIG_SHIP_ADDRESS_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORIG_BILL_ADDRESS_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORIG_DELIVER_ADDRESS_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_CONTACT_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CONTACT_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="BILL_TO_CONTACT_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_CONTACT_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_ADDRESS1" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_ADDRESS2" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_ADDRESS3" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_ADDRESS4" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_CITY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_COUNTY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_COUNTRY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_PROVINCE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_POSTAL_CODE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="BATCH_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE_STATUS" type="common:C2000"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="XML_MESSAGE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CUSTOMER_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_CUSTOMER_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_CUSTOMER_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ACCOUNTING_RULE_DURATION" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE16" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE17" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE18" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE19" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE20" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="XML_TRANSACTION_TYPE_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="BLANKET_NUMBER" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRICING_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_PHONE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TRANSACTION_PHASE_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SALES_DOCUMENT_NAME" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="QUOTE_NUMBER" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="QUOTE_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="USER_STATUS_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_SITE_USE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SUPPLIER_SIGNATURE" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SUPPLIER_SIGNATURE_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_SIGNATURE" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_SIGNATURE_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_PARTY_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_ORG_CONTACT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_PARTY_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_PARTY_SITE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_PARTY_SITE_USE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_PARTY_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_PARTY_SITE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_PARTY_SITE_USE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_PARTY_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_PARTY_SITE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_PARTY_SITE_USE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_ORG_CONTACT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_ORG_CONTACT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_ORG_CONTACT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_PARTY_NUMBER" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_PARTY_NUMBER" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_PARTY_NUMBER" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_PARTY_NUMBER" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="RESPONSE_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_NAME" type="common:C360"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_NUMBER" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_PARTY_NUMBER" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_PARTY_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_ORG_CONTACT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_CONTACT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_CONTACT" type="common:C360"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_LOCATION" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_SITE_USE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_PARTY_SITE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_PARTY_SITE_USE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_ADDRESS1" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_ADDRESS2" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_ADDRESS3" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_ADDRESS4" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_CITY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_STATE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_POSTAL_CODE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_COUNTRY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_PROVINCE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_COUNTY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="IB_OWNER" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="IB_CURRENT_LOCATION" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="IB_INSTALLED_AT_LOCATION" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_LOCATION_ADDRESS1" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_LOCATION_ADDRESS2" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_LOCATION_ADDRESS3" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_LOCATION_ADDRESS4" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_LOCATION_CITY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_LOCATION_POSTAL_CODE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_LOCATION_COUNTRY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_LOCATION_STATE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_LOCATION_COUNTY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_LOCATION_PROVINCE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORIG_SOLD_ADDRESS_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="EXPIRATION_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORDER_FIRMED_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_STATE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="IB_OWNER_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="IB_INSTALLED_AT_LOCATION_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="IB_CURRENT_LOCATION_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INELIGIBLE_FOR_HVOP" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INSTRUMENT_SECURITY_CODE" type="common:C10"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INST_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SCP_PRODUCT_TYPE" type="common:C20"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUST_LOC_ID" type="common:C20"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ADDRESS" type="common:C100"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ADDRESS2" type="common:C100"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CITY" type="common:C20"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="STATE" type="common:C20"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ZIP" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="COUNTRY" type="common:C20"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CONTACT_PHONE" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIPPING_INSTR_DESC" type="common:C2000"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_CONTACT_PHONE" type="common:C100"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CONTACT_PHONE" type="common:C100"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_CONTACT_PHONE" type="common:C100"/>
			<xsd:element maxOccurs="1" name="SalesOrderLines" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="LineItem" type="obj:LineItemType" minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
					</xsd:complexType>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>
	
	
	<xsd:complexType name="LineItemType">
		<xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORDER_SOURCE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORIG_SYS_DOCUMENT_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORIG_SYS_LINE_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORIG_SYS_SHIPMENT_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CHANGE_SEQUENCE" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CHANGE_REQUEST_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORG_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="LINE_NUMBER" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIPMENT_NUMBER" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="LINE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SPLIT_FROM_LINE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="LINE_TYPE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="LINE_TYPE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ITEM_TYPE_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM" type="common:C2000"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TOP_MODEL_LINE_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="LINK_TO_LINE_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="EXPLOSION_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATO_LINE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="COMPONENT_SEQUENCE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="COMPONENT_CODE" type="common:C1000"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SORT_ORDER" type="common:C2000"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="MODEL_GROUP_NUMBER" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="OPTION_NUMBER" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="OPTION_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_MODEL_COMPLETE_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOURCE_TYPE_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SCHEDULE_STATUS_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SCHEDULE_SHIP_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SCHEDULE_ARRIVAL_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ACTUAL_ARRIVAL_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PROMISE_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SCHEDULE_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVERY_LEAD_TIME" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVERY_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORDERED_QUANTITY" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORDER_QUANTITY_UOM" type="common:C3"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIPPING_QUANTITY" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIPPING_QUANTITY_UOM" type="common:C3"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIPPED_QUANTITY" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CANCELLED_QUANTITY" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="FULFILLED_QUANTITY" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRICING_QUANTITY" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRICING_QUANTITY_UOM" type="common:C3"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_ORG_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_TO_ORG" type="common:C360"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_FROM_ORG_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_FROM_ORG" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_ORG_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_ORG" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_ORG_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_ORG" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_ORG_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_ORG" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_ADDRESS1" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_ADDRESS2" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_ADDRESS3" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_ADDRESS4" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CITY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_COUNTY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_STATE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_POSTAL_CODE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_COUNTRY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CONTACT_FIRST_NAME" type="common:C150"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CONTACT_LAST_NAME" type="common:C150"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CONTACT_JOB_TITLE" type="common:C100"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CONTACT_AREA_CODE1" type="common:C10"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CONTACT_AREA_CODE2" type="common:C10"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CONTACT_AREA_CODE3" type="common:C40"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CONTACT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CONTACT" type="common:C360"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_CONTACT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_CONTACT" type="common:C360"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_CONTACT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_CONTACT" type="common:C360"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DROP_SHIP_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="VEH_CUS_ITEM_CUM_KEY_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUST_PRODUCTION_SEQ_NUM" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="LOAD_SEQ_NUMBER" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="OVER_SHIP_REASON_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="OVER_SHIP_RESOLVED_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="AUTHORIZED_TO_SHIP_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TOLERANCE_ABOVE" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TOLERANCE_BELOW" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_SET_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_SET_NAME" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ARRIVAL_SET_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ARRIVAL_SET_NAME" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_SET_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_SET_NAME" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="FULFILLMENT_SET_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="FULFILLMENT_SET_NAME" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRICE_LIST_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRICE_LIST" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRICING_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="UNIT_LIST_PRICE" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="UNIT_SELLING_PRICE" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CALCULATE_PRICE_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TAX_CODE" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TAX" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TAX_VALUE" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TAX_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TAX_POINT_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TAX_POINT" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TAX_EXEMPT_FLAG" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TAX_EXEMPT_NUMBER" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TAX_EXEMPT_REASON_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TAX_EXEMPT_REASON" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="AGREEMENT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="AGREEMENT" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICING_RULE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICING_RULE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ACCOUNTING_RULE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ACCOUNTING_RULE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PAYMENT_TERM_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PAYMENT_TERM" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DEMAND_CLASS_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DEMAND_CLASS" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIPMENT_PRIORITY_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIPMENT_PRIORITY" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIPPING_METHOD_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIPPING_METHOD" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="FREIGHT_CARRIER_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="FREIGHT_TERMS_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="FREIGHT_TERMS" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="FOB_POINT_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="FOB_POINT" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SALESREP_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SALESREP" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="RETURN_REASON_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="REFERENCE_TYPE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="REFERENCE_HEADER_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="REFERENCE_HEADER" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="REFERENCE_LINE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="REFERENCE_LINE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CREDIT_INVOICE_LINE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_PO_NUMBER" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_LINE_NUMBER" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_SHIPMENT_NUMBER" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_ITEM_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_ITEM_ID_TYPE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_ITEM_REVISION" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_ITEM_NET_PRICE" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_PAYMENT_TERM_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_PAYMENT_TERM" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DEMAND_BUCKET_TYPE_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DEMAND_BUCKET_TYPE" type="common:C80"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SCHEDULE_ITEM_DETAIL" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DEMAND_STREAM" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_DOCK_CODE" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_DOCK" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_JOB" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_PRODUCTION_LINE" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUST_MODEL_SERIAL_NUMBER" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PROJECT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PROJECT" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TASK_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TASK" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ITEM_REVISION" type="common:C3"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CLOSED_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CANCELLED_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CONTRACT_PO_NUMBER" type="common:C150"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="LINE_PO_CONTEXT" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE1" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE2" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE3" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE4" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE5" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE6" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE7" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE8" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE9" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE10" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE11" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE12" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE13" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE14" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE15" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_CONTEXT" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE1" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE2" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE3" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE4" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE5" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE6" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE7" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE8" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE9" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE10" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE11" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE12" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE13" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE14" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE15" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE16" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE17" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE18" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE19" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE20" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE21" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE22" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE23" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE24" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE25" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE26" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE27" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE28" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE29" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INDUSTRY_ATTRIBUTE30" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRICING_CONTEXT" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRICING_ATTRIBUTE1" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRICING_ATTRIBUTE2" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRICING_ATTRIBUTE3" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRICING_ATTRIBUTE4" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRICING_ATTRIBUTE5" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRICING_ATTRIBUTE6" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRICING_ATTRIBUTE7" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRICING_ATTRIBUTE8" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRICING_ATTRIBUTE9" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRICING_ATTRIBUTE10" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE_CATEGORY" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE1" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE2" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE3" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE4" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE5" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE6" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE7" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE8" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE9" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE10" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE11" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE12" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE13" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE14" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE15" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE16" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE17" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE18" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE19" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GLOBAL_ATTRIBUTE20" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="RETURN_ATTRIBUTE1" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="RETURN_ATTRIBUTE2" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="RETURN_ATTRIBUTE3" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="RETURN_ATTRIBUTE4" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="RETURN_ATTRIBUTE5" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="RETURN_ATTRIBUTE6" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="RETURN_ATTRIBUTE7" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="RETURN_ATTRIBUTE8" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="RETURN_ATTRIBUTE9" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="RETURN_ATTRIBUTE10" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="RETURN_ATTRIBUTE11" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="RETURN_ATTRIBUTE12" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="RETURN_ATTRIBUTE13" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="RETURN_ATTRIBUTE14" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="RETURN_ATTRIBUTE15" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM_SEGMENT_1" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM_SEGMENT_2" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM_SEGMENT_3" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM_SEGMENT_4" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM_SEGMENT_5" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM_SEGMENT_6" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM_SEGMENT_7" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM_SEGMENT_8" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM_SEGMENT_9" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM_SEGMENT_10" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM_SEGMENT_11" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM_SEGMENT_12" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM_SEGMENT_13" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM_SEGMENT_14" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM_SEGMENT_15" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM_SEGMENT_16" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM_SEGMENT_17" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM_SEGMENT_18" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM_SEGMENT_19" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVENTORY_ITEM_SEGMENT_20" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CREATED_BY" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CREATION_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="LAST_UPDATED_BY" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="LAST_UPDATE_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="LAST_UPDATE_LOGIN" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PROGRAM_APPLICATION_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PROGRAM_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PROGRAM_UPDATE_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="REQUEST_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="OPERATION_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ERROR_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="STATUS_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INTERFACE_STATUS" type="common:C1000"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CHANGE_REASON" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CHANGE_COMMENTS" type="common:C2000"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_ITEM_UNIT_NUMBER" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="FULFILLED_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="REQUEST_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIPPING_INSTRUCTIONS" type="common:C2000"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PACKING_INSTRUCTIONS" type="common:C2000"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_FROM_ORG_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SOLD_FROM_ORG" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="REJECTED_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_TXN_REASON_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_TXN_COMMENTS" type="common:C2000"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_DURATION" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_START_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_END_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_COTERMINATE_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="UNIT_SELLING_PERCENT" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="UNIT_LIST_PERCENT" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="UNIT_PERCENT_BASE_PRICE" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_NUMBER" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICED_LINE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_CONTEXT" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_ATTRIBUTE1" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_ATTRIBUTE2" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_ATTRIBUTE3" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_ATTRIBUTE4" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_ATTRIBUTE5" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_ATTRIBUTE6" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_ATTRIBUTE7" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_ATTRIBUTE8" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_ATTRIBUTE9" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_ATTRIBUTE10" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_ATTRIBUTE11" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_ATTRIBUTE12" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_ATTRIBUTE13" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_ATTRIBUTE14" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_ATTRIBUTE15" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_ITEM_NAME" type="common:C2000"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_PERIOD" type="common:C3"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_CONTEXT" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE1" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE2" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE3" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE4" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE5" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE6" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE7" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE8" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE9" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE10" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE11" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE12" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE13" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE14" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="TP_ATTRIBUTE15" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_REFERENCE_TYPE_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_REFERENCE_ORDER" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_REFERENCE_LINE" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_REFERENCE_SYSTEM" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PREFERRED_GRADE" type="common:C150"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORDERED_QUANTITY2" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORDERED_QUANTITY_UOM2" type="common:C3"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIPPED_QUANTITY2" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CANCELLED_QUANTITY2" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIPPING_QUANTITY2" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIPPING_QUANTITY_UOM2" type="common:C3"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="FULFILLED_QUANTITY2" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="COMMITMENT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="COMMITMENT" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SUBINVENTORY" type="common:C10"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="UNIT_LIST_PRICE_PER_PQTY" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="UNIT_SELLING_PRICE_PER_PQTY" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CONTEXT" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="RETURN_CONTEXT" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="EARLIEST_ACCEPTABLE_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="LATEST_ACCEPTABLE_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_ADDRESS1" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_ADDRESS2" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_ADDRESS3" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_ADDRESS4" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_CITY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_COUNTY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_STATE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_POSTAL_CODE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_COUNTRY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SPLIT_FROM_LINE_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRICE_REQUEST_CODE" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORIG_SHIP_ADDRESS_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORIG_BILL_ADDRESS_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORIG_DELIVER_ADDRESS_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CONTACT_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="BILL_TO_CONTACT_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_CONTACT_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SPLIT_FROM_SHIPMENT_REF" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_ADDRESS1" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_ADDRESS2" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_ADDRESS3" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_ADDRESS4" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_CITY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_COUNTY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_COUNTRY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_STATE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_PROVINCE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_POSTAL_CODE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE_STATUS" type="common:C2000"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CONFIGURATION_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CONFIG_HEADER_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CONFIG_REV_NBR" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CUSTOMER_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_CUSTOMER_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_CUSTOMER_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CUSTOMER_NAME" type="common:C360"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_CUSTOMER_NUMBER" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_CUSTOMER_NAME" type="common:C360"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_CUSTOMER_NUMBER" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_CUSTOMER_NAME" type="common:C360"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_CUSTOMER_NUMBER" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ACCOUNTING_RULE_DURATION" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE16" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE17" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE18" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE19" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ATTRIBUTE20" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="USER_ITEM_DESCRIPTION" type="common:C1000"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="OVERRIDE_ATP_DATE_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="LATE_DEMAND_PENALTY_FACTOR" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="LINE_CATEGORY_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="XML_TRANSACTION_TYPE_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="BLANKET_NUMBER" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="BLANKET_LINE_NUMBER" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ACTUAL_SHIPMENT_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PLANNING_PRIORITY" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_PARTY_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_PARTY_SITE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_PARTY_SITE_USE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_PARTY_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_PARTY_SITE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_PARTY_SITE_USE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_PARTY_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_PARTY_SITE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_PARTY_SITE_USE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_ORG_CONTACT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_ORG_CONTACT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_ORG_CONTACT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_PARTY_NUMBER" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_PARTY_NUMBER" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="DELIVER_TO_PARTY_NUMBER" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_NAME" type="common:C360"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_NUMBER" type="common:C50"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_PARTY_NUMBER" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_PARTY_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_ORG_CONTACT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_CONTACT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_CONTACT" type="common:C360"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_LOCATION" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_SITE_USE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_PARTY_SITE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_PARTY_SITE_USE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_ADDRESS1" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_ADDRESS2" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_ADDRESS3" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_ADDRESS4" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_CITY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_STATE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_POSTAL_CODE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_COUNTRY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_PROVINCE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="END_CUSTOMER_COUNTY" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="IB_OWNER" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="IB_CURRENT_LOCATION" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="IB_INSTALLED_AT_LOCATION" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ORDER_FIRMED_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="ACTUAL_FULFILLMENT_DATE" type="common:Dt"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="IB_OWNER_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="IB_INSTALLED_AT_LOCATION_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="IB_CURRENT_LOCATION_CODE" type="common:C30"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INST_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SHIP_TO_PROVINCE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="INVOICE_TO_PROVINCE" type="common:C60"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_BILL_PROFILE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_BILLING_PROFILE" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_COV_TEMPLATE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_COVERAGE_TEMPLATE" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_SUBS_TEMPLATE_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_SUBSCRIPTION_TEMPLATE" type="common:C240"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SERVICE_BILL_OPTION_CODE" type="common:C10"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SUBSCRIPTION_ENABLE_FLAG" type="common:C1"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="EQUIPMENT_ID" type="common:Integer"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="EQUIPMENT_NUMBER" type="common:C120"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SCAC" type="common:C4"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CONTAINER_NUMBER" type="common:C40"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="PRODUCT_DESCRIPTION" type="common:C40"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="SIZE_PRODUCT" type="common:C40"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="GRADE" type="common:C40"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="LENGTH_INCHES" type="common:C40"/>
			<xsd:element minOccurs="0" maxOccurs="0" name="CUSTOMER_PART_NUMBER" type="common:C40"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SalesOrderResponse" type="obj:SalesOrderRes"/>
	<xsd:complexType name="SalesOrderRes">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1" name="Result" type="common:C100"/>
			<xsd:element minOccurs="1" maxOccurs="1" name="ErrorMsg" type="common:C4000"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>