Implementation/Infrastructure/EIAMetadata/classes/AO/EBiz/O2C/V1.0/ShipDocumentAM.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
            targetNamespace="http://xmlns.eia.com/AO/EBiz/O2C/ShipDocumentAM/1.0" version="1.00"
            xmlns:ctx="http://xmlns.eia.com/AO/EBiz/common/AppsContextAO/1.0"
            xmlns:sam="http://xmlns.eia.com/AO/EBiz/O2C/ShipDocumentAM/1.0"
            xmlns:sao="http://xmlns.eia.com/AO/EBiz/O2C/ShipDocumentAO/1.0"
            xmlns:res="http://xmlns.eia.com/AO/EBiz/common/OperationResultAO/1.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:header="http://xmlns.eia.com/EO/common/Header/1.0">
  <xsd:import namespace="http://xmlns.eia.com/AO/EBiz/O2C/ShipDocumentAO/1.0"
              schemaLocation="../../../../AO/EBiz/O2C/V1.0/ShipDocumentAO.xsd"/>
  <xsd:import namespace="http://xmlns.eia.com/AO/EBiz/common/AppsContextAO/1.0"
              schemaLocation="../../../../AO/EBiz/common/V1.0/AppsContextAO.xsd"/>
  <xsd:import namespace="http://xmlns.eia.com/AO/EBiz/common/OperationResultAO/1.0"
              schemaLocation="../../../../AO/EBiz/common/V1.0/OperationResultAO.xsd"/>
  <xsd:import namespace="http://xmlns.eia.com/EO/common/Header/1.0"
              schemaLocation="../../../../EO/common/V1.0/Header.xsd"/>

  <xsd:element name="QueryShipDocumentRequestMessage">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="header:HeaderRq"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="AppsContext" nillable="true" type="ctx:AppsContextType"/>
        
        <xsd:element maxOccurs="1" minOccurs="0" name="ShipDocument" nillable="true">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="sao:ShipDocumentType">
                <xsd:attribute name="numRows" type="xsd:integer" use="optional" default="10"/>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="QueryShipDocumentResponseMessage">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="header:HeaderRs"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="OperationResult" nillable="true" type="res:OperationResultType"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ListOfShipDocuments" nillable="true" type="sao:ListOfShipDocumentType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>