Implementation/Infrastructure/EIAMetadata/classes/AO/EBiz/O2C/V1.0/ShipDocumentAO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.eia.com/AO/EBiz/O2C/ShipDocumentAO/1.0" version="1.00" xmlns:oao="http://xmlns.eia.com/AO/EBiz/O2C/ShipDocumentAO/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ListOfShipDocuments" type="oao:ListOfShipDocumentType"/>

	<xsd:complexType name="ListOfShipDocumentType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="ShipmentDocument" nillable="true" type="oao:ShipDocumentType"/>
		</xsd:sequence>
	</xsd:complexType>

	

	<xsd:complexType name="ShipDocumentType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="OrganizationId" nillable="true" type="xsd:decimal"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="OrganizationCode" nillable="true" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="DocumentNumber" nillable="true" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="DocumentType" nillable="true" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="Status" nillable="true" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="DeliveryInformation" nillable="true" type="xsd:ListOfBasicDeliveryInfoType"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="TripInformation" nillable="true" type="xsd:TripInfoType"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ListOfBasicDeliveryInfoType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="DeliveryInfo" nillable="true" type="oao:BasicDeliveryInfoType"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="BasicDeliveryInfoType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="DeliveryName" nillable="true" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="DeliveryId" nillable="true" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="Status" nillable="true" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="ShipConfirmDate" nillable="true" type="xsd:dateTime"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="ShipmentDirection" nillable="true" type="xsd:dateTime"/>

		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="ListOfBasicTripInfoType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="TripInfo" nillable="true" type="oao:BasicTripInfoType"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="BasicTripInfoType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="TripName" nillable="true" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="TripId" nillable="true" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="Status" nillable="true" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="PlannedFlag" nillable="true" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="VehicleNumber" nillable="true" type="xsd:string"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="ShipmentMethodCode" nillable="true" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>	

</xsd:schema>