Implementation/Infrastructure/EIAMetadata/classes/AO/EBiz/O2C/V1.0/TripsAO.xsd

<?xml version='1.0' encoding='utf-8'?>
<xsd:schema xmlns:common="http://xmlns.eia.com/EO/common/Common/1.0" xmlns:obj="http://xmlns.eia.com/AO/EBiz/O2C/TripsAO/1.0" elementFormDefault="qualified" targetNamespace="http://xmlns.eia.com/AO/EBiz/O2C/TripsAO/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://xmlns.eia.com/EO/common/Common/1.0" schemaLocation="../../../../EO/common/V1.0/Common.xsd"/>
<xsd:annotation>
<xsd:documentation xml:lang="en">
<Version>2.0</Version>
<Definition>Common SOA Composite O2C Trips</Definition>
<Description>This schema defines the objects to create or extract Freight Payment Details in Oracle Paybles.</Description>
<Author>Akshat Paharia</Author>
<ModifiedBy/>
<VersionDate>27-10-2015</VersionDate>
<VersionDescription>Review and standardization</VersionDescription>
<ModificationHistory>06-12-2010 Version 1.0 - Initial Development Version 23-09-2015 Version 2.0 - Initial Development
                     Version</ModificationHistory>
</xsd:documentation>
</xsd:annotation>
<xsd:element name="Trips" type="obj:ListOfTrips"/>
<xsd:complexType name="ListOfTrips">
<xsd:sequence>
<xsd:element minOccurs="1" maxOccurs="unbounded" name="Trips" type="obj:WSH_TRIPS"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="WSH_TRIPS">
<xsd:sequence>
<xsd:element name="recordIdentifier" type="xsd:decimal" nillable="true"/>
<xsd:element name="processFlag" type="common:C10" minOccurs="0" nillable="true"/>
<xsd:element name="tripId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="name" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="plannedFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="arriveAfterTripId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="statusCode" type="common:C2" minOccurs="0" nillable="true"/>
<xsd:element name="vehicleItemId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="vehicleNumber" type="common:C50" minOccurs="0" nillable="true"/>
<xsd:element name="carrierId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="shipMethodCode" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="routeId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="routingInstructions" type="common:C2000" minOccurs="0" nillable="true"/>
<xsd:element name="attributeCategory" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute1" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute2" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute3" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute4" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute5" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute6" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute7" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute8" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute9" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute10" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute11" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute12" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute13" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute14" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute15" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="creationDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="createdBy" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="lastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="lastUpdatedBy" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="lastUpdateLogin" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="programApplicationId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="programId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="programUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="requestId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="vehicleOrganizationId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="vehicleNumPrefix" type="common:C10" minOccurs="0" nillable="true"/>
<xsd:element name="serviceLevel" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="modeOfTransport" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="freightTermsCode" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="consolidationAllowed" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="loadTenderStatus" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="routeLaneId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="laneId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="scheduleId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="bookingNumber" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="loadTenderNumber" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="vessel" type="common:C100" minOccurs="0" nillable="true"/>
<xsd:element name="voyageNumber" type="common:C100" minOccurs="0" nillable="true"/>
<xsd:element name="portOfLoading" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="portOfDischarge" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="wfName" type="common:C8" minOccurs="0" nillable="true"/>
<xsd:element name="wfProcessName" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="wfItemKey" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="carrierContactId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="shipperWaitTime" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="waitTimeUom" type="common:C3" minOccurs="0" nillable="true"/>
<xsd:element name="loadTenderedTime" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="carrierResponse" type="common:C2000" minOccurs="0" nillable="true"/>
<xsd:element name="sealCode" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="ignoreForPlanning" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="tpPlanName" type="common:C10" minOccurs="0" nillable="true"/>
<xsd:element name="tpTripNumber" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="shipmentsTypeFlag" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="operator" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tripWfProcess" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="carrierReferenceNumber" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="rankId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="consigneeCarrierAcNo" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="routingRuleId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="appendFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="specialEquipmentInstructions" type="common:C4000" minOccurs="0" nillable="true"/>
<xsd:element name="orderType" type="common:C50" minOccurs="0" nillable="true"/>
<xsd:element name="maxCommodityLength" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="postingLocationCode" type="common:C50" minOccurs="0" nillable="true"/>
<xsd:element name="clientKey1" type="common:C50" minOccurs="0" nillable="true"/>
<xsd:element name="WshTripStps" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Wsh_TripStps" type="obj:Wsh_TripStps" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WshTripDel" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Wsh_TripDel" type="obj:Wsh_TripDel" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="WshTripDelvbl" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Wsh_TripDelvbl" type="obj:Wsh_TripDelvbl" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Wsh_TripStps">
<xsd:sequence>
<xsd:element name="recordIdentifier" type="xsd:decimal" nillable="true"/>
<xsd:element name="stopId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="tripId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="stopLocationId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="statusCode" type="common:C2" minOccurs="0" nillable="true"/>
<xsd:element name="stopSequenceNumber" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="plannedArrivalDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="plannedDepartureDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="actualArrivalDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="actualDepartureDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="departureGrossWeight" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="departureNetWeight" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="weightUomCode" type="common:C3" minOccurs="0" nillable="true"/>
<xsd:element name="departureVolume" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="volumeUomCode" type="common:C3" minOccurs="0" nillable="true"/>
<xsd:element name="departureSealCode" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="departureFillPercent" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttributeCategory" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute1" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute2" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute3" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute4" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute5" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute6" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute7" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute8" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute9" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute10" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute11" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute12" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute13" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute14" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute15" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attributeCategory" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute1" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute2" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute3" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute4" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute5" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute6" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute7" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute8" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute9" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute10" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute11" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute12" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute13" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute14" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute15" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="creationDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="createdBy" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="lastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="lastUpdatedBy" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="lastUpdateLogin" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="programApplicationId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="programId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="programUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="requestId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="lockStopId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="pendingInterfaceFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="transactionHeaderId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="wshLocationId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="trackingDrilldownFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="trackingRemarks" type="common:C4000" minOccurs="0" nillable="true"/>
<xsd:element name="carrierEstDepartureDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="carrierEstArrivalDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="loadingStartDatetime" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="loadingEndDatetime" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="unloadingStartDatetime" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="unloadingEndDatetime" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="tpStopId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="wkendLayoverStops" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="wkdayLayoverStops" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="shipmentsTypeFlag" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="wvFrozenFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="batchId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="physicalStopId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="physicalLocationId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="distanceToNextStop" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="distanceUom" type="common:C3" minOccurs="0" nillable="true"/>
<xsd:element name="pickUpWeight" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="dropOffWeight" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="pickUpVolume" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="dropOffVolume" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="tmsInterfaceFlag" type="common:C3" minOccurs="0" nillable="true"/>
<xsd:element name="specialInstructions" type="common:C4000" minOccurs="0" nillable="true"/>
<xsd:element name="earlyStopDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="earlyStopTime" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="lateStopDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="lateStopTime" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="stopType" type="common:C8" minOccurs="0" nillable="true"/>
<xsd:element name="custPoNumber" type="common:C255" minOccurs="0" nillable="true"/>
<xsd:element name="companyName" type="common:C50" minOccurs="0" nillable="true"/>
<xsd:element name="addrLine1" type="common:C100" minOccurs="0" nillable="true"/>
<xsd:element name="addrLine2" type="common:C100" minOccurs="0" nillable="true"/>
<xsd:element name="addrLine3" type="common:C100" minOccurs="0" nillable="true"/>
<xsd:element name="city" type="common:C100" minOccurs="0" nillable="true"/>
<xsd:element name="stateProvince" type="common:C100" minOccurs="0" nillable="true"/>
<xsd:element name="postalCode" type="common:C100" minOccurs="0" nillable="true"/>
<xsd:element name="countryCode" type="common:C100" minOccurs="0" nillable="true"/>
<xsd:element name="rateBaseName" type="common:C50" minOccurs="0" nillable="true"/>
<xsd:element name="doorPreference" type="common:C25" minOccurs="0" nillable="true"/>
<xsd:element name="bolNumber" type="common:C255" minOccurs="0" nillable="true"/>
<xsd:element name="addrBookName" type="common:C50" minOccurs="0" nillable="true"/>
<xsd:element name="custNumber" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="addrCustomerNumber" type="common:C50" minOccurs="0" nillable="true"/>
<xsd:element name="pointName" type="common:C50" minOccurs="0" nillable="true"/>
<xsd:element name="salesRep" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="orderDateTypeCode" type="common:C30" minOccurs="0" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Wsh_TripDel">
<xsd:sequence>
<xsd:element name="recordIdentifier" type="xsd:decimal" nillable="true"/>
<xsd:element name="tripId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="stopId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="deliveryDetailId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="deliveryId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="name" type="common:C50" minOccurs="0" nillable="true"/>
<xsd:element name="plannedFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="statusCode" type="common:C2" minOccurs="0" nillable="true"/>
<xsd:element name="statusName" type="common:C80" minOccurs="0" nillable="true"/>
<xsd:element name="initialPickupDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="initialPickupLocationId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="ultimateDropoffLocationId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="ultimateDropoffDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="customerId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="intmedShipToLocationId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="pooledShipToLocationId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="freightTermsCode" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="fobCode" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="fobLocationId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="waybill" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="acceptanceFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="acceptedBy" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="acceptedDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="acknowledgedBy" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="confirmedBy" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="asnDateSent" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="asnStatusCode" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="asnSeqNumber" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="wvFrozenFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="grossWeight" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="tareWeight" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="netWeight" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="weightUomCode" type="common:C3" minOccurs="0" nillable="true"/>
<xsd:element name="volume" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="volumeUomCode" type="common:C3" minOccurs="0" nillable="true"/>
<xsd:element name="additionalShipmentInfo" type="common:C500" minOccurs="0" nillable="true"/>
<xsd:element name="confirmDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="shipMethodCode" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="dockCode" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="deliveryType" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="carrierId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="currencyCode" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="organizationId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="loadingSequence" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="loadingOrderFlag" type="common:C2" minOccurs="0" nillable="true"/>
<xsd:element name="consolidationFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="activityCode" type="common:C2" minOccurs="0" nillable="true"/>
<xsd:element name="attributeCategory" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute1" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute2" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute3" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute4" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute5" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute6" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute7" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute8" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute9" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute10" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute11" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute12" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute13" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute14" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute15" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttributeCategory" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute1" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute2" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute3" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute4" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute5" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute6" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute7" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute8" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute9" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute10" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute11" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute12" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute13" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute14" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute15" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="globalAttributeCategory" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="globalAttribute1" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="globalAttribute2" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="globalAttribute3" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="globalAttribute4" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="globalAttribute5" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="globalAttribute6" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="globalAttribute7" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="globalAttribute8" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="globalAttribute9" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="globalAttribute10" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="globalAttribute11" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="globalAttribute12" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="globalAttribute13" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="globalAttribute14" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="globalAttribute15" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="globalAttribute16" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="globalAttribute17" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="globalAttribute18" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="globalAttribute19" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="globalAttribute20" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="creationDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="createdBy" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="lastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="lastUpdatedBy" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="lastUpdateLogin" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="programApplicationId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="programId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="programUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="requestId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="numberOfLpn" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="codAmount" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="codCurrencyCode" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="codRemitTo" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="codChargePaidBy" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="problemContactReference" type="common:C500" minOccurs="0" nillable="true"/>
<xsd:element name="portOfLoading" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="portOfDischarge" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="ftzNumber" type="common:C500" minOccurs="0" nillable="true"/>
<xsd:element name="routedExportTxn" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="entryNumber" type="common:C500" minOccurs="0" nillable="true"/>
<xsd:element name="routingInstructions" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="inBondCode" type="common:C500" minOccurs="0" nillable="true"/>
<xsd:element name="shippingMarks" type="common:C100" minOccurs="0" nillable="true"/>
<xsd:element name="serviceLevel" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="modeOfTransport" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="assignedToFteTrips" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="batchId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="apBatchId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="autoScExcludeFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="autoApExcludeFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="tpDeliveryNumber" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="tpPlanName" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="ignoreForPlanning" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="partyId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="routingResponseId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="rcvShipmentHeaderId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="asnShipmentHeaderId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="shipmentDirection" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="shippingControl" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="vendorId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="earliestPickupDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="latestPickupDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="earliestDropoffDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="latestDropoffDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="reasonOfTransport" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="description" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="deliveredDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="deliveryWfProcess" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="deliveryScpodWfProcess" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="tmsVersionNumber" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="tmsInterfaceFlag" type="common:C3" minOccurs="0" nillable="true"/>
<xsd:element name="pendingAdviceFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="clientId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="consigneeFlag" type="common:C1" minOccurs="0" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Wsh_TripDelvbl">
<xsd:sequence>
<xsd:element name="recordIdentifier" type="xsd:decimal" nillable="true"/>
<xsd:element name="tripId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="stopId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="type" type="common:C50" minOccurs="0" nillable="true"/>
<xsd:element name="deliveryDetailId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="deliveryLineId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="containerInstanceId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="containerName" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="deliveryId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="sourceCode" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="sourceName" type="common:C80" minOccurs="0" nillable="true"/>
<xsd:element name="sourceHeaderId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="sourceLineId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="sourceHeaderNumber" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="sourceHeaderTypeId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="sourceHeaderTypeName" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="sourceLineNumber" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="srcRequestedQuantity" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="srcRequestedQuantityUom" type="common:C3" minOccurs="0" nillable="true"/>
<xsd:element name="customerId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="soldToContactId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="inventoryItemId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="itemDescription" type="common:C250" minOccurs="0" nillable="true"/>
<xsd:element name="countryOfOrigin" type="common:C50" minOccurs="0" nillable="true"/>
<xsd:element name="classification" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="shipFromLocationId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="shipToLocationId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="shipToContactId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="deliverToLocationId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="deliverToContactId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="intmedShipToLocationId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="intmedShipToContactId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="shipToleranceAbove" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="shipToleranceBelow" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="requestedQuantity" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="shippedQuantity" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="deliveredQuantity" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="cancelledQuantity" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="requestedQuantityUom" type="common:C3" minOccurs="0" nillable="true"/>
<xsd:element name="subinventory" type="common:C10" minOccurs="0" nillable="true"/>
<xsd:element name="revision" type="common:C3" minOccurs="0" nillable="true"/>
<xsd:element name="lotNumber" type="common:C80" minOccurs="0" nillable="true"/>
<xsd:element name="customerRequestedLotFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="serialNumber" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="locatorId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="dateRequested" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="dateScheduled" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="masterContainerItemId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="detailContainerItemId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="loadSeqNumber" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="shipMethodCode" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="carrierId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="freightTermsCode" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="shipmentPriorityCode" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="fobCode" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="customerItemId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="depPlanRequiredFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="customerProdSeq" type="common:C50" minOccurs="0" nillable="true"/>
<xsd:element name="customerDockCode" type="common:C50" minOccurs="0" nillable="true"/>
<xsd:element name="unitWeight" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="unitVolume" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="wvFrozenFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="grossWeight" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="tareWeight" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="netWeight" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="weightUomCode" type="common:C3" minOccurs="0" nillable="true"/>
<xsd:element name="filledVolume" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="volume" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="volumeUomCode" type="common:C3" minOccurs="0" nillable="true"/>
<xsd:element name="fillPercent" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="maximumLoadWeight" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="maximumVolume" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="minimumFillPercent" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="mvtStatStatus" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="releasedStatus" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="releasedStatusName" type="common:C80" minOccurs="0" nillable="true"/>
<xsd:element name="organizationId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="transactionTempId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="shipSetId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="arrivalSetId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="shipModelCompleteFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="topModelLineId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="holdCode" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="custPoNumber" type="common:C50" minOccurs="0" nillable="true"/>
<xsd:element name="atoLineId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="moveOrderLineId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="hazardClassId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="qualityControlQuantity" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="cycleCountQuantity" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="trackingNumber" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="movementId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="shippingInstructions" type="common:C2000" minOccurs="0" nillable="true"/>
<xsd:element name="packingInstructions" type="common:C2000" minOccurs="0" nillable="true"/>
<xsd:element name="projectId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="taskId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="orgId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="oeInterfacedFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="splitFromDeliveryDetailId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="invInterfacedFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="parentContainerInstanceId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="masterSerialNumber" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="containerFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="containerTypeCode" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="sealCode" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="activityCode" type="common:C2" minOccurs="0" nillable="true"/>
<xsd:element name="attributeCategory" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute1" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute2" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute3" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute4" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute5" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute6" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute7" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute8" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute9" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute10" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute11" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute12" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute13" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute14" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="attribute15" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttributeCategory" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute1" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute2" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute3" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute4" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute5" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute6" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute7" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute8" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute9" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute10" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute11" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute12" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute13" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute14" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="tpAttribute15" type="common:C240" minOccurs="0" nillable="true"/>
<xsd:element name="creationDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="createdBy" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="lastUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="lastUpdatedBy" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="lastUpdateLogin" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="programApplicationId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="programId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="programUpdateDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="requestId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="preferredGrade" type="common:C150" minOccurs="0" nillable="true"/>
<xsd:element name="shippedQuantity2" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="deliveredQuantity2" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="cancelledQuantity2" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="requestedQuantity2" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="requestedQuantityUom2" type="common:C3" minOccurs="0" nillable="true"/>
<xsd:element name="srcRequestedQuantity2" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="srcRequestedQuantityUom2" type="common:C3" minOccurs="0" nillable="true"/>
<xsd:element name="qualityControlQuantity2" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="cycleCountQuantity2" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="unitNumber" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="unitPrice" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="currencyCode" type="common:C15" minOccurs="0" nillable="true"/>
<xsd:element name="freightClassCatId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="commodityCodeCatId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="inspectionFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="pickableFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="shipToSiteUseId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="deliverToSiteUseId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="toSerialNumber" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="pickedQuantity" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="pickedQuantity2" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="customerProductionLine" type="common:C50" minOccurs="0" nillable="true"/>
<xsd:element name="customerJob" type="common:C50" minOccurs="0" nillable="true"/>
<xsd:element name="custModelSerialNumber" type="common:C50" minOccurs="0" nillable="true"/>
<xsd:element name="receivedQuantity" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="receivedQuantity2" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="sourceLineSetId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="batchId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="shipmentBatchId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="lpnId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="originalSubinventory" type="common:C10" minOccurs="0" nillable="true"/>
<xsd:element name="ignoreForPlanning" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="serviceLevel" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="modeOfTransport" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="lineDirection" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="partyId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="routingReqId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="shippingControl" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="sourceBlanketReferenceId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="sourceBlanketReferenceNum" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="poShipmentLineId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="poShipmentLineNumber" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="returnedQuantity" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="returnedQuantity2" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="sourceLineTypeCode" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="rcvShipmentLineId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="supplierItemNumber" type="common:C50" minOccurs="0" nillable="true"/>
<xsd:element name="vendorId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="shipFromSiteId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="earliestPickupDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="latestPickupDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="earliestDropoffDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="latestDropoffDate" type="xsd:dateTime" minOccurs="0" nillable="true"/>
<xsd:element name="requestDateTypeCode" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="tpDeliveryDetailId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="sourceDocumentTypeId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="poRevisionNumber" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="releaseRevisionNumber" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="replenishmentStatus" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="referenceNumber" type="common:C30" minOccurs="0" nillable="true"/>
<xsd:element name="referenceLineNumber" type="common:C15" minOccurs="0" nillable="true"/>
<xsd:element name="referenceLineQuantity" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="referenceLineQuantityUom" type="common:C3" minOccurs="0" nillable="true"/>
<xsd:element name="originalLocatorId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="originalRevision" type="common:C3" minOccurs="0" nillable="true"/>
<xsd:element name="originalLotNumber" type="common:C40" minOccurs="0" nillable="true"/>
<xsd:element name="clientId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="consigneeFlag" type="common:C1" minOccurs="0" nillable="true"/>
<xsd:element name="equipmentId" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="sequenceNumber" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="pickupStopSeqNum" type="xsd:decimal" minOccurs="0" nillable="true"/>
<xsd:element name="delStopSeqNum" type="xsd:decimal" minOccurs="0" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="TripsResponse" type="obj:TripsResponseType"/>
<xsd:complexType name="TripsResponseType">
<xsd:sequence>
<xsd:element name="AuditMasterId" type="common:Integer"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
