Implementation/Infrastructure/EIAMetadata/classes/EO/common/V1.0/LoggingAO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://xmlns.eia.com/EO/common/Common/1.0" xmlns:logging="http://xmlns.eia.com/EO/common/LoggingEO/1.0" targetNamespace="http://xmlns.eia.com/EO/common/LoggingEO/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
<xsd:annotation>
<xsd:documentation xml:lang="en">
<Version>1.0</Version>
<Definition>Common Logging BIO</Definition>
<Description>This schema defines the objects to insert or update the Log messages at LBH.</Description>
<Author>Vidyasagar Atikam</Author>
<ModifiedBy>Vidyasagar Atikam</ModifiedBy>
<VersionDate>02-09-2010</VersionDate>
<VersionDescription>Initial Version</VersionDescription>
</xsd:documentation>
</xsd:annotation>
<xsd:import namespace="http://xmlns.eia.com/EO/common/Common/1.0" schemaLocation="Common.xsd"/>
<xsd:complexType name="LogDetails">
<xsd:sequence>
<xsd:element name="TransactionId" type="common:ID40">
<xsd:annotation>
<xsd:documentation>Request Id generated by the process of that particular system</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="TransactionName" type="common:C30">
<xsd:annotation>
<xsd:documentation>Unique Interface Name</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="TransactionStatus" type="common:Integer">
<xsd:annotation>
<xsd:documentation>Transaction Status</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="FileName" type="common:C250" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Input File Name</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Source" type="common:Integer">
<xsd:annotation>
<xsd:documentation>Source System Name</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Target" type="common:Integer">
<xsd:annotation>
<xsd:documentation>Target System Name</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MessageSourceType" type="common:Integer" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Processing Stage</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ProcessName" type="common:C250">
<xsd:annotation>
<xsd:documentation>Process or Program Name</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LogType" type="common:Integer">
<xsd:annotation>
<xsd:documentation>Log Message Type</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MessageCode" type="common:C250" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Message Code</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MessageDescription" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="common:C4000">
<xsd:attribute name="name" type="common:C100"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="SendEmail" type="common:C1" minOccurs="0" default="N">
<xsd:annotation>
<xsd:documentation>Email Flag</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="TransactionIdRef" type="common:C" minOccurs="0">
<xsd:annotation>
<xsd:documentation>TransactionIdRef contains value of concurrent request id of EBS. This will be populated only for outbound interfaces logging.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="EmailDetails">
<xsd:sequence>
<xsd:element name="ToList" type="common:C1000">
<xsd:annotation>
<xsd:documentation>List of users kept in TO</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CCList" type="common:C1000" minOccurs="0">
<xsd:annotation>
<xsd:documentation>List of users kept in CC</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="BCCList" type="common:C1000" minOccurs="0">
<xsd:annotation>
<xsd:documentation>List of users kept in BCC</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Subject" type="logging:SubjectType">
<xsd:annotation>
<xsd:documentation>Email Subject</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Body" type="logging:BodyType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Email Body</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Attachments" type="logging:AttachmentType" minOccurs="0" maxOccurs="5">
<xsd:annotation>
<xsd:documentation>Email Attachments</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Acknowledgement" type="common:BooleanString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Acknowledgement email has been read</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BodyType">
<xsd:annotation>
<xsd:documentation>Body Type</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="InterfaceName" type="common:C100" minOccurs="0"/>
<xsd:element name="TransactionId" type="common:C100" minOccurs="0"/>
<xsd:element name="TransactionStatus" type="common:C100" minOccurs="0"/>
<xsd:element name="Description" type="common:C4000"/>
<xsd:element name="ErrorsList" type="logging:ErrorsListType" minOccurs="0"/>
<xsd:element name="WarningsList" type="logging:WarningsListType" minOccurs="0"/>
<xsd:element name="ReferenceList" type="logging:ReferenceListType" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ReferenceListType">
<xsd:annotation>
<xsd:documentation>Reference List Type</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Reference" type="common:C4000" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ErrorsListType">
<xsd:annotation>
<xsd:documentation>Errors List Type</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Error" type="common:C4000" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="WarningsListType">
<xsd:annotation>
<xsd:documentation>Warnings List Type</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Warning" type="common:C4000" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="AttachmentType">
<xsd:annotation>
<xsd:documentation>Attachement Type</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="AttachmentName" type="common:C40"/>
<xsd:element name="AttachmentMimeType" type="common:C4000"/>
<xsd:element name="AttachmentURI" type="common:C1000"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SubjectType">
<xsd:annotation>
<xsd:documentation>Subject Type</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="SourceSystem" type="common:C100" minOccurs="0"/>
<xsd:element name="TargetSystem" type="common:C100" minOccurs="0"/>
<xsd:element name="Subject" type="common:C100"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
