Implementation/Infrastructure/EIAMetadata/classes/EO/common/V1.0/XSLParameters.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema targetNamespace="http://schemas.oracle.com/service/bpel/common" xmlns:common="http://schemas.oracle.com/service/bpel/common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xsd:element name="parameters">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="item" minOccurs="1" maxOccurs="unbounded">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="name" type="xsd:string"/>
<xsd:element name="value" type="xsd:string"/>
<xsd:element name="msg" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
