Implementation/ABF/NUC_PurchaseOrder_DJJ_EBiz_ABF/SOA/Schemas/PurchaseOrderAO.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:encoding="US-ASCII">
   <xsd:element name="ApiResponsePOHeader">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="APICallBatchID" type="xsd:integer"/>
            <xsd:element name="ApplicationID" type="xsd:integer"/>
            <xsd:element name="CallingAPIObject" type="xsd:string"/>
            <xsd:element name="CallingAckReq">
               <xsd:complexType>
                  <xsd:attribute name="nil" type="xsd:string"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="CallingClientID">
               <xsd:complexType>
                  <xsd:attribute name="nil" type="xsd:string"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="CallingClientName">
               <xsd:complexType>
                  <xsd:attribute name="nil" type="xsd:string"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="CallingClientRefID">
               <xsd:complexType>
                  <xsd:attribute name="nil" type="xsd:string"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="CallingDate">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="DateTime" type="xsd:string"/>
                     <xsd:element name="OffsetMinutes" type="xsd:integer"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="CallingRequestedStartDate">
               <xsd:complexType>
                  <xsd:attribute name="nil" type="xsd:string"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="DJJCallReferenceID" type="xsd:integer"/>
            <xsd:element name="OverrideReturnCount">
               <xsd:complexType>
                  <xsd:attribute name="nil" type="xsd:string"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="ReturnObjectCount" type="xsd:integer"/>
            <xsd:element name="ReturnThroughDate">
               <xsd:complexType>
                  <xsd:attribute name="nil" type="xsd:string"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="SuccessCode" type="xsd:integer"/>
            <xsd:element name="ValidationMessages">
               <xsd:complexType>
                  <xsd:attribute name="nil" type="xsd:string"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="POHeader">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="POConsumerHeaderModel" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="APTermsID" type="xsd:string"/>
                              <xsd:element name="BizType" type="xsd:string"/>
                              <xsd:element name="ChangeVersionID" type="xsd:integer"/>
                              <xsd:element name="ConsumerID" type="xsd:integer"/>
                              <xsd:element name="ConsumerName" type="xsd:string"/>
                              <xsd:element name="ConsumerRefID" type="xsd:integer"/>
                              <xsd:element name="ConsumerTermsRefID"/>
                              <xsd:element name="CreatedDate">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="DateTime" type="xsd:string"/>
                                       <xsd:element name="OffsetMinutes" type="xsd:integer"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="DJJOfficeID" type="xsd:integer"/>
                              <xsd:element name="DJJOrgID" type="xsd:integer"/>
                              <xsd:element name="DataChangeChildTypeID" type="xsd:integer"/>
                              <xsd:element name="DataChangeTypeID" type="xsd:integer"/>
                              <xsd:element name="EffectiveDate" type="xsd:string"/>
                              <xsd:element name="ExpirationDate" type="xsd:string"/>
                              <xsd:element name="POHeaderAddtlCharge">
                                 <xsd:complexType>
                                    <xsd:attribute name="nil" type="xsd:string"/>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="POHeaderStatusID" type="xsd:integer"/>
                              <xsd:element name="POID" type="xsd:integer"/>
                              <xsd:element name="POIDRefID"/>
                              <xsd:element name="POLine">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="POConsumerLineModel">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="BizType" type="xsd:string"/>
                                                <xsd:element name="BuyPeriodCode" type="xsd:integer"/>
                                                <xsd:element name="ConsumerItemRefID" type="xsd:integer"/>
                                                <xsd:element name="CreatedDate">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="DateTime" type="xsd:string"/>
                                                         <xsd:element name="OffsetMinutes" type="xsd:integer"/>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="DataChangeChildTypeID" type="xsd:integer"/>
                                                <xsd:element name="DataChangeTypeID" type="xsd:integer"/>
                                                <xsd:element name="ItemID" type="xsd:integer"/>
                                                <xsd:element name="ItemLongName" type="xsd:string"/>
                                                <xsd:element name="ItemOverrideName" type="xsd:string"/>
                                                <xsd:element name="ItemShortName" type="xsd:string"/>
                                                <xsd:element name="LastUpdatedDate">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="DateTime" type="xsd:string"/>
                                                         <xsd:element name="OffsetMinutes" type="xsd:integer"/>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="POID" type="xsd:integer"/>
                                                <xsd:element name="POLineAddtlCharge">
                                                   <xsd:complexType>
                                                      <xsd:attribute name="nil" type="xsd:string"/>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="POLineID" type="xsd:integer"/>
                                                <xsd:element name="POLineStatusID" type="xsd:integer"/>
                                                <xsd:element name="QtyCanBeOvershipped" type="xsd:string"/>
                                                <xsd:element name="QtyOrderedLB" type="xsd:integer"/>
                                                <xsd:element name="QtyOrderedUOMCode" type="xsd:string"/>
                                                <xsd:element name="SharesQtyAcrossLocations" type="xsd:string"/>
                                                <xsd:element name="SharesQtyAcrossModes" type="xsd:string"/>
                                                <xsd:element name="ShipToLocation">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="POConsumerLineShipToModel" maxOccurs="unbounded">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="BizType" type="xsd:string"/>
                                                                  <xsd:element name="ComissionRateUOMCode">
                                                                     <xsd:complexType>
                                                                        <xsd:attribute name="nil" type="xsd:string"/>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="CommissionRate" type="xsd:double"/>
                                                                  <xsd:element name="ConsumerID" type="xsd:integer"/>
                                                                  <xsd:element name="ConsumerRefID" type="xsd:integer"/>
                                                                  <xsd:element name="ContainmentPercentage" type="xsd:integer"/>
                                                                  <xsd:element name="CreatedDate">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="DateTime" type="xsd:string"/>
                                                                           <xsd:element name="OffsetMinutes" type="xsd:integer"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="CurrencyCode" type="xsd:string"/>
                                                                  <xsd:element name="CurrencyConvRateToUSD" type="xsd:integer"/>
                                                                  <xsd:element name="DataChangeChildTypeID" type="xsd:integer"/>
                                                                  <xsd:element name="DataChangeTypeID" type="xsd:integer"/>
                                                                  <xsd:element name="FOBCode" type="xsd:string"/>
                                                                  <xsd:element name="FrtCostRespID" type="xsd:integer"/>
                                                                  <xsd:element name="FrtPaymentRespID" type="xsd:integer"/>
                                                                  <xsd:element name="IsContained" type="xsd:string"/>
                                                                  <xsd:element name="IsPriceEstimated" type="xsd:string"/>
                                                                  <xsd:element name="IsRecovered" type="xsd:string"/>
                                                                  <xsd:element name="ItemPackageID" type="xsd:integer"/>
                                                                  <xsd:element name="ItemPackageName"/>
                                                                  <xsd:element name="ItemSizeID" type="xsd:integer"/>
                                                                  <xsd:element name="ItemSizeName"/>
                                                                  <xsd:element name="LastUpdatedDate">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="DateTime" type="xsd:string"/>
                                                                           <xsd:element name="OffsetMinutes" type="xsd:integer"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="ModeCode" type="xsd:string"/>
                                                                  <xsd:element name="POFufillment">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="POFufillmentModel" maxOccurs="unbounded">
                                                                              <xsd:complexType>
                                                                                 <xsd:sequence>
                                                                                    <xsd:element name="BizType" type="xsd:string"/>
                                                                                    <xsd:element name="CargoNum"/>
                                                                                    <xsd:element name="CreatedDate">
                                                                                       <xsd:complexType>
                                                                                          <xsd:sequence>
                                                                                             <xsd:element name="DateTime" type="xsd:string"/>
                                                                                             <xsd:element name="OffsetMinutes" type="xsd:integer"/>
                                                                                          </xsd:sequence>
                                                                                       </xsd:complexType>
                                                                                    </xsd:element>
                                                                                    <xsd:element name="DataChangeChildTypeID" type="xsd:integer"/>
                                                                                    <xsd:element name="DataChangeTypeID" type="xsd:integer"/>
                                                                                    <xsd:element name="FreightRate">
                                                                                       <xsd:complexType>
                                                                                          <xsd:sequence>
                                                                                             <xsd:element name="FreightRateModel" minOccurs="0">
                                                                                                <xsd:complexType>
                                                                                                   <xsd:sequence>
                                                                                                      <xsd:element name="BizType" type="xsd:string"/>
                                                                                                      <xsd:element name="CreatedDate">
                                                                                                         <xsd:complexType>
                                                                                                            <xsd:sequence>
                                                                                                               <xsd:element name="DateTime" type="xsd:string"/>
                                                                                                               <xsd:element name="OffsetMinutes" type="xsd:integer"/>
                                                                                                            </xsd:sequence>
                                                                                                         </xsd:complexType>
                                                                                                      </xsd:element>
                                                                                                      <xsd:element name="DataChangeChildTypeID" type="xsd:integer"/>
                                                                                                      <xsd:element name="DataChangeTypeID" type="xsd:integer"/>
                                                                                                      <xsd:element name="FrtCurrencyCode" type="xsd:string"/>
                                                                                                      <xsd:element name="FrtEffectiveRate" type="xsd:double"/>
                                                                                                      <xsd:element name="FrtEffectiveRateMinLB" type="xsd:integer"/>
                                                                                                      <xsd:element name="FrtEffectiveRateMinUOMCode" type="xsd:string"/>
                                                                                                      <xsd:element name="FrtEffectiveRateUOMCode" type="xsd:string"/>
                                                                                                      <xsd:element name="FrtEquipmentTypeID" type="xsd:integer"/>
                                                                                                      <xsd:element name="FrtRateID" type="xsd:integer"/>
                                                                                                      <xsd:element name="FrtRateTierID" type="xsd:integer"/>
                                                                                                      <xsd:element name="FrtVendorConsumerRefID" type="xsd:string"/>
                                                                                                      <xsd:element name="LastUpdatedDate">
                                                                                                         <xsd:complexType>
                                                                                                            <xsd:sequence>
                                                                                                               <xsd:element name="DateTime" type="xsd:string"/>
                                                                                                               <xsd:element name="OffsetMinutes" type="xsd:integer"/>
                                                                                                            </xsd:sequence>
                                                                                                         </xsd:complexType>
                                                                                                      </xsd:element>
                                                                                                      <xsd:element name="MainFrtVendorID" type="xsd:integer"/>
                                                                                                      <xsd:element name="MainFrtVendorName" type="xsd:string"/>
                                                                                                      <xsd:element name="POID" type="xsd:integer"/>
                                                                                                      <xsd:element name="POLineID" type="xsd:integer"/>
                                                                                                      <xsd:element name="POLineShipToID" type="xsd:integer"/>
                                                                                                   </xsd:sequence>
                                                                                                </xsd:complexType>
                                                                                             </xsd:element>
                                                                                          </xsd:sequence>
                                                                                          <xsd:attribute name="nil" type="xsd:string"/>
                                                                                       </xsd:complexType>
                                                                                    </xsd:element>
                                                                                    <xsd:element name="LastUpdatedDate">
                                                                                       <xsd:complexType>
                                                                                          <xsd:sequence>
                                                                                             <xsd:element name="DateTime" type="xsd:string"/>
                                                                                             <xsd:element name="OffsetMinutes" type="xsd:integer"/>
                                                                                          </xsd:sequence>
                                                                                       </xsd:complexType>
                                                                                    </xsd:element>
                                                                                    <xsd:element name="POID" type="xsd:integer"/>
                                                                                    <xsd:element name="POLineID" type="xsd:integer"/>
                                                                                    <xsd:element name="POLineShipToID" type="xsd:integer"/>
                                                                                    <xsd:element name="ShipFromCity" type="xsd:string"/>
                                                                                    <xsd:element name="ShipFromConsumerRefID"/>
                                                                                    <xsd:element name="ShipFromID" type="xsd:integer"/>
                                                                                    <xsd:element name="ShipFromName" type="xsd:string"/>
                                                                                    <xsd:element name="ShipFromState" type="xsd:string"/>
                                                                                    <xsd:element name="SupplierConsumerRefID"/>
                                                                                    <xsd:element name="SupplierID" type="xsd:integer"/>
                                                                                    <xsd:element name="SupplierName" type="xsd:string"/>
                                                                                    <xsd:element name="SupplierPORefID" type="xsd:integer"/>
                                                                                    <xsd:element name="SupplierParentConsumerRefID"/>
                                                                                    <xsd:element name="SupplierParentID" type="xsd:integer"/>
                                                                                    <xsd:element name="SupplierParentName" type="xsd:string"/>
                                                                                 </xsd:sequence>
                                                                              </xsd:complexType>
                                                                           </xsd:element>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="POID" type="xsd:integer"/>
                                                                  <xsd:element name="POLineID" type="xsd:integer"/>
                                                                  <xsd:element name="POLineShipToAddtlCharge">
                                                                     <xsd:complexType>
                                                                        <xsd:attribute name="nil" type="xsd:string"/>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="POLineShipToID" type="xsd:integer"/>
                                                                  <xsd:element name="POLineShipToStatusID" type="xsd:integer"/>
                                                                  <xsd:element name="PriceRate" type="xsd:double"/>
                                                                  <xsd:element name="PriceRateLBS" type="xsd:double"/>
                                                                  <xsd:element name="PriceRateTypeID" type="xsd:integer"/>
                                                                  <xsd:element name="PriceRateUOMCode" type="xsd:string"/>
                                                                  <xsd:element name="RecoveryPercentage" type="xsd:integer"/>
                                                                  <xsd:element name="ShipToConsumerRefID"/>
                                                                  <xsd:element name="ShipToID" type="xsd:integer"/>
                                                                  <xsd:element name="ShipToQtyLB" type="xsd:integer"/>
                                                                  <xsd:element name="ShipToQtyUOMCode" type="xsd:string"/>
                                                                  <xsd:element name="ShipToSettleWeightCode" type="xsd:string"/>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="PONum" type="xsd:integer"/>
                              <xsd:element name="ParentConsumerID" type="xsd:integer"/>
                              <xsd:element name="ParentConsumerName" type="xsd:string"/>
                              <xsd:element name="ParentConsumerRefID"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation>
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>