Implementation/OTM/ReceivePShipmentFromOtm/Schemas/DB_WshOtmInboundGrp_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/DB_WshOtmInboundGrp" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/DB_WshOtmInboundGrp" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_INT_TRIP_INFO" type="db:APPS.XXNUC_WSH_OTM_TRIP_TAB" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="X_OUTPUT_REQUEST_ID" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="X_RETURN_STATUS" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="X_MSG_COUNT" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="X_MSG_DATA" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="APPS.WSH_OTM_STOPLOCTZ_TAB">
      <sequence>
         <element name="STOP_LOCATIONS_ITEM" type="db:APPS.WSH_OTM_STOPLOCTZ_OBJ" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="APPS.WSH_OTM_RELEASE_OBJ">
      <sequence>
         <element name="RELEASE_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TRANSACTION_CODE" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SHIP_FROM_LOCATION_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SHIP_TO_LOCATION_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RELEASE_REFNUM" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EARLY_PICKUP_DATE" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LATE_PICKUP_DATE" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EARLY_DELIVERY_DATE" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LATE_DELIVERY_DATE" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RELEASE_FREIGHT_COSTS" type="db:APPS.WSH_OTM_REL_FREIGHT_COST_TAB" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="APPS.XXNUC_WSH_OTM_STOP_TAB">
      <sequence>
         <element name="SHIPMENT_STOPS_ITEM" type="db:APPS.XXNUC_WSH_OTM_STOP_OBJ" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="APPS.WSH_OTM_DET_TAB">
      <sequence>
         <element name="RL_DETAILS_ITEM" type="db:APPS.WSH_OTM_DET_OBJ" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="APPS.WSH_OTM_REL_FREIGHT_COST_OBJ">
      <sequence>
         <element name="SHIPMENT_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONETARY_AMOUNT" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CURRENCY_CODE" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BASE_RATE" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="APPS.WSH_OTM_REL_FREIGHT_COST_TAB">
      <sequence>
         <element name="RELEASE_FREIGHT_COSTS_ITEM" type="db:APPS.WSH_OTM_REL_FREIGHT_COST_OBJ" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="APPS.WSH_OTM_RELEASE_TAB">
      <sequence>
         <element name="SHIPMENT_RELEASES_ITEM" type="db:APPS.WSH_OTM_RELEASE_OBJ" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="APPS.WSH_OTM_LPN_CONT_TAB">
      <sequence>
         <element name="PACKED_ITEMS_ITEM" type="db:APPS.WSH_OTM_LPN_CONT_OBJ" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="APPS.WSH_OTM_DLV_TAB">
      <sequence>
         <element name="SHIPMENT_DELIVERIES_ITEM" type="db:APPS.WSH_OTM_DLV_OBJ" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="APPS.WSH_OTM_SHIP_UNIT_TAB">
      <sequence>
         <element name="SHIPMENT_SHIP_UNITS_ITEM" type="db:APPS.WSH_OTM_SHIP_UNIT_OBJ" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="APPS.XXNUC_WSH_OTM_STOP_OBJ">
      <sequence>
         <element name="STOP_LOCATION_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="STOP_SEQUENCE_NUMBER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SHIPMENT_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TRANSACTION_CODE" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PLANNED_ARRIVAL_TIME" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PLANNED_DEPARTURE_TIME" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACTUAL_ARRIVAL_TIME" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACTUAL_DEPARTURE_TIME" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="STOP_DURATION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DEPARTURE_SEAL_CODE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DEPARTURE_SEAL_CODE_QLFR" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIMEZONE_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DOCK_DOOR_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="START_TIME" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="END_TIME" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE_CATEGORY" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE1" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE2" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE3" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE4" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE5" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE6" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE7" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE8" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE9" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE10" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE11" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE12" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE13" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE14" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE15" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="STOP_DETAILS" type="db:APPS.WSH_OTM_STOP_DET_TAB" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="APPS.WSH_OTM_LPN_OBJ">
      <sequence>
         <element name="LPN_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LPN_TYPE" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GROSS_WEIGHT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NET_WEIGHT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="WEIGHT_UOM_CODE" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VOLUME_UOM_CODE" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SEAL_CODE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PACKED_ITEMS" type="db:APPS.WSH_OTM_LPN_CONT_TAB" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="PARENT_DELIVERY_DETAIL_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CONTAINER_TYPE_CODE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="UNIT_LENGTH" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="UNIT_HEIGHT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="UNIT_WIDTH" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DIMENSION_UM_CODE" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VOLUME" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="EQUIPMENT_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="APPS.XXNUC_WSH_OTM_TRIP_TAB">
      <sequence>
         <element name="P_INT_TRIP_INFO_ITEM" type="db:APPS.XXNUC_WSH_OTM_TRIP_OBJ" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="APPS.WSH_OTM_STOP_DET_TAB">
      <sequence>
         <element name="STOP_DETAILS_ITEM" type="db:APPS.WSH_OTM_STOP_DET_OBJ" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="APPS.XXNUC_WSH_OTM_TRIP_OBJ">
      <sequence>
         <element name="SHIPMENT_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SHIPMENT_NAME" type="db:string2000" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SHIPMENT_REFNUM" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TRANSACTION_CODE" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SERVICE_PROVIDER_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CONTACT_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TRANSPORT_MODE_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RATE_SERVICE_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="WEIGHT_UOM_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VOLUME" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VOLUME_UOM_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SHIPUNIT_COUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PAYMENT_CODE_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="STOP_COUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RELEASE_COUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VOYAGE_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VESSEL_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EQUIPMENT_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EQUIPMENT_INITIAL" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EQUIPMENT_NUMBER" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EQUIPMENT_TYPE_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EQUIPMENT_GROUP_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TP_PLAN_NAME" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EQUIPMENT_SEAL" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MASTER_BOL_NUMBER" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PLANNED_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ROUTING_INSTRUCTIONS" type="db:string2000" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GROSS_WEIGHT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NET_WEIGHT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="BOOKING_NUMBER" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ESTIMATED_COST" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TRIP_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="IGNORE_FOR_PLANNING" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OPERATOR" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MANUAL_FREIGHT_COSTS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CURRENCY_CODE" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PACKED_ITEM_COUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TRIP_ID_QLFR" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MBOL_NUMBER_QLFR" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PLANNED_TRIP_QLFR" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MANUAL_FREIGHT_COSTS_QLFR" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MAN_FREIGHT_COST_CUR_QLFR" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OPERATOR_QLFR" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ROUTING_INSTR_QLFR" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE_CATEGORY" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE1" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE2" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE3" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE4" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE5" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE6" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE7" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE8" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE9" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE10" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE11" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE12" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE13" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE14" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ATTRIBUTE15" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SHIPMENT_STOPS" type="db:APPS.XXNUC_WSH_OTM_STOP_TAB" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="SHIPMENT_SHIP_UNITS" type="db:APPS.WSH_OTM_SHIP_UNIT_TAB" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="SHIPMENT_DELIVERIES" type="db:APPS.WSH_OTM_DLV_TAB" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="SHIPMENT_RELEASES" type="db:APPS.WSH_OTM_RELEASE_TAB" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="LPNS" type="db:APPS.WSH_OTM_LPN_TAB" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="STOP_LOCATIONS" type="db:APPS.WSH_OTM_STOPLOCTZ_TAB" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="APPS.WSH_OTM_SHIP_UNIT_OBJ">
      <sequence>
         <element name="SHIP_UNIT_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TRANSACTION_CODE" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SHIP_FROM_LOCATION_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SHIP_TO_LOCATION_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RELEASE_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="APPS.WSH_OTM_DET_OBJ">
      <sequence>
         <element name="DELIVERY_DETAIL_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LOT_NUMBER" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SERIAL_NUMBER" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TO_SERIAL_NUMBER" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GROSS_WEIGHT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="WEIGHT_UOM_CODE" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VOLUME" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VOLUME_UOM_CODE" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="REQUESTED_QUANTITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SHIPPED_QUANTITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INVENTORY_ITEM_ID" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CONTAINER_FLAG" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PARENT_DELIVERY_DETAIL_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CUST_PO_NUMBER" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SOURCE_HEADER_NUMBER" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CUST_PO_NUMBER_QLFR" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SOURCE_HEADER_NUMBER_QLFR" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DELIVERY_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NET_WEIGHT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="APPS.WSH_OTM_STOP_DET_OBJ">
      <sequence>
         <element name="ACTIVITY" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LPN_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="APPS.WSH_OTM_DLV_OBJ">
      <sequence>
         <element name="TRANSACTION_CODE" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DELIVERY_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NAME" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FREIGHT_TERMS" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FOB_CODE" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CARRIER_ID" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SERVICE_LEVEL" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MODE_OF_TRANSPORT" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="INITIAL_PICKUP_LOCATION_ID" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ULTIMATE_DROPOFF_LOCATION_ID" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EARLIEST_PICKUP_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="LATEST_PICKUP_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="EARLIEST_DROPOFF_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="LATEST_DROPOFF_DATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="GROSS_WEIGHT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="WEIGHT_UOM_CODE" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VOLUME" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VOLUME_UOM_CODE" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NET_WEIGHT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REVISION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REASON_OF_TRANSPORT" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESCRIPTION" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ADDITIONAL_SHIPMENT_INFO" type="db:string500" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ROUTING_INSTRUCTIONS" type="db:string120" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TOTAL_ITEM_COUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="REVISION_QLFR" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="REASON_OF_TRANSPORT_QLFR" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESCRIPTION_QLFR" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ADDITIONAL_SHIPMENT_INFO_QLFR" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ROUTING_INSTRUCTIONS_QLFR" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RL_DETAILS" type="db:APPS.WSH_OTM_DET_TAB" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="LPN" type="db:APPS.WSH_OTM_LPN_TAB" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="APPS.WSH_OTM_LPN_CONT_OBJ">
      <sequence>
         <element name="CONTENT_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="LINE_NUMBER" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ITEM_REF" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ITEM_QUANTITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SHIP_UNIT_GID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DELIVERY_ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="GROSS_WEIGHT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NET_WEIGHT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="WEIGHT_UOM_CODE" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VOLUME" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VOLUME_UOM_CODE" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="APPS.WSH_OTM_STOPLOCTZ_OBJ">
      <sequence>
         <element name="LOCATION_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LOCATION_NAME" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIMEZONE_XID" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LATITUDE" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LONGITUDE" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="APPS.WSH_OTM_LPN_TAB">
      <sequence>
         <element name="LPN_ITEM" type="db:APPS.WSH_OTM_LPN_OBJ" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
   <simpleType name="string2000">
      <restriction base="string">
         <maxLength value="2000"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string150">
      <restriction base="string">
         <maxLength value="150"/>
      </restriction>
   </simpleType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string500">
      <restriction base="string">
         <maxLength value="500"/>
      </restriction>
   </simpleType>
   <simpleType name="string120">
      <restriction base="string">
         <maxLength value="120"/>
      </restriction>
   </simpleType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>
