Implementation/ABF/NUC_Emp_SAP_EBiz_ABF/xsd/NuePay_ReducedEmpDemo.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="Contact">
        <xs:annotation>
            <xs:documentation>Element for specific contact</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name" type="xs:string" minOccurs="0"/>
                <xs:element name="Relationship" type="xs:string" minOccurs="0"/>
                <xs:element ref="Phone" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="Type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Emergency"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="Phone">
        <xs:annotation>
            <xs:documentation>Phone related data</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="Type" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="50"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Phones">
        <xs:annotation>
            <xs:documentation>Container element for phones</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Phone" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Addresses">
        <xs:annotation>
            <xs:documentation>Container element for individual address elems</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Address" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ReducedPerson">
        <xs:annotation>
            <xs:documentation>Demographic infomation for a single deduced person</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SAPEmpNum" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Numeric ID assigned to employee by SAP</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="LegacyEmpNum" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Employee Number from the division&apos;s database or computer system (Old Employee No.)</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="Name" minOccurs="0"/>
                <xs:element ref="Addresses" minOccurs="0"/>
                <xs:element name="Gender" type="xs:string" minOccurs="0"/>
                <xs:element name="HireDate" type="nillableDate" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Date of original hire - not to be confused with rehire date</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RehireDate" type="nillableDate" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Date of rehire</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="LastWorkedDate" type="nillableDate" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Last Date of Work</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="TerminationDate" type="nillableDate" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Date of termination</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="EMailAddress">
                    <xs:annotation>
                        <xs:documentation>Nucor e-mail address. For steel making divisions the e-mail domain will be nucor.com.  For product divisions this will be the branded name (ex vulcraft-ut.com).   The data in this element is determined by the user&apos;s NucorNet profile.  This will change to be AD integrated once the enterprise-wide AD is in place.  This element added and populated in February 2012.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Job" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Jobs are general classifications of tasks performed by employees. The job will not drive the pay grade and will be maintained by the Central HR Synergy team. Jobs will drive EEO and AAP codes. Jobs will be standardized across product group.   Example: Controller, Purchasing Agent, Purchasing Agent Asst, Accountant, Credit Analyst, HR Coordinator, HR Administrator, Finance Receiving, Receptionist, Receiving Clerk, Receiving, Plant Receiver, Finance Administrator, Engineering Manager, Drafting Supervisor, Design Engineer, Shop Order Supervisor, Lead Shop Order Technicial, Shop Order Technician, Detailer, Checker etc.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="JobID" use="required">
                                    <xs:annotation>
                                        <xs:documentation>Numeric ID for Job</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Position" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Positions are job assignments for employees at divisions employees.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="PositionID" use="required">
                                    <xs:annotation>
                                        <xs:documentation>Numeric ID for Position</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Department" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>This represents a grouping of employees and is assigned to a single Cost Center.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="DepartmentID" use="required">
                                    <xs:annotation>
                                        <xs:documentation>Numeric identifier for department</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PersonnelArea" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>The personnel area is an organizational unit that represents a specific area of the enterprise.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="PersonnelAreaID">
                                    <xs:annotation>
                                        <xs:documentation>Numeric ID for personnel area.</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="EmployeeGroup" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>The employee group sets a high level grouping of employees.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="EmployeeGroupID">
                                    <xs:annotation>
                                        <xs:documentation>Numeric ID for Employee group area.</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SupervisorName" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="SAPEmpNum" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ReducedPersons">
        <xs:annotation>
            <xs:documentation>Container element for individual reduced person elements</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ReducedPerson" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Pay">
        <xs:annotation>
            <xs:documentation>Container element for pay related information</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PSGroup" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>A pay scale group is a criterion used for grading job evaluation. It is a data element linked to a specific combination of pay scale type and pay scale areas, a pay scale group usually defines specific jobs or roles that have specific pay requirements or contracts
Example: Hourly, Weekly, Yearly.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PSGroupLevel" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>The pay scale level is a criterion for job evaluation within the pay scale group. It is a more detailed breakdown of a pay grade in which specific pay steps within a group exist. A separate list will be issued to all the divisions by corporate. 
Example:
PS Type 01=Production. PS Area 01=Vulcraft. PS Group - Hourly. PS Group Lvl 01 to 33
PS Type 01=Production. PS Area 01=Vulcraft. PS Group - Weekly. PS Group Lvl 01 to 33
PS Type 03=Dept Mgr. PS Area  05=Dept Manager. PS Group - Yearly. PS Group Lvl 09 to 20</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WageType" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Wage types are used for storing the amounts, rates, and time units of payments and deductions that are subsequently used in payroll processing to calculate an employee&apos;s pay. 
Example: 1001 -  Regular Rate, 1002 - Shift Differential, 1003 - Pay Period Salary, 1004 -  Drivers Pay</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="HourlyAmount" type="xs:decimal" minOccurs="0"/>
                <xs:element name="PSType" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Example: 01=Production, 02=ROA, 03=Dept Mgr, 04=Corp</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PSArea" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Example: 01=Vulcraft, 02=ColdFinish, 03=NucorSteel, 04=NBG, 05=Dept Manager, 06=Corporate</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Amount" type="xs:decimal" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Contacts">
        <xs:annotation>
            <xs:documentation>Container element for contact related information</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Contact" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Address">
        <xs:annotation>
            <xs:documentation>Container element for address related information</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Address1" type="xs:string" minOccurs="0"/>
                <xs:element name="Address2" type="xs:string" minOccurs="0"/>
                <xs:element name="City" type="xs:string" minOccurs="0"/>
                <xs:element name="State" type="xs:string" minOccurs="0"/>
                <xs:element name="PostalCode" type="xs:string" minOccurs="0"/>
                <xs:element name="Country" type="xs:string" minOccurs="0"/>
                <xs:element ref="Phones" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="Type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Permanent"/>
                        <xs:enumeration value="Alternate"/>
                        <xs:enumeration value="Mail"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="Name">
        <xs:annotation>
            <xs:documentation>Container element for name related information</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Last" type="xs:string" minOccurs="0"/>
                <xs:element name="First" type="xs:string" minOccurs="0"/>
                <xs:element name="Middle" type="xs:string" minOccurs="0"/>
                <xs:element name="Suffix" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="SSN">
        <xs:restriction base="xs:string">
            <xs:length value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="emptyString">
        <xs:annotation>
            <xs:documentation>string that can only be empty (zero length)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="nillableDateTime">
        <xs:annotation>
            <xs:documentation>DateTime type that can be empty (or nill)</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="xs:dateTime emptyString"/>
    </xs:simpleType>
    <xs:simpleType name="nillableDate">
        <xs:annotation>
            <xs:documentation>Date type that can be empty (or nill)</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="xs:date emptyString"/>
    </xs:simpleType>
    <xs:simpleType name="nillableSSN">
        <xs:annotation>
            <xs:documentation>SSN type that can be empty (or nill)</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="SSN emptyString"/>
    </xs:simpleType>
    <xs:simpleType name="ST_Warning">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ST_Advisement">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ST_Error">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="Envelope">
        <xs:annotation>
            <xs:documentation>Root node</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ResponseManifest">
                    <xs:annotation>
                        <xs:documentation>Element containing errors, warnings, and advisements information.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Errors" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Container element to hold individual error elements.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Error" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="ST_Error">
                                                        <xs:attribute name="ID" type="xs:short" use="required">
                                                            <xs:annotation>
                                                                <xs:documentation>Element describing each individual error.</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:attribute>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Warnings" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Container element to hold individual warning elements.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Warning" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="ST_Warning">
                                                        <xs:attribute name="ID" type="xs:short" use="required">
                                                            <xs:annotation>
                                                                <xs:documentation>Numeric identification of warning.</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:attribute>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Advisements" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Contiainer element to hold individual advisement elements.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Advisement" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="ST_Advisement">
                                                        <xs:attribute name="ID" type="xs:short" use="required">
                                                            <xs:annotation>
                                                                <xs:documentation>Numeric identification of advisement</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:attribute>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Divisions" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Division" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="ReducedPersons" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute name="DivCode" use="required">
                                        <xs:annotation>
                                            <xs:documentation>Numeric identifier identifying the Nucor business unit for which the data is submitted.</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="MsgType" use="required">
                <xs:annotation>
                    <xs:documentation>Fixed string to specify message type - must contain exactly the following string:&quot;EmployeeReducedDemographic&quot;</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="EmployeeReducedDemographic"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Ver" use="required">
                <xs:annotation>
                    <xs:documentation>Version number of the package schema in the form 1.0.0  Each element in this verson has the following meaning (Major Version).(Minor Version).(Build)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d+\.\d+\.\d+"/>
                        <xs:enumeration value="1.1.1"/>
                        <xs:enumeration value="1.1.0"/>
                        <xs:enumeration value="1.0.0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="CreatedDateTime" use="required">
                <xs:annotation>
                    <xs:documentation>The actual date and time when the package was created.  Use ISO 8601 time format.  If using local time ensure that TZ offset is correct.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:dateTime">
                        <xs:minInclusive value="2009-01-01T00:00:00Z"/>
                        <xs:maxInclusive value="2019-12-31T23:59:59Z"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Environment" use="required">
                <xs:annotation>
                    <xs:documentation>Indicates which environment the data in the package was extracted from: D-Development, Q-Quality, P-Production</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="D"/>
                        <xs:enumeration value="Q"/>
                        <xs:enumeration value="P"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Client" use="required">
                <xs:annotation>
                    <xs:documentation>Client number from where the data was extracted.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="9999"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ControlNum" use="optional">
                <xs:annotation>
                    <xs:documentation>Unique identification number (GUID) for this submission.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="38"/>
                        <xs:minLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="ENTER_NAME_OF_ROOT_ELEMENT_HERE">
        <xs:annotation>
            <xs:documentation>Comment describing your root element</xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>
<!-- edited with XMLSpy v2012 sp1 (x64) (http://www.altova.com) by Scott Messenger (Nucor) -->
<!-- This schema is intended to support the retrieval of a reduced set of information for employees.  It is intended for official
and Controller approved usage within Nucor Corporation.  Any other use is strictly prohibited.-->
<!--Ver 1.0.0  31-AUG-2012 Initial Release -->
<!-- Ver 1.0.1 31-OCT-2012 Added Termination Date -->
<!-- Ver 1.0.2 13-NOV-2012 Added PersonnelAreaID (optional element) -->
