Implementation/Infrastructure/EIAMetadata/classes/AO/EBiz/P2P/V1.0/PurchaseOrderAO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema targetNamespace="http://xmlns.eia.com/AO/EBiz/P2P/PurchaseOrderAO/1.0" xmlns="http://xmlns.eia.com/AO/EBiz/P2P/PurchaseOrderAO/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:commonao="http://xmlns.eia.com/AO/EBiz/common/CommonAO/1.0" xmlns:amtao="http://xmlns.eia.com/AO/EBiz/common/AmountAO/1.0" xmlns:supplierao="http://xmlns.eia.com/AO/EBiz/common/SupplierAO/1.0" xmlns:whoao="http://xmlns.eia.com/AO/EBiz/common/WhoAO/1.0" xmlns:poao="http://xmlns.eia.com/AO/EBiz/P2P/PurchaseOrderAO/1.0" xmlns:uomao="http://xmlns.eia.com/AO/EBiz/common/UomAO/1.0" xmlns:itemao="http://xmlns.eia.com/AO/EBiz/common/ItemAO/1.0">
<xsd:import schemaLocation="../../../../AO/EBiz/common/V1.0/UomAO.xsd" namespace="http://xmlns.eia.com/AO/EBiz/common/UomAO/1.0"/>
<xsd:import schemaLocation="../../../../AO/EBiz/common/V1.0/AmountAO.xsd" namespace="http://xmlns.eia.com/AO/EBiz/common/AmountAO/1.0"/>
<xsd:import schemaLocation="../../../../AO/EBiz/common/V1.0/CommonAO.xsd" namespace="http://xmlns.eia.com/AO/EBiz/common/CommonAO/1.0"/>
<xsd:import schemaLocation="../../../../AO/EBiz/P2P/V1.0/SupplierAO.xsd" namespace="http://xmlns.eia.com/AO/EBiz/P2P/SupplierAO/1.0"/>
<xsd:import schemaLocation="../../../../AO/EBiz/common/V1.0/WhoAO.xsd" namespace="http://xmlns.eia.com/AO/EBiz/common/WhoAO/1.0"/>
<xsd:import schemaLocation="../../../../AO/EBiz/common/V1.0/ItemAO.xsd" namespace="http://xmlns.eia.com/AO/EBiz/common/ItemAO/1.0"/>
<xsd:element name="BasicPurchaseOrder" type="poao:BasicPurchaseOrderType"/>
<xsd:complexType name="BasicPurchaseOrderType">
<xsd:sequence>
<xsd:element name="POIndentfierID" type="xsd:string"/>
<xsd:element name="PurchaseOrderNumber" type="xsd:string"/>
<xsd:element name="PurchaseOrderDate" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="BasicPurchaseOrderLinesType">
<xsd:sequence>
<xsd:element name="Identifier" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="POIndentfierID" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="LineNum" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="ItemDescription" maxOccurs="1" minOccurs="0" type="xsd:string"/>
<xsd:element name="Amount" maxOccurs="1" minOccurs="0" type="amtao:AmountType"/>
<xsd:element name="Quantity" maxOccurs="1" minOccurs="0" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ListOfPurchaseOrders" type="poao:ListOfPurchaseOrderType"/>
<xsd:complexType name="ListOfPurchaseOrderType">
<xsd:sequence>
<xsd:element name="PurchaseOrder" type="poao:PurchaseOrderType" minOccurs="0" nillable="true" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PurchaseOrderType">
<xsd:sequence>
<xsd:element name="Acceptanceduedate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Acceptancerequiredflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Accesslevelcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Action" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Addressline1" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Addressline2" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Addressline3" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Agentid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Agentname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Amountagreed" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Amountlimit" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Amounttoencumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Approvalrequiredflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Approvalstatus" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Approveddate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Approvedflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Authorizationstatus" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Batchid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Billtolocation" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Billtolocationid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Blankettotalamount" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccount" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment1" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment10" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment11" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment12" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment13" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment14" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment15" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment16" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment17" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment18" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment19" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment2" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment20" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment21" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment22" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment23" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment24" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment25" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment26" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment27" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment28" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment29" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment3" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment30" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment4" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment5" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment6" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment7" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment8" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountsegment9" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Cancelflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Canpreparerapproveflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Changesummary" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="City" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Closedcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Closeddate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Comments" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Confirmingorderflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Consignedconsumptionflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Consumereqdemandflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Contermsarticlesupddate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Contermsdelivupddate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Contermsexistflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Country" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Cpareference" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Createdby" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Createdlanguage" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Creationdate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Creationdatedisp" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Currencycode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Dispratetype" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Distributiontype" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Doctypename" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Documentnum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Documentsubtype" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Documenttypecode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Draftid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Effectivedate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Enableallsites" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Enabledflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Encumbrancerequiredflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Enddate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Enddateactive" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Expirationdate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Fax" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Firmdate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Firmflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Firmstatuslookupcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Fob" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Fobdsp" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Foblookupcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Freightcarrier" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Freightterms" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Freighttermsdsp" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Freighttermslookupcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Fromheaderid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Fromrfqnum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Fromtypelookupcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Frozenflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Glencumbereddate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Glencumberedperiodname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalagreementflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute1" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute10" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute11" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute12" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute13" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute14" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute15" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute16" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute17" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute18" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute19" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute2" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute20" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute3" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute4" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute5" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute6" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute7" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute8" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute9" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattributecategory" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Governmentcontext" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Groupcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Interfaceheaderid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Interfacesourcecode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lastupdatedate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lastupdatedby" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lastupdatelogin" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Loadsourcingrulesflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lockownerrole" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lockowneruserid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Minreleaseamount" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Notetoauthorizer" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Notetoreceiver" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Notetovendor" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Orgid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="OperatingUnit" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Originalpoheaderid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Paymentterms" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Payoncode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Payondsp" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Pcardid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Pendingsignatureflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Phone" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Poheaderid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Poreleaseid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Priceupdatetolerance" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Printcount" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Printeddate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Processcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Processingid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Processingroundnum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Programapplicationid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Programid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Programupdatedate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Quotationclasscode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Quotetypelookupcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Quotevendorquotenumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Quotewarningdelay" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Quotewarningdelayunit" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Rate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Ratedate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Ratetype" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Ratetypecode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Referencenum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Releasedate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Releasenum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Replydate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Replymethod" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Replymethodlookupcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Requestid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Reviseddate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Revisionnum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Rfqclosedate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Securitylevelcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Segment1" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Segment2" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Segment3" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Segment4" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Segment5" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shippingcontrol" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shiptolocation" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shiptolocationid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shipvialookupcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Startdate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Startdateactive" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="State" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Statuslookupcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Styledisplayname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Styleid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Summaryflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Supplyagreementflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Termsid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Type1099" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Typelookupcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Userholdflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Ussgltransactioncode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Vatcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Vendorcontact" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Vendorcontactid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Vendordocnum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Vendorid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Vendorlist" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Vendorlistheaderid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Vendorname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Vendornum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Vendorordernum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Vendorsitecode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Vendorsiteid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Wfgroupid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Wfitemkey" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Wfitemtype" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Zip" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="HeaderDFF" type="commonao:CommonDFFType" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="ListOfPurchaseOrderLines" maxOccurs="1" minOccurs="0" type="poao:ListOfPurchaseOrderLinesType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ListOfPurchaseOrderLinesType">
<xsd:sequence>
<xsd:element name="PurchaseOrderLine" maxOccurs="unbounded" minOccurs="0" type="poao:PurchaseOrderLineType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PurchaseOrderLineType">
<xsd:sequence>
<xsd:element name="Accrueonreceiptflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Action" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Advanceamount" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Allowedunitslookupcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Allowitemdescupdateflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Allowpriceoverrideflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Allowsubstitutereceiptsflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Amount" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Auctiondisplaynumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Auctionheaderid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Auctionlinenumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Baseqty" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Baseunitprice" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Baseuom" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Bidlinenumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Bidnumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Canceldate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Cancelflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Cancelledby" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Cancelreason" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Capitalexpenseflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Catalogname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Category" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Categoryid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Closedby" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Closedcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="PoLocationsAllClosedcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Closeddate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Closedflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Closedreason" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Committedamount" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Consignedflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Contractid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Contractnum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Contractorfirstname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Contractorlastname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Createdby" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Creationdate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Daysearlyreceiptallowed" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Dayslatereceiptallowed" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Documentnum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Dropshipflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Dualuomdeviationhigh" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Dualuomdeviationlow" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Effectivedate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Enforceshiptolocationcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Expirationdate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Extendedprice" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Filelinelanguage" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Filelinenumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Firmdate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Firmflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Firmstatuslookupcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Fob" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Freightcarrier" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Freightterms" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Fromheaderid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Fromlineid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Fromlinelocationid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute1" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute10" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute11" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute12" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute13" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute14" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute15" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute16" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute17" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute18" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute19" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute2" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute20" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute3" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute4" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute5" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute6" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute7" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute8" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattribute9" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Globalattributecategory" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Governmentcontext" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Gradecontrolflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Groupcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Hazardclass" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Hazardclassid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Inspectionrequiredflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Interfaceheaderid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Interfacelineid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Invoiceclosetolearnce" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Invoiceclosetolerance" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Ipcategoryid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Ipcategoryname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Item" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Itemattribute1" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Itemattribute10" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Itemattribute11" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Itemattribute12" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Itemattribute13" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Itemattribute14" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Itemattribute15" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Itemattribute2" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Itemattribute3" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Itemattribute4" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Itemattribute5" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Itemattribute6" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Itemattribute7" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Itemattribute8" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Itemattribute9" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Itemattributecategory" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Itemdescription" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Itemid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Itemnumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Itemrevision" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Jobbusinessgroupid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Jobbusinessgroupname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Jobid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Jobname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lastupdatedate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lastupdatedby" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lastupdatelogin" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Leadtime" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Leadtimeunit" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lineattribute1" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lineattribute10" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lineattribute11" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lineattribute12" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lineattribute13" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lineattribute14" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lineattribute15" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lineattribute2" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lineattribute3" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lineattribute4" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lineattribute5" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lineattribute6" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lineattribute7" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lineattribute8" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lineattribute9" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lineattributecategorylines" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Linelocationid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Linelocpopulatedflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Linenum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Linereferencenum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Linetype" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Linetypeid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Listpriceperunit" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Manualpricechangeflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Marketprice" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Matchingbasis" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Maxorderquantity" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Maxretainageamount" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Minorderquantity" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Minreleaseamount" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Needbydate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Negotiatedbypreparerflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Notetoreceiver" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Notetovendor" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Nottoexceedprice" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Okecontractheaderid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Okecontractheadernum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Okecontractversionid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Ordertypelookupcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Organizationid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Orgid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Origfromreqflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Outsideoperationflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Outsideoperationuomtype" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Overtoleranceerrorflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Parentinterfacelineid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Paymentterms" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Planneditemflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Poheaderid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Polineid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Poreleaseid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Preferredgrade" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Pricebreakflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Pricebreaklookupcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Pricechgacceptflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Pricediscount" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Pricetype" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Pricetypelookupcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Priceupdatetolerance" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Primaryunitclass" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Processcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Processingid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Programapplicationid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Programid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Programupdatedate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Progresspaymentrate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Promiseddate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Purchasebasis" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Qcgrade" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Qtyrcvexceptioncode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Qtyrcvtolerance" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Quantity" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Quantitycommitted" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Quantitybilled" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Quantitycancelled" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Quantitydelivered" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Quantityreceived" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Receiptdaysexceptioncode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Receiptrequiredflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Receiveclosetolerance" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Receivingrouting" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Receivingroutingid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Recoupmentrate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Referencenum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Releasenum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Requestid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Requisitionlineid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Retainagerate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Rowid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Secondarydefaultind" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Secondaryqty" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Secondaryquantity" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Secondaryunitofmeasure" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Secondaryuom" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Secondaryuomcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shipmentattribute1" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shipmentattribute10" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shipmentattribute11" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shipmentattribute12" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shipmentattribute13" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shipmentattribute14" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shipmentattribute15" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shipmentattribute2" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shipmentattribute3" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shipmentattribute4" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shipmentattribute5" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shipmentattribute6" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shipmentattribute7" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shipmentattribute8" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shipmentattribute9" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shipmentattributecategory" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shipmentnum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shipmenttype" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shiptolocation" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shiptolocationid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shiptoorganizationcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Shiptoorganizationid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Sourceshipmentid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Sourcingrulename" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Startdate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Supplierpartauxid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Supplierrefnumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Taxableflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Taxcodeid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Taxname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Taxstatusindicator" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Taxuseroverrideflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Templateid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Templatename" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Termsid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Trackingquantityind" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Trackingsecondarydefaultind" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Transactionflowheaderid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Transactionreason" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Transactionreasoncode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Type1099" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Unitmeaslookupcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Unitofmeasure" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Unitprice" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Unitvolume" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Unitweight" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Unnumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Unnumberid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Unorderedflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Uomcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Userholdflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Ussgltransactioncode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Vendorproductnum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Vmiflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Volumeuomcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Weightuomcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="LineDFF" type="commonao:CommonDFFType" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="ListOfPurchaseOrderDistLines" maxOccurs="1" minOccurs="0" type="poao:ListOfPurchaseOrderDistLinesType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ListOfPurchaseOrderDistLinesType">
<xsd:sequence>
<xsd:element name="PurchaseOrderDistLines" maxOccurs="unbounded" minOccurs="0" type="poao:PurchaseOrderDistLineType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="PurchaseOrderDistLineType">
<xsd:sequence>
<xsd:element name="Accrualaccountid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Accruedflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Accrueonreceiptflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Accuralaccount" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Amountbilled" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Amountcancelled" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Amountdelivered" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Amountordered" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Amounttoencumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Awardid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Awardnumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Bomresourcecode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Bomresourceid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccount" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Budgetaccountid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccount" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment1" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment10" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment11" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment12" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment13" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment14" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment15" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment16" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment17" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment18" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment19" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment2" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment20" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment21" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment22" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment23" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment24" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment25" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment26" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment27" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment28" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment29" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment3" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment30" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment4" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment5" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment6" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment7" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment8" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Chargeaccountsegment9" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Codecombinationid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Createdby" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Creationdate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Delivertolocation" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Delivertolocationid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Delivertopersonfullname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Delivertopersonid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Destchargeaccountid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Destinationcontext" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Destinationorganization" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Destinationorganizationid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Destinationsubinventory" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Destinationtype" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Destinationtypecode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Destvarianceaccountid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Distributionnum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Distributiontype" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Encumberedamount" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Encumberedflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Enditemunitnumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Expenditure" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Expenditureitemdate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Expenditureorganization" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Expenditureorganizationid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Expendituretype" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Failedfunds" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Failedfundslookupcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Glcancelleddate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Glcloseddate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Glencumbereddate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Glencumberedperiodname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Governmentcontext" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Interfacedistributionid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Interfacedistributionref" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Interfaceheaderid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Interfacelineid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Interfacelinelocationid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Invoiceadjustmentflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lastupdatedate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lastupdatedby" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Lastupdatelogin" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Linelocationid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Linenum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Nonrecoverabletax" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Okecontractdeliverableid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Okecontractdeliverablenum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Okecontractlineid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Okecontractlinenum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Onlinereq" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Orgid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Podistributionid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Poheaderid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Polineid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Poreleaseid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Preventencumbranceflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Processcode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Processingid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Programapplicationid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Programid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Programupdatedate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Project" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Projectaccountingcontext" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Projectid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Projectreleatedflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Quantitybilled" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Quantitycancelled" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Quantitydelivered" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Quantityordered" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Rate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Ratedate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Recoverabletax" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Recoveryrate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Reqdistributionid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Reqheaderreferencenum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Reqlinereferencenum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Reqowningorgid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Reqowningorgname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Requestid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Requisitionheaderid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Requisitionlineid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Rowid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Segment1" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Setofbooks" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Setofbooksid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Sourcedistributionid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Sourcedistributionnum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Task" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Taskid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Taxrecoveryoverrideflag" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Unencumberedamount" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Unencumberedquantity" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Ussgltransactioncode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Varianceaccount" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Varianceaccountid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Wipentity" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Wipentityid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Wiplinecode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Wiplineid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Wipoperationseqnum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Wiprepetitiveschedule" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Wiprepetitivescheduleid" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Wipresourceseqnum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="RequisitionNumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="RequisitionLineNumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="RequisitionDate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="RequisitionApprovedDate" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="DistDFF" type="commonao:CommonDFFType" minOccurs="0" maxOccurs="1" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
