Implementation/ABS/Ebiz/NUC_PublisherEBSTrips_ABS/SOA/Schemas/DB_Select_Trips_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/DB_Select_Trips" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/DB_Select_Trips" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxnucWshTripsStgCollection" type="XxnucWshTripsStgCollection"/>
   <xs:complexType name="XxnucWshTripsStgCollection">
      <xs:sequence>
         <xs:element name="XxnucWshTripsStg" type="XxnucWshTripsStg" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxnucWshTripsStg">
      <xs:sequence>
         <xs:element name="recordIdentifier" type="xs:decimal" nillable="true"/>
         <xs:element name="processFlag" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="tripId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="name" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="plannedFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="arriveAfterTripId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="statusCode" type="string2" minOccurs="0" nillable="true"/>
         <xs:element name="vehicleItemId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="vehicleNumber" type="string35" minOccurs="0" nillable="true"/>
         <xs:element name="carrierId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipMethodCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="routeId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="routingInstructions" type="string2000" minOccurs="0" nillable="true"/>
         <xs:element name="attributeCategory" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute4" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute5" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute6" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute7" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute8" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute9" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute10" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute11" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute12" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute13" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute14" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute15" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="createdBy" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdatedBy" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdateLogin" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programApplicationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programUpdateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="requestId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="vehicleOrganizationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="vehicleNumPrefix" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="serviceLevel" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="modeOfTransport" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="freightTermsCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="consolidationAllowed" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="loadTenderStatus" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="routeLaneId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="laneId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="scheduleId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="bookingNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="loadTenderNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="vessel" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="voyageNumber" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="portOfLoading" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="portOfDischarge" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="wfName" type="string8" minOccurs="0" nillable="true"/>
         <xs:element name="wfProcessName" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="wfItemKey" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="carrierContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipperWaitTime" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="waitTimeUom" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="loadTenderedTime" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="carrierResponse" type="string2000" minOccurs="0" nillable="true"/>
         <xs:element name="sealCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="ignoreForPlanning" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="tpPlanName" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="tpTripNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipmentsTypeFlag" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="operator" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="tripWfProcess" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="carrierReferenceNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="rankId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="consigneeCarrierAcNo" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="routingRuleId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="appendFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="specialEquipmentInstructions" type="string4000" minOccurs="0" nillable="true"/>
         <xs:element name="orderType" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="postingLocationCode" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="maxCommodityLength" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="clientKey1" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="xxnucWshTripStopsStgCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="XxnucWshTripStopsStg" type="XxnucWshTripStopsStg" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="xxnucWshTripDelvblStgCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="XxnucWshTripDelvblStg" type="XxnucWshTripDelvblStg" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxnucWshTripStopsStg">
      <xs:sequence>
         <xs:element name="stopId" type="xs:decimal" nillable="true"/>
         <xs:element name="tripId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="stopLocationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="statusCode" type="string2" minOccurs="0" nillable="true"/>
         <xs:element name="stopSequenceNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="plannedArrivalDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="plannedDepartureDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="actualArrivalDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="actualDepartureDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="departureGrossWeight" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="departureNetWeight" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="weightUomCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="departureVolume" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="volumeUomCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="departureSealCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="departureFillPercent" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttributeCategory" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute1" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute2" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute3" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute4" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute5" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute6" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute7" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute8" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute9" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute10" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute11" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute12" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute13" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute14" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute15" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attributeCategory" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute4" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute5" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute6" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute7" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute8" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute9" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute10" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute11" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute12" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute13" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute14" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute15" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="createdBy" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdatedBy" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdateLogin" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programApplicationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programUpdateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="requestId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lockStopId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="pendingInterfaceFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="transactionHeaderId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="wshLocationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="trackingDrilldownFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="trackingRemarks" type="string4000" minOccurs="0" nillable="true"/>
         <xs:element name="carrierEstDepartureDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="carrierEstArrivalDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="loadingStartDatetime" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="loadingEndDatetime" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="unloadingStartDatetime" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="unloadingEndDatetime" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="tpStopId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="wkendLayoverStops" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="wkdayLayoverStops" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipmentsTypeFlag" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="wvFrozenFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="batchId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="physicalStopId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="physicalLocationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="distanceToNextStop" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="distanceUom" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="pickUpWeight" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="dropOffWeight" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="pickUpVolume" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="dropOffVolume" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="tmsInterfaceFlag" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="stopType" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="specialInstructions" type="string4000" minOccurs="0" nillable="true"/>
         <xs:element name="custPoNumber" type="string255" minOccurs="0" nillable="true"/>
         <xs:element name="bolNumber" type="string255" minOccurs="0" nillable="true"/>
         <xs:element name="earlyStopDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="earlyStopTime" type="string8" minOccurs="0" nillable="true"/>
         <xs:element name="lateStopDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="lateStopTime" type="string8" minOccurs="0" nillable="true"/>
         <xs:element name="addrBookName" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="companyName" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="custNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="addrLine1" type="string75" minOccurs="0" nillable="true"/>
         <xs:element name="addrLine2" type="string75" minOccurs="0" nillable="true"/>
         <xs:element name="addrLine3" type="string75" minOccurs="0" nillable="true"/>
         <xs:element name="city" type="string75" minOccurs="0" nillable="true"/>
         <xs:element name="stateProvince" type="string75" minOccurs="0" nillable="true"/>
         <xs:element name="postalCode" type="string75" minOccurs="0" nillable="true"/>
         <xs:element name="countryCode" type="string75" minOccurs="0" nillable="true"/>
         <xs:element name="rateBaseName" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="pointName" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="addrCustomerNumber" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="doorPreference" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="salesrep" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="orderDateTypeCode" type="string30" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxnucWshTripDelvblStg">
      <xs:sequence>
         <xs:element name="tripId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="stopId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="type" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="deliveryDetailId" type="xs:decimal" nillable="true"/>
         <xs:element name="deliveryLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="sequenceNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="containerInstanceId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="containerName" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="deliveryId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="sourceCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="sourceName" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="sourceHeaderId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="sourceLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="sourceHeaderNumber" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="sourceHeaderTypeId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="sourceHeaderTypeName" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="sourceLineNumber" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="srcRequestedQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="srcRequestedQuantityUom" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="customerId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="soldToContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="itemDescription" type="string250" minOccurs="0" nillable="true"/>
         <xs:element name="countryOfOrigin" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="classification" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="shipFromLocationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToLocationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToLocationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="intmedShipToLocationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="intmedShipToContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToleranceAbove" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToleranceBelow" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="requestedQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shippedQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliveredQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="cancelledQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="requestedQuantityUom" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="subinventory" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="revision" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="lotNumber" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="customerRequestedLotFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="serialNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="locatorId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="dateRequested" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dateScheduled" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="masterContainerItemId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="detailContainerItemId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="loadSeqNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipMethodCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="carrierId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="freightTermsCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="shipmentPriorityCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="fobCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="customerItemId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="depPlanRequiredFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="customerProdSeq" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="customerDockCode" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="unitWeight" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="unitVolume" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="wvFrozenFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="grossWeight" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="tareWeight" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="netWeight" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="weightUomCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="filledVolume" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="volume" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="volumeUomCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="fillPercent" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="maximumLoadWeight" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="maximumVolume" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="minimumFillPercent" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="mvtStatStatus" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="releasedStatus" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="releasedStatusName" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="organizationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="transactionTempId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipSetId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="arrivalSetId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipModelCompleteFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="topModelLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="holdCode" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="custPoNumber" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="atoLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="moveOrderLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="hazardClassId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="qualityControlQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="cycleCountQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="trackingNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="movementId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shippingInstructions" type="string2000" minOccurs="0" nillable="true"/>
         <xs:element name="packingInstructions" type="string2000" minOccurs="0" nillable="true"/>
         <xs:element name="projectId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="taskId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="orgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="oeInterfacedFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="splitFromDeliveryDetailId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invInterfacedFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="parentContainerInstanceId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="masterSerialNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="containerFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="containerTypeCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="sealCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="activityCode" type="string2" minOccurs="0" nillable="true"/>
         <xs:element name="attributeCategory" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute4" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute5" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute6" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute7" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute8" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute9" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute10" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute11" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute12" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute13" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute14" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute15" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttributeCategory" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute5" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute6" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute7" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute8" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute9" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute10" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute11" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute12" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute13" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute14" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute15" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="createdBy" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdatedBy" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdateLogin" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programApplicationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programUpdateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="requestId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="preferredGrade" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shippedQuantity2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliveredQuantity2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="cancelledQuantity2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="requestedQuantity2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="requestedQuantityUom2" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="srcRequestedQuantity2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="srcRequestedQuantityUom2" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="qualityControlQuantity2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="cycleCountQuantity2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="unitNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="unitPrice" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="currencyCode" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="freightClassCatId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="commodityCodeCatId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="inspectionFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="pickableFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="shipToSiteUseId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToSiteUseId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="toSerialNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="pickedQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="pickedQuantity2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="customerProductionLine" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="customerJob" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="custModelSerialNumber" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="receivedQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="receivedQuantity2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="sourceLineSetId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="batchId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipmentBatchId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lpnId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="originalSubinventory" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="ignoreForPlanning" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="serviceLevel" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="modeOfTransport" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="lineDirection" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="partyId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="routingReqId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shippingControl" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="sourceBlanketReferenceId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="sourceBlanketReferenceNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="poShipmentLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="poShipmentLineNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="returnedQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="returnedQuantity2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="sourceLineTypeCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="rcvShipmentLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="supplierItemNumber" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="vendorId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipFromSiteId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="earliestPickupDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="latestPickupDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="earliestDropoffDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="latestDropoffDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="requestDateTypeCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="tpDeliveryDetailId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="sourceDocumentTypeId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="poRevisionNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="releaseRevisionNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="replenishmentStatus" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="referenceNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="referenceLineNumber" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="referenceLineQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="referenceLineQuantityUom" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="originalLocatorId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="originalRevision" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="originalLotNumber" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="clientId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="consigneeFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="equipmentId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="pickupStopSeqNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="delStopSeqNum" type="xs:decimal" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="DB_Select_TripsSelect_recordIdentifierInputParameters" type="DB_Select_TripsSelect_recordIdentifier"/>
   <xs:complexType name="DB_Select_TripsSelect_recordIdentifier">
      <xs:sequence>
         <xs:element name="recordIdentifier" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string10">
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string2">
      <xs:restriction base="xs:string">
         <xs:maxLength value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string35">
      <xs:restriction base="xs:string">
         <xs:maxLength value="35"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string30">
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string2000">
      <xs:restriction base="xs:string">
         <xs:maxLength value="2000"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string150">
      <xs:restriction base="xs:string">
         <xs:maxLength value="150"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string100">
      <xs:restriction base="xs:string">
         <xs:maxLength value="100"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string240">
      <xs:restriction base="xs:string">
         <xs:maxLength value="240"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string8">
      <xs:restriction base="xs:string">
         <xs:maxLength value="8"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string3">
      <xs:restriction base="xs:string">
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string4000">
      <xs:restriction base="xs:string">
         <xs:maxLength value="4000"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string50">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string255">
      <xs:restriction base="xs:string">
         <xs:maxLength value="255"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string75">
      <xs:restriction base="xs:string">
         <xs:maxLength value="75"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string25">
      <xs:restriction base="xs:string">
         <xs:maxLength value="25"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string80">
      <xs:restriction base="xs:string">
         <xs:maxLength value="80"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string250">
      <xs:restriction base="xs:string">
         <xs:maxLength value="250"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string15">
      <xs:restriction base="xs:string">
         <xs:maxLength value="15"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string32">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>