Implementation/ABS/Ebiz/NUC_EBizCustomerBalance_ABS/xsd/DB_QueryCustomerTransactions.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/DB_QueryCustomerTransactions" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/DB_QueryCustomerTransactions" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="DB_QueryCustomerTransactionsInput" type="DB_QueryCustomerTransactionsInput"/>
   <xs:complexType name="DB_QueryCustomerTransactionsInput">
      <xs:sequence>
         <xs:element name="CustomerId" type="xs:decimal" nillable="true"/>
         <xs:element name="OrgId" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="DB_QueryCustomerTransactionsOutputCollection" type="DB_QueryCustomerTransactionsOutputCollection"/>
   <xs:complexType name="DB_QueryCustomerTransactionsOutputCollection">
      <xs:sequence>
         <xs:element name="DB_QueryCustomerTransactionsOutput" type="DB_QueryCustomerTransactionsOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DB_QueryCustomerTransactionsOutput">
      <xs:sequence>
         <xs:element name="PAYMENT_SCHEDULE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="TRX_NUMBER" type="xs:string" nillable="true"/>
         <xs:element name="TRX_DATE" type="xs:dateTime" nillable="true"/>
         <xs:element name="TERMS_SEQUENCE_NUMBER" type="xs:decimal" nillable="true"/>
         <xs:element name="INVOICE_CURRENCY_CODE" type="xs:string" nillable="true"/>
         <xs:element name="EXCHANGE_RATE" type="xs:decimal" nillable="true"/>
         <xs:element name="GL_DATE" type="xs:dateTime" nillable="true"/>
         <xs:element name="ATTRIBUTE_CATEGORY" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE1" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE2" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE3" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE4" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE5" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE6" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE7" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE8" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE9" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE10" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE11" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE12" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE13" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE14" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE15" type="xs:string" nillable="true"/>
         <xs:element name="CUSTOMER_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="CUSTOMER_SITE_USE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="CUSTOMER_TRX_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="CUST_TRX_TYPE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="CASH_RECEIPT_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="CLASS" type="xs:string" nillable="true"/>
         <xs:element name="STATUS" type="xs:string" nillable="true"/>
         <xs:element name="STATE_DSP" type="xs:string" nillable="true"/>
         <xs:element name="STATE" type="xs:string" nillable="true"/>
         <xs:element name="RECEIPT_CONFIRMED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="SELECTED_FOR_RECEIPT_BATCH_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="COLLECTOR_LAST" type="xs:decimal" nillable="true"/>
         <xs:element name="FOLLOW_UP_CODE_LAST" type="xs:string" nillable="true"/>
         <xs:element name="IN_COLLECTION" type="xs:string" nillable="true"/>
         <xs:element name="TERM_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="RAC_CUSTOMER_NAME" type="xs:string" nillable="true"/>
         <xs:element name="RAC_CUSTOMER_NUMBER" type="xs:string" nillable="true"/>
         <xs:element name="SU_LOCATION" type="xs:string" nillable="true"/>
         <xs:element name="BS_BATCH_SOURCE_NAME" type="xs:string" nillable="true"/>
         <xs:element name="TYPE_NAME" type="xs:string" nillable="true"/>
         <xs:element name="AL_CLASS_MEANING" type="xs:string" nillable="true"/>
         <xs:element name="DOC_SEQUENCE_VALUE" type="xs:decimal" nillable="true"/>
         <xs:element name="CT_PURCHASE_ORDER" type="xs:string" nillable="true"/>
         <xs:element name="CT_PREVIOUS_CUSTOMER_TRX_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="INTERFACE_HEADER_CONTEXT" type="xs:string" nillable="true"/>
         <xs:element name="INTERFACE_HEADER_ATTRIBUTE1" type="xs:string" nillable="true"/>
         <xs:element name="INTERFACE_HEADER_ATTRIBUTE2" type="xs:string" nillable="true"/>
         <xs:element name="INTERFACE_HEADER_ATTRIBUTE3" type="xs:string" nillable="true"/>
         <xs:element name="INTERFACE_HEADER_ATTRIBUTE4" type="xs:string" nillable="true"/>
         <xs:element name="INTERFACE_HEADER_ATTRIBUTE5" type="xs:string" nillable="true"/>
         <xs:element name="INTERFACE_HEADER_ATTRIBUTE6" type="xs:string" nillable="true"/>
         <xs:element name="INTERFACE_HEADER_ATTRIBUTE7" type="xs:string" nillable="true"/>
         <xs:element name="INTERFACE_HEADER_ATTRIBUTE8" type="xs:string" nillable="true"/>
         <xs:element name="INTERFACE_HEADER_ATTRIBUTE9" type="xs:string" nillable="true"/>
         <xs:element name="INTERFACE_HEADER_ATTRIBUTE10" type="xs:string" nillable="true"/>
         <xs:element name="INTERFACE_HEADER_ATTRIBUTE11" type="xs:string" nillable="true"/>
         <xs:element name="INTERFACE_HEADER_ATTRIBUTE12" type="xs:string" nillable="true"/>
         <xs:element name="INTERFACE_HEADER_ATTRIBUTE13" type="xs:string" nillable="true"/>
         <xs:element name="INTERFACE_HEADER_ATTRIBUTE14" type="xs:string" nillable="true"/>
         <xs:element name="INTERFACE_HEADER_ATTRIBUTE15" type="xs:string" nillable="true"/>
         <xs:element name="DUE_DAYS" type="xs:decimal" nillable="true"/>
         <xs:element name="DUE_DATE" type="xs:dateTime" nillable="true"/>
         <xs:element name="AMOUNT_DUE_ORIGINAL" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCTD_AMOUNT_DUE_ORIGINAL" type="xs:decimal" nillable="true"/>
         <xs:element name="AMOUNT_DUE_REMAINING" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCTD_AMOUNT_DUE_REMAINING" type="xs:decimal" nillable="true"/>
         <xs:element name="AL_STATUS_MEANING" type="xs:string" nillable="true"/>
         <xs:element name="ACTUAL_DATE_CLOSED" type="xs:dateTime" nillable="true"/>
         <xs:element name="GL_DATE_CLOSED" type="xs:dateTime" nillable="true"/>
         <xs:element name="AMOUNT_LINE_ITEMS_ORIGINAL" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCTD_AMOUNT_LINE_ITEMS_ORIG" type="xs:decimal" nillable="true"/>
         <xs:element name="AMOUNT_LINE_ITEMS_REMAINING" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCTD_AMOUNT_LINE_ITEMS_REMAIN" type="xs:decimal" nillable="true"/>
         <xs:element name="TAX_ORIGINAL" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCTD_TAX_ORIGINAL" type="xs:decimal" nillable="true"/>
         <xs:element name="TAX_REMAINING" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCTD_TAX_REMAINING" type="xs:decimal" nillable="true"/>
         <xs:element name="FREIGHT_ORIGINAL" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCTD_FREIGHT_ORIGINAL" type="xs:decimal" nillable="true"/>
         <xs:element name="FREIGHT_REMAINING" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCTD_FREIGHT_REMAINING" type="xs:decimal" nillable="true"/>
         <xs:element name="AMOUNT_ADJUSTED" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCTD_AMOUNT_ADJUSTED" type="xs:decimal" nillable="true"/>
         <xs:element name="AMOUNT_ADJUSTED_PENDING" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCTD_AMOUNT_ADJUSTED_PENDING" type="xs:decimal" nillable="true"/>
         <xs:element name="RECEIVABLES_CHARGES_CHARGED" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCTD_REC_CHARGES_CHARGED" type="xs:decimal" nillable="true"/>
         <xs:element name="RECEIVABLES_CHARGES_REMAINING" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCTD_REC_CHARGES_REMAINING" type="xs:decimal" nillable="true"/>
         <xs:element name="AMOUNT_APPLIED" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCTD_AMOUNT_APPLIED" type="xs:decimal" nillable="true"/>
         <xs:element name="AMOUNT_CREDITED" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCTD_AMOUNT_CREDITED" type="xs:decimal" nillable="true"/>
         <xs:element name="AMOUNT_IN_DISPUTE" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCTD_AMOUNT_IN_DISPUTE" type="xs:decimal" nillable="true"/>
         <xs:element name="DISPUTE_DATE" type="xs:dateTime" nillable="true"/>
         <xs:element name="DISCOUNT_TAKEN_EARNED" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCTD_DISCOUNT_TAKEN_EARNED" type="xs:decimal" nillable="true"/>
         <xs:element name="DISCOUNT_TAKEN_UNEARNED" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCTD_DISCOUNT_TAKEN_UNEARNED" type="xs:decimal" nillable="true"/>
         <xs:element name="AL_SELECTED_FOR_RECEIPT_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="AL_SELECTED_FOR_RECEIPT_CODE" type="xs:string" nillable="true"/>
         <xs:element name="AL_RECEIPT_CONFIRMED_MEANING" type="xs:string" nillable="true"/>
         <xs:element name="CR_SELECTED_RECEIPT_NUMBER" type="xs:string" nillable="true"/>
         <xs:element name="ARB_SELECTED_BATCH_NAME" type="xs:string" nillable="true"/>
         <xs:element name="ARB_SELECTED_BATCH_DATE" type="xs:string" nillable="true"/>
         <xs:element name="DAYS_PAST_DUE" type="xs:decimal" nillable="true"/>
         <xs:element name="DUNNING_DATE_LAST" type="xs:string" nillable="true"/>
         <xs:element name="CALL_DATE_LAST" type="xs:dateTime" nillable="true"/>
         <xs:element name="PROMISE_AMOUNT_LAST" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCTD_PROMISE_AMOUNT_LAST" type="xs:decimal" nillable="true"/>
         <xs:element name="PROMISE_DATE_LAST" type="xs:dateTime" nillable="true"/>
         <xs:element name="AL_FOLLOW_UP_LAST_MEANING" type="xs:string" nillable="true"/>
         <xs:element name="FOLLOW_UP_DATE_LAST" type="xs:dateTime" nillable="true"/>
         <xs:element name="AL_IN_COLLECTION_MEANING" type="xs:string" nillable="true"/>
         <xs:element name="RAT_TERM_NAME" type="xs:string" nillable="true"/>
         <xs:element name="CHARGEBACK_INVOICE_NUM" type="xs:string" nillable="true"/>
         <xs:element name="CHARGEBACK_BATCH_SOURCE" type="xs:string" nillable="true"/>
         <xs:element name="BILLING_NUMBER" type="xs:string" nillable="true"/>
         <xs:element name="STAGED_DUNNING_LEVEL" type="xs:decimal" nillable="true"/>
         <xs:element name="DUNNING_LEVEL_OVERRIDE_DATE" type="xs:dateTime" nillable="true"/>
         <xs:element name="REMITTANCE_METHOD" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE_CATEGORY" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE1" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE2" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE3" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE4" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE5" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE6" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE7" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE8" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE9" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE10" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE11" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE12" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE13" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE14" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE15" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE16" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE17" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE18" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE19" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE20" type="xs:string" nillable="true"/>
         <xs:element name="CONS_INV_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="LAST_UPDATED_BY" type="xs:decimal" nillable="true"/>
         <xs:element name="LAST_UPDATE_DATE" type="xs:dateTime" nillable="true"/>
         <xs:element name="LAST_UPDATE_LOGIN" type="xs:decimal" nillable="true"/>
         <xs:element name="CREATED_BY" type="xs:decimal" nillable="true"/>
         <xs:element name="CREATION_DATE" type="xs:dateTime" nillable="true"/>
         <xs:element name="COMMENTS" type="xs:string" nillable="true"/>
         <xs:element name="LEGAL_ENTITY_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="BILLING_DATE" type="xs:dateTime" nillable="true"/>
         <xs:element name="ORG_ID" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>