mds/apps/EIAMetadata/EO/common/V1.0/Header.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema targetNamespace="http://xmlns.eia.com/EO/common/Header/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:header="http://xmlns.eia.com/EO/common/Header/1.0" xmlns:common="http://xmlns.eia.com/EO/common/Common/1.0" elementFormDefault="qualified">
<xsd:annotation>
<xsd:documentation xml:lang="en">
<Version>1.0</Version>
<Definition>Header for all mesages</Definition>
<Description>This schema defines the header stucture for all web service calls</Description>
<Author>Richard Lanchbury</Author>
<ModifiedBy>Richard Lanchbury</ModifiedBy>
<VersionDate>01-08-2010</VersionDate>
<VersionDescription>Initial Version</VersionDescription>
<ModificationHistory>
            01-08-2010   Version 1.0   - Initial Version
      </ModificationHistory>
</xsd:documentation>
</xsd:annotation>
<xsd:import namespace="http://xmlns.eia.com/EO/common/Common/1.0" schemaLocation="Common.xsd"/>
<xsd:element name="HeaderRq" type="header:HeaderRqType"/>
<xsd:element name="HeaderRs" type="header:HeaderRsType"/>
<xsd:complexType name="HeaderRqType">
<xsd:annotation>
<xsd:documentation xml:lang="en">
<Definition>Request Message for Header</Definition>
<ChangeDescription>Initial</ChangeDescription>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="TransactionRequestID" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Request Id generated by the process of that particular system</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Language" type="common:LanguageCode">
<xsd:annotation>
<xsd:documentation>Language</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ComponentID" type="common:C100">
<xsd:annotation>
<xsd:documentation>Service Name</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ServiceName" type="common:C100">
<xsd:annotation>
<xsd:documentation>Service Name</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="TransactionIDREF" type="common:IDREF15" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Reference Transaction ID</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="TransactionName" type="common:C30" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Interface Description</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="FileName" type="common:C100" minOccurs="0">
<xsd:annotation>
<xsd:documentation>File Name</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="FileInstanceID" type="common:Long" minOccurs="0">
<xsd:annotation>
<xsd:documentation>File Instance ID</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Source" type="common:SystemsList" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Source system </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Target" type="common:SystemsList" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Target system </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="HostName" type="common:C25" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Oracle SOA Suite Server name. Requried when in a clustered environment.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="UserName" type="common:C15" minOccurs="0">
<xsd:annotation>
<xsd:documentation>User Name specifying the user who has invoked this process.This is especially required for external users apart from OSB and BPEL.
					</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="UserRole" type="common:C25" minOccurs="0">
<xsd:annotation>
<xsd:documentation>User Role</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="AdminEmail" type="common:C100" minOccurs="0">
<xsd:annotation>
<xsd:documentation>System administration contact email id</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ApplicationResponsibility" type="common:C25" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Application Responsibility </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="EOFFlag" type="header:EODFlagType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>End of file Flag</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="SOFFlag" type="header:EODFlagType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Start of file Flag</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="FileRecordCount" type="common:Long" minOccurs="0">
<xsd:annotation>
<xsd:documentation>File Record Count</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="TimeStamp" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Current Date Time Stamp</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="common:C">
<xsd:pattern value="[1-2][0-9][0-9][0-9][/][0-1][0-9][/][0-3][0-9] [0-2][0-9]:[0-6][0-9]:[0-5][0-9]"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="MillName" type="common:C25" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Mill Name</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="HeaderRsType">
<xsd:annotation>
<xsd:documentation xml:lang="en">
<Definition>Response Message for Header</Definition>
<ChangeDescription>Initial</ChangeDescription>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="TransactionID" type="common:TransactionID">
<xsd:annotation>
<xsd:documentation>Transaction Id of the service</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="RequestDetails" type="header:HeaderRqType">
<xsd:annotation>
<xsd:documentation>Header Transaction Details. Similar to Header request message. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ResultCount" type="common:Integer" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Result Count for responses to queries</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Status" type="header:Status">
<xsd:annotation>
<xsd:documentation>Standard Status Response to be sent back to the calling system.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Status">
<xsd:annotation>
<xsd:documentation xml:lang="en">
<Definition>Status of the operation</Definition>
<ChangeDescription>Initial</ChangeDescription>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Status" type="header:StatusTextType">
<xsd:annotation>
<xsd:documentation>Success,Error,Warning</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="StatusFreeText" type="common:C50">
<xsd:annotation>
<xsd:documentation>Status Free Text</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Exceptions" type="header:Exceptions" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Exceptions List</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Exceptions">
<xsd:annotation>
<xsd:documentation xml:lang="en">
<Definition>Exceptions</Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ObjectPath">
<xsd:annotation>
<xsd:documentation>Xpath of the errored record in the payload.</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:annotation>
<xsd:documentation> An XPath Pattern e.g. /Programme/Code</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="common:C150"/>
</xsd:simpleType>
</xsd:element>
<xsd:element name="StatusCode">
<xsd:annotation>
<xsd:documentation>Service Execution Status</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:annotation>
<xsd:documentation>0 means Success,+ve means Error,-ve means Warning.</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="common:Integer"/>
</xsd:simpleType>
</xsd:element>
<xsd:element name="StatusText" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Error/Warning free text</xsd:documentation>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="common:C150"/>
</xsd:simpleType>
</xsd:element>
<xsd:element name="AdditionalStatus" type="header:Exceptions" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Standard status response at line level. This will be only present if any of the lines have failed.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="StatusTextType">
<xsd:annotation>
<xsd:documentation>Status Text</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="common:ClosedEnum">
<xsd:enumeration value="Success"/>
<xsd:enumeration value="Error"/>
<xsd:enumeration value="Warning"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="EODFlagType">
<xsd:annotation>
<xsd:documentation>End of file flag</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="common:ClosedEnum">
<xsd:enumeration value="Y"/>
<xsd:enumeration value="N"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
