mds/apps/EIAMetadata/AO/EBiz/O2C/V1.0/OrderAO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
            targetNamespace="http://xmlns.eia.com/AO/EBiz/O2C/OrderAO/1.0" version="1.00"
            xmlns:oao="http://xmlns.eia.com/AO/EBiz/O2C/OrderAO/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="ListOfBasicOrders" type="oao:ListOfBasicOrdersType"/>
    <xsd:complexType name="ListOfBasicOrdersType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Order" nillable="true" type="oao:BasicOrderType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="BasicOrder" type="oao:BasicOrderType"/>
    <xsd:element name="ListOfOrders" type="oao:ListOfOrdersType"/>
    <xsd:complexType name="ListOfOrdersType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Order" nillable="true" type="oao:OrdersType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Order" type="oao:OrdersType"/>
    <xsd:element name="AttributeInfo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" name="Context" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Attribute1" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Attribute2" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Attribute3" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Attribute4" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Attribute5" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Attribute6" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Attribute7" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Attribute8" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Attribute9" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Attribute10" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Attribute11" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Attribute12" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Attribute13" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Attribute14" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Attribute15" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Attribute16" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Attribute17" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Attribute18" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Attribute19" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Attribute20" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GlobalAttributeInfo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" name="GlobalAttribute1" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="GlobalAttribute2" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="GlobalAttribute3" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="GlobalAttribute4" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="GlobalAttribute5" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="GlobalAttribute6" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="GlobalAttribute7" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="GlobalAttribute8" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="GlobalAttribute9" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="GlobalAttribute10" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="GlobalAttribute11" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="GlobalAttribute12" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="GlobalAttribute13" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="GlobalAttribute14" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="GlobalAttribute15" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="GlobalAttribute16" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="GlobalAttribute17" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="GlobalAttribute18" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="GlobalAttribute19" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="GlobalAttribute20" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="GlobalAttributeCategory" nillable="true"
                             type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TPAttributeInfo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" name="TPContext" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="TPAttribute1" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="TPAttribute2" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="TPAttribute3" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="TPAttribute4" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="TPAttribute5" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="TPAttribute6" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="TPAttribute7" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="TPAttribute8" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="TPAttribute9" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="TPAttribute10" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="TPAttribute11" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="TPAttribute12" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="TPAttribute13" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="TPAttribute14" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="TPAttribute15" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="IndustryAttributeInfo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryContext" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute1" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute2" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute3" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute4" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute5" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute6" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute7" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute8" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute9" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute10" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute11" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute12" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute13" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute14" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute15" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute16" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute17" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute18" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute19" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute20" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute21" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute22" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute23" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute24" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute25" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute26" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute27" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute28" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute29" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="IndustryAttribute30" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricingAttributeInfo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" name="PricingContext" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="PricingAttribute1" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="PricingAttribute2" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="PricingAttribute3" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="PricingAttribute4" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="PricingAttribute5" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="PricingAttribute6" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="PricingAttribute7" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="PricingAttribute8" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="PricingAttribute9" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="PricingAttribute10" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReturnAttributeInfo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" name="ReturnContext" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="ReturnAttribute1" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="ReturnAttribute2" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="ReturnAttribute3" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="ReturnAttribute4" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="ReturnAttribute5" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="ReturnAttribute6" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="ReturnAttribute7" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="ReturnAttribute8" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="ReturnAttribute9" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="ReturnAttribute10" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="ReturnAttribute11" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="ReturnAttribute12" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="ReturnAttribute13" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="ReturnAttribute14" nillable="true" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="ReturnAttribute15" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:complexType name="BasicOrderLineType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrganizationId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrganizationCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderLineNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipmentNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderedItem" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ItemIdentifierType" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderLineType" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OriginalOrderedItem" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OriginalItemIdentifierType" nillable="true"
                         type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RequestDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ScheduledShipDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderedQuantityUOM" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderedQuantity" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderedQuantityUOM2" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderedQuantity2" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UnitListPrice" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UnitSellingPrice" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TotalAmount" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TransactionalCurrencyCode" nillable="true"
                         type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingMethod" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="HeaderId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LineId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FlowStatusCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ScheduleStatusCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrigSysLineRef" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LineCategoryCode" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ListOfBasicOrderLinesType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="BasicOrderLines" type="oao:BasicOrderLineType"/>
        </xsd:sequence>
    </xsd:complexType>

                  <xsd:element  name="OrganizationId" nillable="true" type="xsd:decimal"/>
                  <xsd:element  name="OrganizationCode" nillable="true" type="xsd:string"/>
                  <xsd:element  name="OrderNumber" nillable="true" type="xsd:string"/>
                  <xsd:element name="OrigSysDocumentRef" nillable="true" type="xsd:string"/>
                  <xsd:element  name="SoldToCustomerNumber" nillable="true" type="xsd:string"/>
                  <xsd:element name="SoldToCustomerName" nillable="true" type="xsd:string"/>
                  <xsd:element  name="HeaderId" nillable="true" type="xsd:decimal"/>
                  <xsd:element  name="FlowStatusCode" nillable="true" type="xsd:string"/>
    
    <xsd:complexType name="BasicOrderType">
        <xsd:sequence>
        
            <xsd:element maxOccurs="1" minOccurs="0" ref="oao:OrganizationId" />
            <xsd:element maxOccurs="1" minOccurs="0" ref="oao:OrganizationCode" />
            <xsd:element maxOccurs="1" minOccurs="0" ref="oao:OrderNumber" />
            <xsd:element maxOccurs="1" minOccurs="0" ref="oao:SoldToCustomerNumber" />
            <xsd:element maxOccurs="1" minOccurs="0" ref="oao:SoldToCustomerName"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SoldToContact" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="oao:HeaderId" />
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderedDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrigSysDocumentRef" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustomerPONumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillToCustomerName" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillToCustomerNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillToContact" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToCustomerNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToCustomerName" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToContact" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PriceListName" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SalesRep" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderSource" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderTypeName" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipFromOrg" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="oao:FlowStatusCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TotalAmount" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TransactionalCurrencyCode" nillable="true"
                         type="xsd:string"/>

        </xsd:sequence>
       
    </xsd:complexType>

    <xsd:element name="MillOrderNumber" type="oao:MillOrderNumberType"/>
    
    <xsd:complexType name="MillOrderNumberType">
    <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderNumber" nillable="true"
                         type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderLineNumber" nillable="true"
                         type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipmentNumber" nillable="true"
                         type="xsd:string"/>
                         </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OrdersType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="AccountingRuleId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AgreementId" nillable="true" type="xsd:decimal"/>
            <xsd:element ref="oao:AttributeInfo"/>
            <xsd:element ref="oao:GlobalAttributeInfo"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BookedFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CancelledFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ConversionRate" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ConversionRateDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ConversionTypeCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustomerPrefereceSetCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedBy" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreationDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustomerPONumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeliverToContactId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeliverToOrgId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DemandClassCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EarliestScheduleLimit" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ExpirationDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FOBPointCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FreightCarrierCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FreightTermsCode" nillable="true" type="xsd:string"/>
            <xsd:element ref="oao:TPAttributeInfo"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="HeaderId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceToContactId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceToOrgId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceToRuleId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastUpdatedBy" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastUpdatedDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastUpdatedLogin" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LatestScheduleLimit" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OpenFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OpenCategoryCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderedDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderDateTypeCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderSourceId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderTypeId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrgId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrigSysDocumentRef" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PartialShipmentsAllowed" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PaymentTermId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PriceListId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PriceRequestCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PricingDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ProgramApplicationId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ProgramId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ProgramUpdateDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RequestDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RequestId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ReturnReasonCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SalesRepId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SalesChannelCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipmentPriorityCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipmentMethodCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipFromOrgId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToleranceAbove" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToleranceBelow" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToContactId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToOrgId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SoldFromOrgId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SoldToContactId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SoldToOrgId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SoldToPhoneId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SourceDocumentId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SourceDocumentTypeId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TaxExemptFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TaxExemptNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TaxExemptReasonCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TaxPointCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TransactionalCurrencyCode" nillable="true"
                         type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="VersionNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ReturnStatus" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DbFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Operation" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FirstAckCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FirstAckDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastAckCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastAckDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ChangeReason" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ChangeComments" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ChangeSequence" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ChangeRequestCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ReadyFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="StatusFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ForceApplyFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DropShipFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustomerPaymentTermId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PaymentTypeCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PaymentAmount" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CheckNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreditCardCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreditCardHolderName" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreditCardNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreditCardExpirationDate" nillable="true"
                         type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreditCardApprovalCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreditCardApprovalDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingInstructions" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PackingInstructions" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FlowStatusCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BookedDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MarketingSourceCodeId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UpgradedFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LockControl" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToEdiLocationCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SoldToEdiLocationCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillToEdiLocationCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipFromEdiLocationCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipFromAddressId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SoldToAddressId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToAddressId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceAddressId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToAddressCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="XmlMessageId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToCustomerId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceToCustomerId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeliverToCustomerId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AccountingRuleDuration" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="XmlTransactionTypeCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BlanketNumber" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LineSetName" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FulfillmentSetName" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DefaultFulfillmentSet" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="QuoteDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="QuoteNumber" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SalesDocumentName" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TransactionPhaseCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserStatusCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DraftSubmittedFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SourceDocumentVersionNumber" nillable="true"
                         type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SoldToSiteUseId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MinisiteId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IbOwner" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IbInstalledAtLocation" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IbCurrentLocation" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndCustomerId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndCustomerContactId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndCustomerSiteUseId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SupplierSignature" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SupplierSignatureDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustomerSignature" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustomerSignatureDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SoldToPartyId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SoldToOrgContactId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToPartyId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToPartySiteId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToPartySiteUseId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeliverToPartyId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeliverToPartySiteId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeliverToPartySiteUseId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceToPartyId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceToPartySiteId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceToPartySiteUseId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndCustomerPartyId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndCustomerPartySiteId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndCustomerPartySiteUseId" nillable="true"
                         type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndCustomerPartyNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndCustomerOrgContactId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToCustomerPartyId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeliverToCustomerPartyId" nillable="true"
                         type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceToCustomerPartyId" nillable="true"
                         type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToOrgContactId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeliverToOrgContactId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceToOrgContactId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ContractTemplateId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ContractSourceDocTypeCode" nillable="true"
                         type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ContractSourceDocumentId" nillable="true"
                         type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SoldToPartyNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToPartyNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceToPartyNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeliverToPartyNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderFirmedDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ListOfOrderLines" type="oao:ListOfOrderLinesType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfOrderLinesType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderLines" type="oao:OrderLinesType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OrderLinesType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="AccountingRuleId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ActualArrivalDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ActualShipmentDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AgreementId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ArrivalSetId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AtoLineId" nillable="true" type="xsd:decimal"/>
            <xsd:element ref="oao:AttributeInfo"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AuthorizedToShipFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AutoSelectedQuantity" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BookedFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CancelledFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CancelledQuantity" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CancelledQuantity2" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CommitmentId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ComponentCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ComponentNumber" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ComponentSequenceId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ConfigHeaderId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ConfigRevNbr" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ConfigDisplaySequence" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ConfigurationId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedBy" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreationDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreditInvoiceLineId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustomerDockCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustomerJob" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustomerProductionLine" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustomerTrxLineId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustModelSerialNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustPoNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustProductionSeqNum" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeliveryLeadTime" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeliverToContactId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeliverToOrgId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DemandBucketTypeCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DemandClassCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DepPlanRequiredFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EarliestAcceptableDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndItemUnitNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ExplosionDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FobPointCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FreightCarrierCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FreightTermsCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FulfilledQuantity" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FulfilledQuantity2" nillable="true" type="xsd:decimal"/>
            <xsd:element ref="oao:GlobalAttributeInfo"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="HeaderId" nillable="true" type="xsd:decimal"/>
            <xsd:element ref="oao:IndustryAttributeInfo"/>
            <xsd:element ref="oao:TPAttributeInfo"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IntermedShipToOrgId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IntermedShipToContactId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InventoryItemId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceInterfaceStatusCode" nillable="true"
                         type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceToContactId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceToOrgId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoicingRuleId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderedItem" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ItemRevision" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ItemTypeCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastUpdatedBy" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastUpdateDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LatestAcceptableDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LineCategoryCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LineId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LineNumber" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LineTypeId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LinkToLineRef" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LinkToLineId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LinkToLineIndex" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ModelGroupNumber" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MfgComponentSequenceId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MfgLeadTime" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OpenFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OptionFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OptionNumber" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderedQuantity" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderedQuantity2" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderQuantityUom" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderedQuantityUom2" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrgId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrigSysDocumentRef" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrigSysLineRef" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OverShipReasonCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OverShipResolvedFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PaymentTermId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PlanningPriority" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PreferredGrade" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PriceListId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PriceRequestCode" nillable="true" type="xsd:string"/>
            <xsd:element ref="oao:PricingAttributeInfo"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PricingDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PricingQuantity" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PricingQuantityUom" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ProgramApplicationId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ProgramId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ProgramUpdateDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ProjectId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PromiseDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ReSourceFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ReferenceCustomerTrxLineId" nillable="true"
                         type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ReferenceHeaderId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ReferenceLineId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ReferenceType" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RequestDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RequestId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ReservedQuantity" nillable="true" type="xsd:decimal"/>
            <xsd:element ref="oao:ReturnAttributeInfo"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ReturnReasonCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RlaScheduleTypeCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SalesrepId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ScheduleArrivalDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ScheduleShipDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ScheduleActionCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ScheduleStatusCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipmentNumber" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipmentPriorityCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippedQuantity" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippedQuantity2" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingInterfacedFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingMethodCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingQuantity" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingQuantity2" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingQuantityUom" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingQuantityUom2" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipFromOrgId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipModelCompleteFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipSetId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FulfillmentSetId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToleranceAbove" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToleranceBelow" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToContactId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToOrgId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SoldToOrgId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SoldFromOrgId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SortOrder" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SourceDocumentId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SourceDocumentLineId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SourceDocumentTypeId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SourceTypeCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SplitFromLineId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TaskId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TaxCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TaxDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TaxExemptFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TaxExemptNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TaxExemptReasonCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TaxPointCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TaxRate" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TaxValue" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TopModelLineRef" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TopModelLineId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TopModelLineIndex" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UnitListPrice" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UnitListPricePerPqty" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UnitSellingPrice" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UnitSellingPricePerPqty" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="VehCusItemCumKeyId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="VisibleDemandFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ReturnStatus" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DbFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Operation" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FirstAckCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FirstAckDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastAckCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LastAckDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ChangeReason" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ChangeComments" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ArrivalSet" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipSet" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FulfillmentSet" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderSourceId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrigSysShipmentRef" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ChangeSequence" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ChangeRequestCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="StatusFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DropShipFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustomerLineNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustomerShipmentNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustomerItemNetPrice" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustomerPaymentTermId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderedItemId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ItemIdentifierType" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingInstructions" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PackingInstructions" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CalculatePriceFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoicedQuantity" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceTxnReasonCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceTxnComments" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceDuration" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServicePeriod" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceStartDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceEndDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceCoterminateFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UnitListPercent" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UnitSellingPercent" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UnitPercentBasePrice" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceNumber" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceReferenceTypeCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceReferenceLineId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceReferenceSystemId" nillable="true"
                         type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceRefOrderNumber" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceRefLineNumber" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceReferenceOrder" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceReferenceLine" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceReferenceSystem" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceRefShipmentNumber" nillable="true"
                         type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceRefOptionNumber" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ServiceLineIndex" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LineSetId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SplitBy" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SplitActionCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShippableFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ModelRemnantFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FlowStatusCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FulfilledFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FulfillmentMethodCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RevenueAmount" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MarketingSourceCodeId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FulfillmentDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SemiProcessedFlag" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UpgradedFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LockControl" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Subinventory" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SplitFromLineRef" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SplitFromShipmentRef" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToEdiLocationCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BillToEdiLocationCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipFromEdiLocationCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipFromAddressId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SoldToAddressId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToAddressId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceAddressId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToAddressCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OriginalInventoryItemId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OriginalItemIdentifierType" nillable="true"
                         type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OriginalOrderedItemId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OriginalOrderedItem" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ItemSubstitutionTypeCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LateDemandPenaltyFactor" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OverrideAtpDateCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToCustomerId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceToCustomerId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeliverToCustomerId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AccountingRuleDuration" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UnitCost" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UserItemDescription" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="XmlTransactionTypeCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ItemRelationshipType" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BlanketNumber" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BlanketLineNumber" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BlanketVersionNumber" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CsoResponseFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FirmDemandFlag" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EarliestShipDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TransactionPhaseCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SourceDocumentVersionNumber" nillable="true"
                         type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MinisiteId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IbOwner" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IbInstalledAtLocation" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IbCurrentLocation" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndCustomerId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndCustomerContactId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndCustomerSiteUseId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SupplierSignature" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SupplierSignatureDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustomerSignature" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CustomerSignatureDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToPartyId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToPartySiteId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToPartySiteUseId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeliverToPartyId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeliverToPartySiteId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeliverToPartySiteUseId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceToPartyId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceToPartySiteId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceToPartySiteUseId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndCustomerPartyId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndCustomerPartySiteId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndCustomerPartySiteUseId" nillable="true"
                         type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndCustomerPartyNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EndCustomerOrgContactId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToCustomerPartyId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeliverToCustomerPartyId" nillable="true"
                         type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceToCustomerPartyId" nillable="true"
                         type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToOrgContactId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeliverToOrgContactId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceToOrgContactId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RetrobillRequestId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OriginalListPrice" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CommitmentAppliedAmount" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ShipToPartyNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceToPartyNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DeliverToPartyNumber" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OrderFirmedDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ActualFulfillmentDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ChangedLinesPocao" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ChargePeriodicityCode" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ListOfActionRequests" type="oao:ListOfActionRequestsType"/>
    <xsd:complexType name="ListOfActionRequestsType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ActionRequest" nillable="true"
                         type="oao:ActionRequestsType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ActionRequestsType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntityCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntityId" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntityIndex" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RequestType" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ReturnStatus" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RequestUniqueKey1" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RequestUniqueKey2" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RequestUniqueKey3" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RequestUniqueKey4" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RequestUniqueKey5" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param1" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param2" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param3" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param4" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param5" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param6" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param7" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param8" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param9" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param10" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param11" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param12" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param13" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param14" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param15" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param16" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param17" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param18" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param19" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param20" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param21" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param22" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param23" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param24" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Param25" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LongParam1" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DateParam1" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DateParam2" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DateParam3" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DateParam4" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DateParam5" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DateParam6" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DateParam7" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DateParam8" nillable="true" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Processed" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>