mds/apps/EIAMetadata/AO/EBiz/O2C/V1.0/QACollectionAO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xmlns.eia.com/AO/EBiz/O2C/QACollectionAO/1.0"
            xmlns:eamo="http://xmlns.eia.com/AO/EBiz/O2C/QACollectionAO/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00">
 <xsd:complexType name="QaResultTypes">
  <xsd:sequence maxOccurs="1">
  <xsd:element name="transactionInterfaceId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
  <xsd:element name="lastUpdateDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
  <xsd:element name="lastUpdatedBy" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
  <xsd:element name="qaLastUpdatedBy" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
  <xsd:element name="qaLastUpdatedByName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="creationDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="createdBy" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="qaCreatedBy" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="qaCreatedByName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="lastUpdateLogin" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="requestId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="programApplicationId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="programId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="programUpdateDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="collectionId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="groupId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="sourceCode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="sourceLineId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="processStatus" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="validateFlag" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="marker" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="organizationId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="organizationCode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="planId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="planName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="specId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="specName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="departmentId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="department" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="toDepartmentId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="toDepartment" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="resourceId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="resourceCode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="quantity" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="itemId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="item" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="uom" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="revision" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="subinventory" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="locatorId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="locator" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="lotNumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="serialNumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="compItemId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="compItem" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="compUom" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="compRevision" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="compSubinventory" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="compLocatorId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="compLocator" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="compLotNumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="compSerialNumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="wipEntityId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="jobName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="lineId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="productionLine" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="toOpSeqNum" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="fromOpSeqNum" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="vendorId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="vendorName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="receiptNum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="poHeaderId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="poReleaseId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="poReleaseNum" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="poTypeLookup" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="poNumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="poLineNum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="poShipmentNum" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="customerId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="customerName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="soHeaderId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="salesOrder" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="restrictLocatorsCode" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="locationControlCode" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="revisionQtyControlCode" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="restrictSubinvCode" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="subLocatorType" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="genLocCtrlCode" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="compRestrictLocatorsCode" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="compLocationControlCode" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="compRevisionQtyControlCode" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="compRestrictSubinvCode" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="compSubLocatorType" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="projectId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
    <xsd:element name="projectNumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="taskId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="taskNumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="status" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="transactionDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="compGenLocCtrlCode" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="rmaHeaderId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="rmaNumber" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="insertType" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="matchingElements" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character1" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character2" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character3" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character4" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character5" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character6" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character7" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character8" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character9" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character10" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character11" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character12" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character13" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character14" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character15" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character16" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character17" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character18" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character19" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character20" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character21" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character22" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character23" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character24" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character25" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character26" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character27" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character28" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character29" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character30" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character31" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character32" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character33" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character34" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character35" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character36" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character37" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character38" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character39" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character40" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character41" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character42" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character43" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character44" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character45" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character46" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character47" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character48" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character49" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character50" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character51" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character52" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character53" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character54" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character55" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character56" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character57" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character58" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character59" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character60" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character61" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character62" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character63" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character64" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character65" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character66" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character67" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character68" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character69" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character70" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character81" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character82" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character83" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character84" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character85" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character86" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character87" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character88" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character89" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character90" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character91" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character92" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character93" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character94" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character95" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character96" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character97" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character98" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character99" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="character100" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="poAgentId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="lpnId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="licensePlateNumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="contractId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="contractNumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="contractLineId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="contractLineNumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="deliverableId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="deliverableNumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="assetGroupId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="assetGroup" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="assetNumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="assetActivityId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="assetActivity" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="workOrderId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="workOrder" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="sequence1" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="sequence2" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="sequence3" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="sequence4" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="sequence5" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="sequence6" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="sequence7" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="sequence8" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="sequence9" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="sequence10" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="sequence11" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="sequence12" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="sequence13" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="sequence14" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="sequence15" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="comment1" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="comment2" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="comment3" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="comment4" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="comment5" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="partyId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="partyName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="csiInstanceId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="itemInstance" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="counterId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="counterName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="counterReadingId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="counterReading" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="ahlMrId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="maintenanceRequirement" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="versionNumber" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="csIncidentId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="serviceRequest" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="wipReworkId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="reworkJob" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="dispositionSource" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="disposition" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="dispositionAction" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="dispositionStatus" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="mtiTransactionHeaderId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="mtiTransactionInterfaceId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="mmtTransactionId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="wjsiGroupId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="wmtiGroupId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="wmtTransactionId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="rtiInterfaceTransactionId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="maintenanceOpSeq" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="nonconformanceSource" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="nonconformSeverity" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="nonconformPriority" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="nonconformanceType" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="nonconformanceCode" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="dateOpened" type="xsd:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="dateClosed" type="xsd:dateTime" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="daysToClose" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="toSubinventory" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="toLocatorId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="toLocator" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="toSubLocatorType" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="billReferenceId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="billReference" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="routingReferenceId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="routingReference" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="concurrentRequestId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="lotStatusId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="serialStatusId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="nonconformanceStatus" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="rcvTransactionId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="lotStatus" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="serialStatus" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="requestStatus" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="requestSource" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="requestPriority" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="requestSeverity" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="ecoName" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="followupActivityId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="followupActivity" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="xfrLpnId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="xfrLicensePlateNumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="repairLineId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="repairOrderNumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="jtfTaskId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="jtfTaskNumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="assetInstanceId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="assetInstanceNumber" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="processBatchId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="processBatchNum" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="processBatchstepId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="processBatchstepNum" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="processOperationId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="processOperation" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="processActivityId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="processActivity" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="processResourceId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="processResource" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="processParameterId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="processParameter" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="operatingUnitId" type="xsd:decimal" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="operatingUnit" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListOfQaResultTypes">
  <xsd:sequence>
   <xsd:element name="QaResults" type="eamo:QaResultTypes"
                minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="InterfaceParamsType">
  <xsd:sequence>
   <xsd:element name="application" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
  <xsd:element name="program" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
  <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
  <xsd:element name="startTime" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
  <xsd:element name="subRequest" type="xsd:integer" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="argument1" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="argument2" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="argument3" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="argument4" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="argument5" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="argument6" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="argument7" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="argument8" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="argument9" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   <xsd:element name="argument10" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   
   </xsd:sequence>
 </xsd:complexType>
</xsd:schema>