mds/apps/EIAMetadata/AO/EBiz/common/V1.0/SubmitRequestAO.xsd

<?xml version='1.0' encoding='windows-1252'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:submitrequestAOObj="http://xmlns.eia.com/AO/EBiz/common/SubmitRequestAO/1.0"
            targetNamespace="http://xmlns.eia.com/AO/EBiz/common/SubmitRequestAO/1.0" elementFormDefault="qualified">
  <xsd:complexType name="SubmitRequestType">
    <xsd:sequence>
      <xsd:element name="Application" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Program" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Description" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="StartTime" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="SubRequest" type="xsd:integer" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument1" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument2" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument3" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument4" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument5" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument6" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument7" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument8" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument9" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument10" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument11" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument12" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument13" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument14" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument15" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument16" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument17" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument18" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument19" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument20" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument21" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument22" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument23" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument24" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument25" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument26" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument27" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument28" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument29" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument30" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument31" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument32" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument33" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument34" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument35" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument36" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument37" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument38" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument39" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument40" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument41" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument42" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument43" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument44" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument45" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument46" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument47" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument48" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument49" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument50" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument51" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument52" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument53" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument54" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument55" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument56" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument57" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument58" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument59" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument60" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument61" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument62" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument63" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument64" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument65" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument66" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument67" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument68" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument69" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument70" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument71" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument72" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument73" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument74" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument75" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument76" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument77" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument78" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument79" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument80" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument81" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument82" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument83" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument84" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument85" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument86" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument87" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument88" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument89" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument90" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument91" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument92" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument93" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument94" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument95" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument96" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument97" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument98" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument99" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
      <xsd:element name="Argument100" type="xsd:string" maxOccurs="1" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
