mds/apps/EIAMetadata/AO/EBiz/common/V1.0/UomAO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema targetNamespace="http://xmlns.eia.com/AO/EBiz/common/UomAO/1.0" 
       elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00" 
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
        xmlns:uomao="http://xmlns.eia.com/AO/EBiz/common/UomAO/1.0" >

 <xsd:element name="Uom" type="uomao:UomType"/>
<xsd:complexType name="UomType">
<xsd:sequence>
<xsd:element name="Code" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
<xsd:element name="Description" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
