mds/apps/EIAMetadata/AO/EBiz/A2R/V1.0/JournalAO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.eia.com/AO/EBiz/A2R/JournalAO/1.0" xmlns:jeo="http://xmlns.eia.com/AO/EBiz/A2R/JournalAO/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.00">

	<xsd:element name="ListofJournals" type="jeo:ListOfJournalsType"></xsd:element>

	<xsd:element name="Journal" type="jeo:JournalType" />

	<xsd:complexType name="ListOfJournalsType">
		<xsd:sequence>
			<xsd:element name="Journal" type="jeo:JournalType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="InterfaceParams" type="jeo:InterfaceParamsType" />





     <xsd:complexType name="InterfaceParamsType">
		<xsd:sequence>
			<xsd:element name="Application" type="xsd:string" minOccurs="0"
				maxOccurs="1" nillable="true" />
			<xsd:element name="Program" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Description" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="StartTime" type="xsd:date"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="SubRequest" type="xsd:integer"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="GroupId" type="xsd:integer"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="JESourceName" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />

			<xsd:element name="InterfaceRunId" type="xsd:integer"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="SetOfBooksId" type="xsd:integer"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="SuspenseFlag" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="FromAccountingDate" type="xsd:date"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="ToAccountingDate" type="xsd:date"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="SummaryFlag" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="ImportDescFlexFlag" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="DataSecurityFlag" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
  		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="JournalType">
		<xsd:sequence>
			<xsd:element name="Status" type="xsd:string" minOccurs="0"
				maxOccurs="1" nillable="true" />
			<xsd:element name="FundsReservedFlag" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="CodeCombinationIDInterim" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="ManagementSegmentValue" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="BalancingSegmentValue" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="SetOfBooksId" type="xsd:integer"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="ReferenceDate" type="xsd:date"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="GLSLLinkTable" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="GLSLLinkId" type="xsd:integer"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="OriginatingBalSegValue" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="AverageJournalFlag" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="JGZZReconRef" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="DescrFlexErrorMessage" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="USSGLransactionCode" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Context3" type="xsd:string" minOccurs="0"
				maxOccurs="1" nillable="true" />
			<xsd:element name="InvoiceAmount" type="xsd:double"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="InvoiceIdentifier" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="TaxCode" type="xsd:string" minOccurs="0"
				maxOccurs="1" nillable="true" />
			<xsd:element name="InvoiceDate" type="xsd:date"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Context" type="xsd:string" minOccurs="0"
				maxOccurs="1" nillable="true" />
			<xsd:element name="Attribute20" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Attribute19" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Attribute18" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Attribute17" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Attribute16" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Attribute15" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Attribute14" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Attribute13" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Attribute11" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Attribute10" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Attribute9" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Attribute8" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Attribute7" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Attribute6" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Attribute5" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Attribute4" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Attribute3" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Attribute2" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Attribute1" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="SubledgerDocSequenceValue" type="xsd:double"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="SubledgerDocSequenceId" type="xsd:double"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="RequestId" type="xsd:integer"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="GroupId" type="xsd:integer" minOccurs="0"
				maxOccurs="1" nillable="true" />
			<xsd:element name="StatAmount" type="xsd:double"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="StatusDescription" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="WarningCode" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="DateCreatedInGL" type="xsd:date"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="CodeCombinationId" type="xsd:integer"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="FunctionalCurrencyCode" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="ChartOfAccountsId" type="xsd:integer"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="JELineNum" type="xsd:integer"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="JEHeaderId" type="xsd:integer"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="PeriodName" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="JEBatchId" type="xsd:integer"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference30" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference29" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference28" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference27" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference26" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference25" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference24" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference23" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference22" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference21" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference20" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference19" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference18" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference17" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference16" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference15" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference14" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference13" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference12" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference11" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference10" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference9" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference8" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference7" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference6" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference5" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference4" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference3" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference2" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Reference1" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="TransactionDate" type="xsd:date"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="AccountCR" type="xsd:double"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="AccountDR" type="xsd:double"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="EnteredCR" type="xsd:double"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="EnteredDR" type="xsd:double"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment30" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment29" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment28" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment27" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment26" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment25" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment24" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment23" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment22" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment21" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment20" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment19" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment18" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment17" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment16" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment15" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment14" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment13" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment12" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment11" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment10" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="Segment9" type="xsd:string" minOccurs="0"
				maxOccurs="1" nillable="true" />
			<xsd:element name="Segment8" type="xsd:string" minOccurs="0"
				maxOccurs="1" nillable="true" />
			<xsd:element name="Segment7" type="xsd:string" minOccurs="0"
				maxOccurs="1" nillable="true" />
			<xsd:element name="Segment6" type="xsd:string" minOccurs="0"
				maxOccurs="1" nillable="true" />
			<xsd:element name="Segment5" type="xsd:string" minOccurs="0"
				maxOccurs="1" nillable="true" />
			<xsd:element name="Segment4" type="xsd:string" minOccurs="0"
				maxOccurs="1" nillable="true" />
			<xsd:element name="Segment3" type="xsd:string" minOccurs="0"
				maxOccurs="1" nillable="true" />
			<xsd:element name="Segment2" type="xsd:string" minOccurs="0"
				maxOccurs="1" nillable="true" />
			<xsd:element name="Segment1" type="xsd:string" minOccurs="0"
				maxOccurs="1" nillable="true" />
			<xsd:element name="CurrencyConversionRate" type="xsd:double"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="BudgetVersionId" type="xsd:double"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="EncumbranceTypeId" type="xsd:double"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="CurrencyConversionDate" type="xsd:date"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="UserJESourceName" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="UserJECategoryName" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="ActualFlag" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="CreatedBy" type="xsd:integer"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="DateCreated" type="xsd:date"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="CurrencyCode" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="AccountingDate" type="xsd:date"
				minOccurs="0" maxOccurs="1" nillable="true" />
			<xsd:element name="LedgerId" type="xsd:integer"
				minOccurs="0" maxOccurs="1" nillable="true" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>