Implementation/OTM/ReceivePShipmentFromOtm/WshReceivePShipmentFromOtm.wsdl

<definitions
     name="WshReceivePShipmentFromOtm"
     targetNamespace="http://xmlns.oracle.com/apps/wsh/inbound/WshReceivePShipmentFromOtm"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns1="http://xmlns.oracle.com/apps/otm"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:ns2="http://schemas.oracle.com/bpel/extension"
     xmlns:client="http://xmlns.oracle.com/apps/wsh/inbound/WshReceivePShipmentFromOtm"
    >
    <types>
        <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/wsh/inbound/WshReceivePShipmentFromOtm"
             xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xmlns.oracle.com/apps/otm" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:client="http://xmlns.oracle.com/apps/wsh/inbound/WshReceivePShipmentFromOtm">
            <element name="WshReceivePShipmentFromOtmProcessRequest">
                <complexType>
                    <sequence>
                        <element name="input" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="WshReceivePShipmentFromOtmProcessResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xmlns.oracle.com/apps/otm" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:client="http://xmlns.oracle.com/apps/wsh/inbound/WshReceivePShipmentFromOtm">
            <xsd:import namespace="http://xmlns.oracle.com/apps/otm" schemaLocation="oramds:/apps/EIAMetadata/AO/OTM/common/V1.0//GLogXML.xsd"/>
        </xsd:schema>
    </types>
    <message name="WshReceivePShipmentFromOtmResponseMessage">
        <part name="payload" element="ns1:TransmissionAck"/>
    </message>
    <message name="WshReceivePShipmentFromOtmRequestMessage">
        <part name="payload" element="ns1:Transmission"/>
    </message>
    <portType name="WshReceivePShipmentFromOtm">
        <operation name="process">
            <input message="client:WshReceivePShipmentFromOtmRequestMessage"/>
            <output message="client:WshReceivePShipmentFromOtmResponseMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="WshReceivePShipmentFromOtm">
        <plnk:role name="WshReceivePShipmentFromOtmProvider">
            <plnk:portType name="client:WshReceivePShipmentFromOtm"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
