Implementation/ABS/Ebiz/NUC_EBizPOReceipt_ABS/xsd/OA_CreateReceiptEBS_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/OA_CreateReceiptEBS" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/OA_CreateReceiptEBS" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="RcvHeadersInterfaceCollection" type="RcvHeadersInterfaceCollection"/>
   <xs:complexType name="RcvHeadersInterfaceCollection">
      <xs:sequence>
         <xs:element name="RcvHeadersInterface" type="RcvHeadersInterface" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RcvHeadersInterface">
      <xs:sequence>
         <xs:element name="headerInterfaceId" type="xs:decimal" nillable="true"/>
         <xs:element name="groupId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="ediControlNum" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="processingStatusCode" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="receiptSourceCode" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="asnType" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="transactionType" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="autoTransactCode" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="testFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="lastUpdatedBy" type="xs:decimal" minOccurs="0"/>
         <xs:element name="lastUpdateLogin" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="createdBy" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="noticeCreationDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="shipmentNum" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="receiptNum" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="receiptHeaderId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="vendorName" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="vendorNum" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="vendorId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="vendorSiteCode" type="string35" minOccurs="0" nillable="true"/>
         <xs:element name="vendorSiteId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="fromOrganizationCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="fromOrganizationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToOrganizationCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="shipToOrganizationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="locationCode" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="locationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="billOfLading" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="packingSlip" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="shippedDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="freightCarrierCode" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="expectedReceiptDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="receiverId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="numOfContainers" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="waybillAirbillNum" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="comments" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="grossWeight" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="grossWeightUomCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="netWeight" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="netWeightUomCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="tarWeight" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="tarWeightUomCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="packagingCode" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="carrierMethod" type="string2" minOccurs="0" nillable="true"/>
         <xs:element name="carrierEquipment" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="specialHandlingCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="hazardCode" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="hazardClass" type="string4" minOccurs="0" nillable="true"/>
         <xs:element name="hazardDescription" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="freightTerms" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="freightBillNumber" type="string35" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceNum" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="totalInvoiceAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="taxName" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="taxAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="freightAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="currencyCode" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="conversionRateType" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="conversionRate" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="conversionRateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="paymentTermsName" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="paymentTermsId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="attributeCategory" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute4" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute5" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute6" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute7" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute8" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute9" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute10" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute11" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute12" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute13" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute14" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute15" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="usgglTransactionCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="employeeName" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="employeeId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceStatusCode" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="validationFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="processingRequestId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="customerAccountNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="customerId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="customerSiteId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="customerPartyName" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="remitToSiteId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="transactionDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="orgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="operatingUnit" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="shipFromLocationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="performancePeriodFrom" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="performancePeriodTo" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="requestDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="shipFromLocationCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="rcvTransactionsInterfaceCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="RcvTransactionsInterface" type="RcvTransactionsInterface" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RcvTransactionsInterface">
      <xs:sequence>
         <xs:element name="interfaceTransactionId" type="xs:decimal"/>
         <xs:element name="groupId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="lastUpdatedBy" type="xs:decimal" minOccurs="0"/>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="createdBy" type="xs:decimal" minOccurs="0"/>
         <xs:element name="lastUpdateLogin" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="requestId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programApplicationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programUpdateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="transactionType" type="string25" minOccurs="0"/>
         <xs:element name="transactionDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="processingStatusCode" type="string25" minOccurs="0"/>
         <xs:element name="processingModeCode" type="string25" minOccurs="0"/>
         <xs:element name="processingRequestId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="transactionStatusCode" type="string25" minOccurs="0"/>
         <xs:element name="categoryId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="quantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="unitOfMeasure" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="interfaceSourceCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="interfaceSourceLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invTransactionId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="itemId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="itemDescription" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="itemRevision" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="uomCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="employeeId" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="autoTransactCode" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="shipmentHeaderId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipmentLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToLocationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="primaryQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="primaryUnitOfMeasure" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="receiptSourceCode" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="vendorId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="vendorSiteId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="fromOrganizationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="fromSubinventory" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="toOrganizationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="intransitOwningOrgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="routingHeaderId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="routingStepId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="sourceDocumentCode" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="parentTransactionId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="poHeaderId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="poRevisionNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="poReleaseId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="poLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="poLineLocationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="poUnitPrice" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="currencyCode" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="currencyConversionType" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="currencyConversionRate" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="currencyConversionDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="poDistributionId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="requisitionLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="reqDistributionId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="chargeAccountId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="substituteUnorderedCode" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="receiptExceptionFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="accrualStatusCode" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="inspectionStatusCode" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="inspectionQualityCode" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="destinationTypeCode" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToPersonId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="locationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToLocationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="subinventory" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="locatorId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="wipEntityId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="wipLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="departmentCode" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="wipRepetitiveScheduleId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="wipOperationSeqNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="wipResourceSeqNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="bomResourceId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipmentNum" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="freightCarrierCode" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="billOfLading" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="packingSlip" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="shippedDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="expectedReceiptDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="actualCost" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="transferCost" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="transportationCost" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="transportationAccountId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="numOfContainers" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="waybillAirbillNum" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="vendorItemNum" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="vendorLotNum" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="rmaReference" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="comments" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attributeCategory" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute4" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute5" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute6" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute7" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute8" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute9" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute10" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute11" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute12" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute13" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute14" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute15" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipHeadAttributeCategory" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="shipHeadAttribute1" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipHeadAttribute2" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipHeadAttribute3" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipHeadAttribute4" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipHeadAttribute5" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipHeadAttribute6" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipHeadAttribute7" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipHeadAttribute8" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipHeadAttribute9" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipHeadAttribute10" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipHeadAttribute11" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipHeadAttribute12" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipHeadAttribute13" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipHeadAttribute14" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipHeadAttribute15" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipLineAttributeCategory" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="shipLineAttribute1" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipLineAttribute2" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipLineAttribute3" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipLineAttribute4" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipLineAttribute5" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipLineAttribute6" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipLineAttribute7" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipLineAttribute8" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipLineAttribute9" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipLineAttribute10" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipLineAttribute11" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipLineAttribute12" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipLineAttribute13" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipLineAttribute14" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipLineAttribute15" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="ussglTransactionCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="governmentContext" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="reasonId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="destinationContext" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="sourceDocQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="sourceDocUnitOfMeasure" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="movementId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="vendorCumShippedQty" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="itemNum" type="string81" minOccurs="0" nillable="true"/>
         <xs:element name="documentNum" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="documentLineNum" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="truckNum" type="string35" minOccurs="0" nillable="true"/>
         <xs:element name="shipToLocationCode" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="containerNum" type="string35" minOccurs="0" nillable="true"/>
         <xs:element name="substituteItemNum" type="string81" minOccurs="0" nillable="true"/>
         <xs:element name="noticeUnitPrice" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="itemCategory" type="string81" minOccurs="0" nillable="true"/>
         <xs:element name="locationCode" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="vendorName" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="vendorNum" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="vendorSiteCode" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="fromOrganizationCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="toOrganizationCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="intransitOwningOrgCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="routingCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="routingStep" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="releaseNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="documentShipmentLineNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="documentDistributionNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToPersonName" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToLocationCode" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="useMtlLot" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="useMtlSerial" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="locator" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="reasonName" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="validationFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="substituteItemId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="quantityShipped" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="quantityInvoiced" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="taxName" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="taxAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="reqNum" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="reqLineNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="reqDistributionNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="wipEntityName" type="string24" minOccurs="0" nillable="true"/>
         <xs:element name="wipLineCode" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="resourceCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="shipmentLineStatusCode" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="barcodeLabel" type="string35" minOccurs="0" nillable="true"/>
         <xs:element name="transferPercentage" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="qaCollectionId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="countryOfOriginCode" type="string2" minOccurs="0" nillable="true"/>
         <xs:element name="oeOrderHeaderId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="oeOrderLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="customerId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="customerSiteId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="customerItemNum" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="createDebitMemoFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="putAwayRuleId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="putAwayStrategyId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lpnId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="transferLpnId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="costGroupId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="mobileTxn" type="string2" minOccurs="0" nillable="true"/>
         <xs:element name="mmttTempId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="transferCostGroupId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="secondaryQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="secondaryUnitOfMeasure" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="secondaryUomCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="qcGrade" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="fromLocator" type="string81" minOccurs="0" nillable="true"/>
         <xs:element name="fromLocatorId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="parentSourceTransactionNum" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="interfaceAvailableQty" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="interfaceTransactionQty" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="interfaceAvailableAmt" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="interfaceTransactionAmt" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="licensePlateNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="sourceTransactionNum" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="transferLicensePlateNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="lpnGroupId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="orderTransactionId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="customerAccountNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="customerPartyName" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="oeOrderLineNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="oeOrderNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="parentInterfaceTxnId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="customerItemId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="amount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="jobId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="timecardId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="timecardOvn" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="erecordId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="projectId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="taskId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="asnAttachId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="orgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="operatingUnit" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="requestedAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="materialStoredAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="amountShipped" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="matchingBasis" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="replenishOrderLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="expressTransaction" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="lcmShipmentLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="unitLandedCost" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lcmAdjustmentNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="mtlTransactionLotsInterfaceCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="MtlTransactionLotsInterface" type="MtlTransactionLotsInterface" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="mtlSerialNumbersInterfaceCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="MtlSerialNumbersInterface" type="MtlSerialNumbersInterface" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="wmsLpnContentsInterfaceCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="WmsLpnContentsInterface" type="WmsLpnContentsInterface" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MtlTransactionLotsInterface">
      <xs:sequence>
         <xs:element name="transactionInterfaceId" type="xs:decimal"/>
         <xs:element name="sourceCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="sourceLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="lastUpdatedBy" type="xs:decimal" minOccurs="0"/>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="createdBy" type="xs:decimal" minOccurs="0"/>
         <xs:element name="lastUpdateLogin" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="requestId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programApplicationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programUpdateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="lotNumber" type="string80" minOccurs="0"/>
         <xs:element name="lotExpirationDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="transactionQuantity" type="xs:decimal" minOccurs="0"/>
         <xs:element name="primaryQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="serialTransactionTempId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="errorCode" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="processFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="description" type="string256" minOccurs="0" nillable="true"/>
         <xs:element name="vendorName" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="supplierLotNumber" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="countryOfOrigin" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="originationDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dateCode" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="gradeCode" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="changeDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="maturityDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="statusId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="retestDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="age" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="itemSize" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="color" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="volume" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="volumeUom" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="placeOfOrigin" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="killDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="bestByDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="length" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lengthUom" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="recycledContent" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="thickness" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="thicknessUom" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="width" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="widthUom" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="curlWrinkleFold" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="lotAttributeCategory" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute1" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute2" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute3" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute4" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute5" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute6" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute7" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute8" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute9" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute10" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute11" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute12" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute13" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute14" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute15" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute16" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute17" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute18" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute19" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute20" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute21" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute22" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute23" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute24" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute25" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute26" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute27" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute28" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute29" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute30" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute1" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute2" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute3" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute4" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute5" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute6" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute7" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute8" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute9" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute10" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute11" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute12" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute13" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute14" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute15" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute16" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute17" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute18" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute19" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute20" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute1" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute3" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute4" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute5" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute6" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute7" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute8" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute9" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute10" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute11" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute12" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute13" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute14" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute15" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute16" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute17" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute18" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute19" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute20" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute21" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute22" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute23" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute24" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute25" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute26" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute27" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute28" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute29" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute30" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="vendorId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="territoryCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="productCode" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="secondaryTransactionQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="sublotNum" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="reasonCode" type="string4" minOccurs="0" nillable="true"/>
         <xs:element name="attributeCategory" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute4" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute5" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute6" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute7" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute8" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute9" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute10" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute11" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute12" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute13" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute14" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute15" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="expirationActionCode" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="expirationActionDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="holdDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="originationType" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="parentLotNumber" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="reasonId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="parentObjectType" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="parentObjectId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="parentObjectNumber" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="parentItemId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="parentObjectType2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="parentObjectId2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="parentObjectNumber2" type="string240" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MtlSerialNumbersInterface">
      <xs:sequence>
         <xs:element name="transactionInterfaceId" type="xs:decimal"/>
         <xs:element name="sourceCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="sourceLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="lastUpdatedBy" type="xs:decimal" minOccurs="0"/>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="createdBy" type="xs:decimal" minOccurs="0"/>
         <xs:element name="lastUpdateLogin" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="requestId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programApplicationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programUpdateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="vendorSerialNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="vendorLotNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="fmSerialNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="toSerialNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="errorCode" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="processFlag" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="parentSerialNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="serialAttributeCategory" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="countryOfOrigin" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="originationDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute1" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute2" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute3" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute4" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute5" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute6" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute7" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute8" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute9" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute10" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute11" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute12" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute13" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute14" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute15" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute16" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute18" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute19" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute20" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute21" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute22" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute23" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute24" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute25" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute26" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute27" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute28" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute29" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute30" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute1" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute2" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute3" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute4" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute5" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute6" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute7" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute8" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute9" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute10" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute11" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute12" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute13" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute14" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute15" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute16" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute17" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute18" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute19" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute20" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute1" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute3" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute4" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute5" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute6" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute7" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute8" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute9" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute10" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute11" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute12" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute13" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute14" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute15" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute16" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute17" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute18" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute19" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute20" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute21" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute22" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute23" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute24" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute25" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute26" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute27" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute28" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute29" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute30" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="statusId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="territoryCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="timeSinceNew" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="cyclesSinceNew" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="timeSinceOverhaul" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="cyclesSinceOverhaul" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="timeSinceRepair" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="cyclesSinceRepair" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="timeSinceVisit" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="cyclesSinceVisit" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="timeSinceMark" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="cyclesSinceMark" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="numberOfRepairs" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="statusName" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute17" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attributeCategory" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute4" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute5" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute6" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute7" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute8" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute9" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute10" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute11" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute12" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute13" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute14" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute15" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="productCode" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="parentObjectType" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="parentObjectId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="parentObjectNumber" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="parentItemId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="parentObjectType2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="parentObjectId2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="parentObjectNumber2" type="string240" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="WmsLpnContentsInterface">
      <xs:sequence>
         <xs:element name="licensePlateNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="groupId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="lastUpdatedBy" type="xs:decimal" minOccurs="0"/>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="createdBy" type="xs:decimal" minOccurs="0"/>
         <xs:element name="lastUpdateLogin" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="requestId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programApplicationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programUpdateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="itemNum" type="string81" minOccurs="0" nillable="true"/>
         <xs:element name="itemDescription" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="itemRevision" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="vendorItemNum" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="lotNumber" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="quantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="uomCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="fromSerialNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="toSerialNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="documentNum" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="documentLineNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToOrganizationCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="shipmentNum" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="serialTransactionIntfId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="expirationDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="attributeCategory" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute4" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute5" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute6" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute7" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute8" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute9" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute10" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute11" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute12" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute13" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute14" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="attribute15" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="gradeCode" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="originationDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dateCode" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="changeDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="age" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="retestDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="maturityDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="lotAttributeCategory" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="itemSize" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="color" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="volume" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="volumeUomCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="placeOfOrigin" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="killDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="bestByDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="length" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lengthUomCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="recycledContent" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="thickness" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="thicknessUomCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="width" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="widthUomCode" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="curlWrinkleFold" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute1" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute2" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute3" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute4" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute5" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute6" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute7" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute8" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute9" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute10" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute11" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute12" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute13" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute14" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute15" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute16" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute17" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute18" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute19" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="cAttribute20" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute1" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute2" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute3" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute4" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute5" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute6" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute7" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute8" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute9" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="dAttribute10" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute1" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute3" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute4" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute5" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute6" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute7" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute8" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute9" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="nAttribute10" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="supplierLotNumber" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="territoryCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="statusId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="statusName" type="string30" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string10">
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string25">
      <xs:restriction base="xs:string">
         <xs:maxLength value="25"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string30">
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string240">
      <xs:restriction base="xs:string">
         <xs:maxLength value="240"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string35">
      <xs:restriction base="xs:string">
         <xs:maxLength value="35"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string3">
      <xs:restriction base="xs:string">
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string60">
      <xs:restriction base="xs:string">
         <xs:maxLength value="60"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string5">
      <xs:restriction base="xs:string">
         <xs:maxLength value="5"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string2">
      <xs:restriction base="xs:string">
         <xs:maxLength value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string4">
      <xs:restriction base="xs:string">
         <xs:maxLength value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string80">
      <xs:restriction base="xs:string">
         <xs:maxLength value="80"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string50">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string15">
      <xs:restriction base="xs:string">
         <xs:maxLength value="15"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string150">
      <xs:restriction base="xs:string">
         <xs:maxLength value="150"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string360">
      <xs:restriction base="xs:string">
         <xs:maxLength value="360"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string81">
      <xs:restriction base="xs:string">
         <xs:maxLength value="81"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string24">
      <xs:restriction base="xs:string">
         <xs:maxLength value="24"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string256">
      <xs:restriction base="xs:string">
         <xs:maxLength value="256"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string32">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>