Implementation/ABS/Ebiz/NUC_EBizAPInvoice_ABS/xsd/OA_CreateInvoiceEBS_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/OA_CreateInvoiceEBS" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/OA_CreateInvoiceEBS" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ApInvoicesInterfaceCollection" type="ApInvoicesInterfaceCollection"/>
   <xs:complexType name="ApInvoicesInterfaceCollection">
      <xs:sequence>
         <xs:element name="ApInvoicesInterface" type="ApInvoicesInterface" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ApInvoicesInterface">
      <xs:sequence>
         <xs:element name="invoiceId" type="xs:long"/>
         <xs:element name="invoiceNum" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="invoiceTypeLookupCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="invoiceDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="poNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vendorId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="vendorNum" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vendorName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vendorSiteId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="vendorSiteCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="invoiceAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceCurrencyCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="exchangeRate" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="exchangeRateType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="exchangeDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="termsId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="termsName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="description" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="awtGroupId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="awtGroupName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdatedBy" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdateLogin" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="createdBy" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="attributeCategory" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute4" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute5" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute6" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute7" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute8" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute9" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute10" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute11" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute12" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute13" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute14" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute15" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttributeCategory" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute4" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute5" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute6" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute7" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute8" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute9" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute10" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute11" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute12" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute13" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute14" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute15" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute16" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute17" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute18" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute19" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute20" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="status" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="source" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="groupId" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="requestId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="paymentCrossRateType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="paymentCrossRateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="paymentCrossRate" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="paymentCurrencyCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="workflowFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="docCategoryCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="voucherNum" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="paymentMethodLookupCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="payGroupLookupCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="goodsReceivedDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceReceivedDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="glDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="acctsPayCodeCombinationId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="ussglTransactionCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="exclusivePaymentFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="orgId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="amountApplicableToDiscount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="prepayNum" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="prepayDistNum" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="prepayApplyAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="prepayGlDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceIncludesPrepayFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="noXrateBaseAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="vendorEmailAddress" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="termsDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="requesterId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="shipToLocation" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="40"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="externalDocRef" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="prepayLineNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="requesterFirstName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="requesterLastName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="applicationId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="productTable" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="referenceKey1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="referenceKey2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="referenceKey3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="referenceKey4" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="referenceKey5" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="applyAdvancesFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="calcTaxDuringImportFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="controlAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="addTaxToInvAmtFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="taxRelatedInvoiceId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="taxationCountry" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="documentSubType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="supplierTaxInvoiceNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="supplierTaxInvoiceDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="supplierTaxExchangeRate" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="taxInvoiceRecordingDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="taxInvoiceInternalSeq" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="legalEntityId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="legalEntityName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="operatingUnit" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="bankChargeBearer" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="remittanceMessage1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="remittanceMessage2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="remittanceMessage3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="uniqueRemittanceIdentifier" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="uriCheckDigit" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="settlementPriority" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="paymentReasonCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="paymentReasonComments" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="paymentMethodCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="deliveryChannelCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="paidOnBehalfEmployeeId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="netOfRetainageFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="requesterEmployeeNum" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="custRegistrationCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="custRegistrationNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="partyId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="partySiteId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="payProcTrxnTypeCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="paymentFunction" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="paymentPriority" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="portOfEntryCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="externalBankAccountId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="acctsPayCodeConcatenated" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="250"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="payAwtGroupId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="payAwtGroupName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="originalInvoiceAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="disputeReason" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="remitToSupplierName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="remitToSupplierId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="remitToSupplierSite" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="remitToSupplierSiteId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="relationshipId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="remitToSupplierNum" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="apInvoiceLinesInterfaceCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ApInvoiceLinesInterface" type="ApInvoiceLinesInterface" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ApInvoiceLinesInterface">
      <xs:sequence>
         <xs:element name="invoiceLineId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="lineNumber" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="lineTypeLookupCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="lineGroupNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="amount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="accountingDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="description" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="amountIncludesTaxFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="prorateAcrossFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="taxCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="finalMatchFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="poHeaderId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="poNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="poLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="poLineNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="poLineLocationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="poShipmentNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="poDistributionId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="poDistributionNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="poUnitOfMeasure" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="inventoryItemId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="itemDescription" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="quantityInvoiced" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToLocationCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="unitPrice" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="distributionSetId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="distributionSetName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="distCodeConcatenated" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="250"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="distCodeCombinationId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="awtGroupId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="awtGroupName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="lastUpdatedBy" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdateLogin" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="createdBy" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="attributeCategory" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute4" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute5" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute6" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute7" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute8" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute9" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute10" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute11" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute12" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute13" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute14" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute15" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttributeCategory" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute4" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute5" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute6" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute7" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute8" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute9" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute10" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute11" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute12" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute13" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute14" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute15" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute16" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute17" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute18" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute19" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="globalAttribute20" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="poReleaseId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="releaseNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="accountSegment" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="balancingSegment" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="costCenterSegment" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="projectId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="taskId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="expenditureType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="expenditureItemDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="expenditureOrganizationId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="projectAccountingContext" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="paAdditionFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="paQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="ussglTransactionCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="statAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="type1099" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="incomeTaxRegion" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="assetsTrackingFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="priceCorrectionFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="orgId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="receiptNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="receiptLineNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="matchOption" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="packingSlip" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rcvTransactionId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="paCcArInvoiceId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="paCcArInvoiceLineNum" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="reference1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reference2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="paCcProcessedCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="taxRecoveryRate" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="taxRecoveryOverrideFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="taxRecoverableFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="taxCodeOverrideFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="taxCodeId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="creditCardTrxId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="awardId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="vendorItemNum" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="taxableFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="priceCorrectInvNum" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="externalDocLineRef" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="serialNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="manufacturer" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="modelNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="40"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="warrantyNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="deferredAcctgFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="defAcctgStartDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="defAcctgEndDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="defAcctgNumberOfPeriods" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="defAcctgPeriodType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="unitOfMeasLookupCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="priceCorrectInvLineNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="assetBookTypeCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="assetCategoryId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="requesterId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="requesterFirstName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="requesterLastName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="requesterEmployeeNum" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="applicationId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="productTable" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="referenceKey1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="referenceKey2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="referenceKey3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="referenceKey4" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="referenceKey5" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="purchasingCategory" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="purchasingCategoryId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="costFactorId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="costFactorName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="controlAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="assessableValue" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="defaultDistCcid" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="primaryIntendedUse" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="shipToLocationId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="productType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="productCategory" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="productFiscClassification" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="userDefinedFiscClass" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="trxBusinessCategory" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="taxRegimeCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="tax" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="taxJurisdictionCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="taxStatusCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="taxRateId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="taxRateCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="taxRate" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="inclInTaxableLineFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="sourceApplicationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="sourceEntityCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="sourceEventClassCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="sourceTrxId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="sourceLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="sourceTrxLevelType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="taxClassificationCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ccReversalFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="companyPrepaidInvoiceId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="expenseGroup" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="justification" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="merchantDocumentNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="merchantName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="merchantReference" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="merchantTaxRegNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="merchantTaxpayerId" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="receiptCurrencyCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="receiptConversionRate" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="receiptCurrencyAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="countryOfSupply" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="5"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="payAwtGroupId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="payAwtGroupName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="expenseStartDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="expenseEndDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>