Implementation/ABS/Ebiz/NUC_EBizAPInvoice_ABS/xsd/OA_LaunchAutoInvoice_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/OA_LaunchAutoInvoice" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/OA_LaunchAutoInvoice" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="APPLICATION" type="string" db:index="4" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PROGRAM" type="string" db:index="5" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DESCRIPTION" type="string" db:index="6" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="START_TIME" type="string" db:index="7" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="SUB_REQUEST" type="int" db:index="8" db:type="INTEGER" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT1" type="string" db:index="9" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT2" type="string" db:index="10" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT3" type="string" db:index="11" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT4" type="string" db:index="12" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT5" type="string" db:index="13" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT6" type="string" db:index="14" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT7" type="string" db:index="15" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT8" type="string" db:index="16" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT9" type="string" db:index="17" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT10" type="string" db:index="18" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT11" type="string" db:index="19" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT12" type="string" db:index="20" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT13" type="string" db:index="21" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT14" type="string" db:index="22" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT15" type="string" db:index="23" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT16" type="string" db:index="24" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT17" type="string" db:index="25" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT18" type="string" db:index="26" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT19" type="string" db:index="27" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT20" type="string" db:index="28" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT21" type="string" db:index="29" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT22" type="string" db:index="30" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT23" type="string" db:index="31" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT24" type="string" db:index="32" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT25" type="string" db:index="33" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT26" type="string" db:index="34" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT27" type="string" db:index="35" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT28" type="string" db:index="36" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT29" type="string" db:index="37" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT30" type="string" db:index="38" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT31" type="string" db:index="39" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT32" type="string" db:index="40" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT33" type="string" db:index="41" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT34" type="string" db:index="42" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT35" type="string" db:index="43" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT36" type="string" db:index="44" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT37" type="string" db:index="45" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT38" type="string" db:index="46" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT39" type="string" db:index="47" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT40" type="string" db:index="48" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT41" type="string" db:index="49" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT42" type="string" db:index="50" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT43" type="string" db:index="51" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT44" type="string" db:index="52" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT45" type="string" db:index="53" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT46" type="string" db:index="54" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT47" type="string" db:index="55" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT48" type="string" db:index="56" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT49" type="string" db:index="57" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT50" type="string" db:index="58" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT51" type="string" db:index="59" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT52" type="string" db:index="60" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT53" type="string" db:index="61" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT54" type="string" db:index="62" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT55" type="string" db:index="63" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT56" type="string" db:index="64" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT57" type="string" db:index="65" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT58" type="string" db:index="66" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT59" type="string" db:index="67" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT60" type="string" db:index="68" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT61" type="string" db:index="69" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT62" type="string" db:index="70" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT63" type="string" db:index="71" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT64" type="string" db:index="72" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT65" type="string" db:index="73" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT66" type="string" db:index="74" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT67" type="string" db:index="75" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT68" type="string" db:index="76" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT69" type="string" db:index="77" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT70" type="string" db:index="78" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT71" type="string" db:index="79" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT72" type="string" db:index="80" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT73" type="string" db:index="81" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT74" type="string" db:index="82" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT75" type="string" db:index="83" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT76" type="string" db:index="84" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT77" type="string" db:index="85" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT78" type="string" db:index="86" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT79" type="string" db:index="87" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT80" type="string" db:index="88" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT81" type="string" db:index="89" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT82" type="string" db:index="90" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT83" type="string" db:index="91" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT84" type="string" db:index="92" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT85" type="string" db:index="93" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT86" type="string" db:index="94" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT87" type="string" db:index="95" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT88" type="string" db:index="96" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT89" type="string" db:index="97" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT90" type="string" db:index="98" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT91" type="string" db:index="99" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT92" type="string" db:index="100" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT93" type="string" db:index="101" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT94" type="string" db:index="102" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT95" type="string" db:index="103" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT96" type="string" db:index="104" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT97" type="string" db:index="105" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT98" type="string" db:index="106" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT99" type="string" db:index="107" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ARGUMENT100" type="string" db:index="108" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="REQUEST_ID" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="RETURN_CODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="RETURN_MESSAGE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>
