Implementation/Infrastructure/EIAMetadata/classes/AO/EBiz/D2S/V1.0/ProductStructureAO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema targetNamespace="http://xmlns.eia.com/AO/Ebiz/D2S/ProductStructureAO/1.0" xmlns:obj="http://xmlns.eia.com/AO/Ebiz/D2S/ProductStructureAO/1.0" xmlns:common="http://xmlns.eia.com/EO/common/Common/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			<Version>1.0</Version>
			<Definition>Common SOA Composite PO</Definition>
			<Description>This schema defines the objects to create or extract Batch /Job</Description>
			<Author>Manish Gujar</Author>
			<ModifiedBy>Manish Gujar</ModifiedBy>
			<VersionDate>10-11-2015</VersionDate>
			<VersionDescription>Initial standard</VersionDescription>
			<ModificationHistory>24-07-2015 Version 1.0 - Initial Development Version</ModificationHistory>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://xmlns.eia.com/EO/common/Common/1.0" schemaLocation="../../../../EO/common/V1.0/Common.xsd"/>
	<xsd:element name="ProductStructureDetails" type="obj:ListOfProductStructureDetails"/>
	<xsd:complexType name="ListOfProductStructureDetails">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ListOfRecipe" type="obj:Recipe"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Attribute10">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="AttributeCategory" type="common:C30"/>
			<xsd:element minOccurs="0" name="Attribute1" type="common:C240"/>
			<xsd:element minOccurs="0" name="Attribute2" type="common:C240"/>
			<xsd:element minOccurs="0" name="Attribute3" type="common:C240"/>
			<xsd:element minOccurs="0" name="Attribute4" type="common:C240"/>
			<xsd:element minOccurs="0" name="Attribute5" type="common:C240"/>
			<xsd:element minOccurs="0" name="Attribute6" type="common:C240"/>
			<xsd:element minOccurs="0" name="Attribute7" type="common:C240"/>
			<xsd:element minOccurs="0" name="Attribute8" type="common:C240"/>
			<xsd:element minOccurs="0" name="Attribute9" type="common:C240"/>
			<xsd:element minOccurs="0" name="Attribute10" type="common:C240"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Attribute5">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="AttributeCategory" type="common:C30"/>
			<xsd:element minOccurs="0" name="Attribute1" type="common:C240"/>
			<xsd:element minOccurs="0" name="Attribute2" type="common:C240"/>
			<xsd:element minOccurs="0" name="Attribute3" type="common:C240"/>
			<xsd:element minOccurs="0" name="Attribute4" type="common:C240"/>
			<xsd:element minOccurs="0" name="Attribute5" type="common:C240"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OperationAttributeS5">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="OperationAttributeCategory" type="common:C30"/>
			<xsd:element minOccurs="0" name="OperationAttribute1" type="common:C240"/>
			<xsd:element minOccurs="0" name="OperationAttribute2" type="common:C240"/>
			<xsd:element minOccurs="0" name="OperationAttribute3" type="common:C240"/>
			<xsd:element minOccurs="0" name="OperationAttribute4" type="common:C240"/>
			<xsd:element minOccurs="0" name="OperationAttribute5" type="common:C240"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResourceAttributeS5">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ResourceAttributeCategory" type="common:C30"/>
			<xsd:element minOccurs="0" name="ResourceAttribute1" type="common:C240"/>
			<xsd:element minOccurs="0" name="ResourceAttribute2" type="common:C240"/>
			<xsd:element minOccurs="0" name="ResourceAttribute3" type="common:C240"/>
			<xsd:element minOccurs="0" name="ResourceAttribute4" type="common:C240"/>
			<xsd:element minOccurs="0" name="ResourceAttribute5" type="common:C240"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActivityAttributeS5">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ActivityAttributeCategory" type="common:C30"/>
			<xsd:element minOccurs="0" name="ActivityAttribute1" type="common:C240"/>
			<xsd:element minOccurs="0" name="ActivityAttribute2" type="common:C240"/>
			<xsd:element minOccurs="0" name="ActivityAttribute3" type="common:C240"/>
			<xsd:element minOccurs="0" name="ActivityAttribute4" type="common:C240"/>
			<xsd:element minOccurs="0" name="ActivityAttribute5" type="common:C240"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DTLAttribute5">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="DTLAttributeCategory" type="common:C30"/>
			<xsd:element minOccurs="0" name="DTLAttribute1" type="common:C240"/>
			<xsd:element minOccurs="0" name="DTLAttribute2" type="common:C240"/>
			<xsd:element minOccurs="0" name="DTLAttribute3" type="common:C240"/>
			<xsd:element minOccurs="0" name="DTLAttribute4" type="common:C240"/>
			<xsd:element minOccurs="0" name="DTLAttribute5" type="common:C240"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Recipe">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="RecipeNumber" type="common:C40"/>
			<xsd:element minOccurs="0" name="RecipeVersion" type="common:Integer"/>
			<xsd:element minOccurs="0" name="RecipeID" type="common:Integer"/>
			<xsd:element minOccurs="0" name="RecipeDescription" type="common:C40"/>
			<xsd:element minOccurs="0" name="OwnerOrganization" type="common:C4"/>
			<xsd:element minOccurs="0" name="CreationOrganization" type="common:C4"/>
			<xsd:element minOccurs="0" name="Product" type="common:C40"/>
			<xsd:element minOccurs="0" name="FormulaNumber" type="common:C40"/>
			<xsd:element minOccurs="0" name="FormulaVersion" type="common:Integer"/>
			<xsd:element minOccurs="0" name="FormulaID" type="common:Integer"/>
			<xsd:element minOccurs="0" name="RountingID" type="common:Integer"/>
			<xsd:element minOccurs="0" name="RoutingNumber" type="common:C40"/>
			<xsd:element minOccurs="0" name="RoutingVersion" type="common:Integer"/>
			<xsd:element minOccurs="0" name="RecipeStatus" type="common:C20"/>
			<xsd:element minOccurs="0" name="PlannedProcessLoss" type="common:Integer"/>
			<xsd:element minOccurs="0" name="CalculateStepQuantity" type="common:Integer"/>
			<xsd:element minOccurs="0" name="OrganizationCode" type="common:C4"/>
			<xsd:element minOccurs="0" name="OrganizationName" type="common:C240"/>
			<xsd:element minOccurs="0" name="ProcessLoss" type="common:Integer"/>
			<xsd:element minOccurs="0" name="RoutingStep" type="common:Integer"/>
			<xsd:element minOccurs="0" name="Line" type="common:Integer"/>
			<xsd:element minOccurs="0" name="Attribute" type="obj:Attribute10"/>
			<xsd:element minOccurs="0" name="ResourceName" type="common:C240"/>
			<xsd:element minOccurs="0" name="ListOfFormulas">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Formulas" type="obj:Formula" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element minOccurs="0" name="ListOfRouting">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Routings" type="obj:Routing" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element minOccurs="0" name="ListOfRecipeVRS">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RecipeVRS" type="obj:RecipeVR" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RecipeVR">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="RecipeNumber" type="common:C40"/>
			<xsd:element minOccurs="0" name="RecipeVersion" type="common:Integer"/>
			<xsd:element minOccurs="0" name="RecipeID" type="common:Integer"/>
			<xsd:element minOccurs="0" name="RecipeVRID" type="common:Integer"/>
			<xsd:element minOccurs="0" name="OrganizationCode" type="common:C4"/>
			<xsd:element minOccurs="0" name="Product" type="common:C40"/>
			<xsd:element minOccurs="0" name="RecipeUse" type="common:C30"/>
			<xsd:element minOccurs="0" name="Preference" type="common:C20"/>
			<xsd:element minOccurs="0" name="Startdate" type="common:Dt"/>
			<xsd:element minOccurs="0" name="EndDate" type="common:Dt"/>
			<xsd:element minOccurs="0" name="MinimumQuantity" type="common:Integer"/>
			<xsd:element minOccurs="0" name="MaximumQuantity" type="common:Integer"/>
			<xsd:element minOccurs="0" name="StandardQuantity" type="common:Integer"/>
			<xsd:element minOccurs="0" name="ItemUOM" type="common:C4"/>
			<xsd:element minOccurs="0" name="InventoryMinimumQuantity" type="common:Integer"/>
			<xsd:element minOccurs="0" name="InventoryMaximumQuantity" type="common:Integer"/>
			<xsd:element minOccurs="0" name="ValidityRuleStatus" type="common:C30"/>
			<xsd:element minOccurs="0" name="Attribute" type="obj:Attribute10"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Formula">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="FormulaNumber" type="common:C40"/>
			<xsd:element minOccurs="0" name="FormulaVersion" type="common:Integer"/>
			<xsd:element minOccurs="0" name="FormulaID" type="common:Integer"/>
			<xsd:element minOccurs="0" name="FormulaType" type="common:Integer"/>
			<xsd:element minOccurs="0" name="FormulaDescription" type="common:C100"/>
			<xsd:element minOccurs="0" name="FormulaClass" type="common:C30"/>
			<xsd:element minOccurs="0" name="Comments" type="common:C30"/>
			<xsd:element minOccurs="0" name="OrganizationCode" type="common:C30"/>
			<xsd:element minOccurs="0" name="OwnerName" type="common:C30"/>
			<xsd:element minOccurs="0" name="FormulaStatus" type="common:C30"/>
			<xsd:element minOccurs="0" name="ScaleTypeHeader" type="common:Integer"/>			
			<xsd:element minOccurs="0" name="CalcProductQty" type="common:C5"/>
			<xsd:element minOccurs="0" name="Attribute" type="obj:Attribute5"/>	
			<xsd:element minOccurs="0" name="ListOfFormulaDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="FormulaDetails" type="obj:FormulaDetail" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>			
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="FormulaDetail">
		<xsd:sequence>			
			<xsd:element minOccurs="0" name="FormulaID" type="common:Integer"/>
			<xsd:element minOccurs="0" name="LineNumber" type="common:Integer"/>
			<xsd:element minOccurs="0" name="ItemType" type="common:C80"/>
			<xsd:element minOccurs="0" name="FormulaItemType" type="common:C80"/>
			<xsd:element minOccurs="0" name="ItemNumber" type="common:C80"/>
			<xsd:element minOccurs="0" name="Description" type="common:C240"/>
			<xsd:element minOccurs="0" name="Quantity" type="common:Integer"/>
			<xsd:element minOccurs="0" name="ItemUOM" type="common:C5"/>
			<xsd:element minOccurs="0" name="YieldConsumptionType" type="common:C80"/>
			<xsd:element minOccurs="0" name="ScrapFactor" type="common:Integer"/>
			<xsd:element minOccurs="0" name="ScaleType" type="common:C80"/>			
			<xsd:element minOccurs="0" name="ByProductType" type="common:C80"/>
			<xsd:element minOccurs="0" name="CostAllocation" type="common:Integer"/>
			<xsd:element minOccurs="0" name="ScaleMultiple" type="common:Integer"/>
			<xsd:element minOccurs="0" name="PhantomType" type="common:C80"/>			
			<xsd:element minOccurs="0" name="ContributeToYield" type="common:C30"/>
			<xsd:element minOccurs="0" name="ContributeToStepQuantity" type="common:C30"/>
			<xsd:element minOccurs="0" name="ScaleRoundingVariance" type="common:Integer"/>
			<xsd:element minOccurs="0" name="RoundingDirection" type="common:Integer"/>
			<xsd:element minOccurs="0" name="Attribute" type="obj:Attribute5"/>			
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Routing">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="RoutingNo" type="common:C40"/>
			<xsd:element minOccurs="0" name="RoutingID" type="common:Integer"/>
			<xsd:element minOccurs="0" name="RoutingVer" type="common:Integer"/>
			<xsd:element minOccurs="0" name="RoutingQty" type="common:Integer"/>
			<xsd:element minOccurs="0" name="ItemUOM" type="common:C4"/>
			<xsd:element minOccurs="0" name="RoutingDesc" type="common:C40"/>
			<xsd:element minOccurs="0" name="OwnerOrgnCode" type="common:C4"/>
			<xsd:element minOccurs="0" name="RoutingClass" type="common:C4"/>
			<xsd:element minOccurs="0" name="EffectiveStartDate" type="common:Dt"/>
			<xsd:element minOccurs="0" name="EffectiveEndDate" type="common:Dt"/>
			<xsd:element minOccurs="0" name="ProcessLoss" type="common:Integer"/>
			<xsd:element minOccurs="0" name="RoutingStatus" type="common:C30"/>
			<xsd:element minOccurs="0" name="EnforceStepDependency" type="common:Integer"/>
			<xsd:element minOccurs="0" name="RoutingstepNo" type="common:Integer"/>
			<xsd:element minOccurs="0" name="OperationNO" type="common:C40"/>
			<xsd:element minOccurs="0" name="OperationVER" type="common:Integer"/>
			<xsd:element minOccurs="0" name="OperationID" type="common:Integer"/>
			<xsd:element minOccurs="0" name="StepQty" type="common:Integer"/>
			<xsd:element minOccurs="0" name="StepreleaseType" type="common:Integer"/>
			<xsd:element minOccurs="0" name="DepRoutingstepNo" type="common:Integer"/>
			<xsd:element minOccurs="0" name="DepType" type="common:Integer"/>
			<xsd:element minOccurs="0" name="StandardDelay" type="common:Integer"/>
			<xsd:element minOccurs="0" name="TransferQty" type="common:Integer"/>
			<xsd:element minOccurs="0" name="TransferPct" type="common:Integer"/>
			<xsd:element minOccurs="0" name="Attribute" type="obj:Attribute10"/>
			<xsd:element minOccurs="0" name="ListOfOperartion">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Operartions" type="obj:Operartion" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Operartion">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="OperationNumber" type="common:C30"/>
			<xsd:element minOccurs="0" name="OperationID" type="common:Integer"/>
			<xsd:element minOccurs="0" name="OperationDescription" type="common:C30"/>
			<xsd:element minOccurs="0" name="OperationVersion" type="common:Integer"/>
			<xsd:element minOccurs="0" name="ProcessQtyUOM" type="common:C30"/>
			<xsd:element minOccurs="0" name="OperationClass" type="common:C30"/>
			<xsd:element minOccurs="0" name="ValidFrom" type="common:Dt"/>
			<xsd:element minOccurs="0" name="ValidTo" type="common:Dt"/>
			<xsd:element minOccurs="0" name="Status" type="common:C30"/>
			<xsd:element minOccurs="0" name="OwnerOrganization" type="common:C30"/>
			<xsd:element minOccurs="0" name="MinimumTransferQty" type="common:Integer"/>
			<xsd:element minOccurs="0" name="Activity" type="common:C30"/>
			<xsd:element minOccurs="0" name="ActivityFactor" type="common:Integer"/>
			<xsd:element minOccurs="0" name="SequenceDependency" type="common:Integer"/>
			<xsd:element minOccurs="0" name="OffsetInterval" type="common:Integer"/>
			<xsd:element minOccurs="0" name="Breakable" type="common:Integer"/>
			<xsd:element minOccurs="0" name="MaxBreak" type="common:Integer"/>
			<xsd:element minOccurs="0" name="MaterialScheduled" type="common:Integer"/>
			<xsd:element minOccurs="0" name="Resources" type="common:C30"/>
			<xsd:element minOccurs="0" name="ResourceUsage" type="common:Integer"/>
			<xsd:element minOccurs="0" name="ResourceCount" type="common:Integer"/>
			<xsd:element minOccurs="0" name="UsageUOM" type="common:C30"/>
			<xsd:element minOccurs="0" name="ProcessQuantity" type="common:Integer"/>
			<xsd:element minOccurs="0" name="PlanType" type="common:Integer"/>
			<xsd:element minOccurs="0" name="ScaleType" type="common:Integer"/>
			<xsd:element minOccurs="0" name="OperationAttributeS" type="obj:OperationAttributeS5"/>
			<xsd:element minOccurs="0" name="ActivityAttributeS" type="obj:ActivityAttributeS5"/>
			<xsd:element minOccurs="0" name="ResourceAttributeS" type="obj:ResourceAttributeS5"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ProductStructureResponse" type="obj:ProductStructureRes"/>
	<xsd:complexType name="ProductStructureRes">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Result" type="common:C100"/>
			<xsd:element minOccurs="0" name="ErrorMsg" type="common:C4000"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>