Implementation/Infrastructure/EIAMetadata/classes/AO/EBiz/D2S/V1.0/QualityResultsAO.xsd

<?xml version='1.0' encoding='utf-8'?>
<schema targetNamespace="http://xmlns.eia.com/AO/Ebiz/D2S/QualityResultsAO/1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:obj="http://xmlns.eia.com/AO/Ebiz/D2S/QualityResultsAO/1.0" xmlns:header="http://xmlns.eia.com/EO/common/Header/1.0" xmlns:common="http://xmlns.eia.com/EO/common/Common/1.0" elementFormDefault="qualified">
<import schemaLocation="../../../../EO/common/V1.0/Header.xsd" namespace="http://xmlns.eia.com/EO/common/Header/1.0"/>
<import schemaLocation="../../../../EO/common/V1.0/Common.xsd" namespace="http://xmlns.eia.com/EO/common/Common/1.0"/>
<element name="GmdResultsPub">
<complexType>
<sequence>
<element name="GmdResultPub" type="obj:GmdResultPubType" minOccurs="0" maxOccurs="unbounded"/>
</sequence>
</complexType>
</element>
<element name="QualityResultResponse">
<complexType>
<sequence>
<element name="QualityResultResponse" type="obj:QualityResultsRes" minOccurs="0" maxOccurs="unbounded"/>
</sequence>
</complexType>
</element>
<complexType name="GmdResultPubType">
<sequence>
<element minOccurs="0" name="TxnID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="record_source" type="common:C10" nillable="true"/>
<element minOccurs="0" name="SampleId" type="common:Decimal" nillable="true"/>
<element minOccurs="0" name="SampleNo" type="common:C80" nillable="true"/>
<element minOccurs="0" name="OrganizationId" type="common:Decimal" nillable="true"/>
<element minOccurs="0" name="LabOrganizationId" type="common:Decimal" nillable="true"/>
<element minOccurs="0" name="LabOrganizationCode" type="common:C3" nillable="true"/>
<element minOccurs="0" name="OrganizationCode" type="common:C3" nillable="true"/>
<element minOccurs="0" name="MillDUNS" type="common:C50" nillable="true"/>
<element minOccurs="0" name="MeltCountry" type="common:C50" nillable="true"/>
<element minOccurs="0" name="RollCountry" type="common:C50" nillable="true"/>
<element minOccurs="0" name="GrainPractice" type="common:C10" nillable="true"/>
<element minOccurs="0" name="SampleSource" type="common:C1" nillable="true"/>
<element minOccurs="0" name="item_id" type="common:C100" nillable="true"/>
<element minOccurs="0" name="item_no" type="common:C1" nillable="true"/>
<element minOccurs="0" name="BatchID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="BatchNO" type="common:C40" nillable="true"/>
<element minOccurs="0" name="StepID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="StepNO" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="Charge" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="SourceSubInventory" type="common:C10" nillable="true"/>
<element minOccurs="0" name="WIPParentLot" type="common:C80" nillable="true"/>
<element minOccurs="0" name="ReceipeNO" type="common:C40" nillable="true"/>
<element minOccurs="0" name="receipeID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="ParentLotNO" type="common:C80" nillable="true"/>
<element minOccurs="0" name="LotNo" type="common:C40" nillable="true"/>
<element minOccurs="0" name="FormulaNO" type="common:C40" nillable="true"/>
<element minOccurs="0" name="FormulaID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="RoutingNO" type="common:C40" nillable="true"/>
<element minOccurs="0" name="RoutingID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="OprnNO" type="common:C20" nillable="true"/>
<element minOccurs="0" name="OprnID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="LpnNO" type="common:C30" nillable="true"/>
<element minOccurs="0" name="LpnID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="RetainAS" type="common:C3" nillable="true"/>
<element minOccurs="0" name="revision" type="common:C3" nillable="true"/>
<element minOccurs="0" name="Priority" type="common:C2" nillable="true"/>
<element minOccurs="0" name="SampleQTY" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="RemainingQTY" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="SampleQtyUOM" type="common:C10" nillable="true"/>
<element minOccurs="0" name="SampleQtyUnitOfMeasure" type="common:C30" nillable="true"/>
<element minOccurs="0" name="dateDrawn" type="common:Dt" nillable="true"/>
<element minOccurs="0" name="RetrievalDate" type="common:Dt" nillable="true"/>
<element minOccurs="0" name="dateReceived" type="common:Dt" nillable="true"/>
<element minOccurs="0" name="DateRequired" type="common:Dt" nillable="true"/>
<element minOccurs="0" name="ExpirationDate" type="common:Dt" nillable="true"/>
<element minOccurs="0" name="SampleInstance" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="ExternalID" type="common:C40" nillable="true"/>
<element minOccurs="0" name="StorageOrganizationCode" type="common:C3" nillable="true"/>
<element minOccurs="0" name="StorageOrganizationID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="StorageSubInventory" type="common:C10" nillable="true"/>
<element minOccurs="0" name="Sampler" type="common:C100" nillable="true"/>
<element minOccurs="0" name="SamplerID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="SampleApprover" type="common:C100" nillable="true"/>
<element minOccurs="0" name="SampleApproverID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="InvApprover" type="common:C100" nillable="true"/>
<element minOccurs="0" name="InvApproverID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="SourceComment" type="common:C2000" nillable="true"/>
<element minOccurs="0" name="CustomerName" type="common:C360" nillable="true"/>
<element minOccurs="0" name="CustID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="OperatingUnit" type="common:C240" nillable="true"/>
<element minOccurs="0" name="OrgID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="ShipToName" type="common:C40" nillable="true"/>
<element minOccurs="0" name="ShipToSiteID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="OrderNo" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="OrderID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="OrderLineNO" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="OrderLineID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="SubInventory" type="common:C10" nillable="true"/>
<element minOccurs="0" name="SupplierName" type="common:C240" nillable="true"/>
<element minOccurs="0" name="SupplierID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="SupplierSite" type="common:C20" nillable="true"/>
<element minOccurs="0" name="SupplierSiteID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="SupplierLotNO" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="PoNumber" type="common:C20" nillable="true"/>
<element minOccurs="0" name="PoHeaderID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="PoLineNO" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="PoLineID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="ReceiptNO" type="common:C30" nillable="true"/>
<element minOccurs="0" name="ReceiptID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="ReceiptLineNO" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="ReceiptLineID" type="common:Integer" nillable="true"/>
<element minOccurs="0" name="disposition_status" type="common:C80" nillable="true"/>
<element minOccurs="0" name="BolNo" type="common:C50" nillable="true"/>
<element minOccurs="0" name="SampleDesc" type="common:C80" nillable="true"/>
<element minOccurs="0" name="RollDate" type="common:C8" nillable="true"/>
<element minOccurs="0" name="MiltDate" type="common:C8" nillable="true"/>
<element minOccurs="0" name="CustNo" type="common:C30" nillable="true"/>
<element minOccurs="0" name="SalesOfc" type="common:C30" nillable="true"/>
<element minOccurs="0" name="SizeH" type="common:C30" nillable="true"/>
<element minOccurs="0" name="SalesDiv" type="common:C3" nillable="true"/>
<element minOccurs="0" name="TestResultsMill" type="common:C8" nillable="true"/>
<element minOccurs="0" name="NumSize" type="common:C8" nillable="true"/>
<element minOccurs="0" name="FlatSize" type="common:C8" nillable="true"/>
<element minOccurs="0" name="SpecName" type="common:C80" nillable="true"/>
<element minOccurs="0" name="GradeCode" type="common:C150" nillable="true"/>
<element minOccurs="0" name="UpdateInventoryQty" type="common:C150" nillable="true"/>
<element minOccurs="0" name="Comments" type="common:C80" nillable="true"/>
<element minOccurs="0" name="ProductShape" type="common:C100" nillable="true"/>
<element minOccurs="0" name="OrderType" type="common:C30" nillable="true"/>
<element minOccurs="0" name="Test_results">
<complexType>
<sequence>
<element name="Test_results" type="obj:GMD_Test_Results" minOccurs="0" maxOccurs="unbounded"/>
</sequence>
</complexType>
</element>
<element minOccurs="0" name="LPNDetails">
<complexType>
<sequence>
<element name="LPNDetail" type="obj:LPNDetailType" minOccurs="0" maxOccurs="unbounded"/>
</sequence>
</complexType>
</element>
<element minOccurs="0" name="C_Attributes">
<complexType>
<sequence>
<element name="C_Attribute" type="obj:Attribute" minOccurs="0" maxOccurs="unbounded"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
<complexType name="ListOfChemicalAnalysisType">
<sequence>
<element name="ChemicalAnalysis" type="obj:ChemicalAnalysisType" minOccurs="0" maxOccurs="unbounded"/>
</sequence>
</complexType>
<complexType name="ChemicalAnalysisType">
<sequence>
<element minOccurs="0" name="Symbol" type="common:C5" nillable="true"/>
<element minOccurs="0" name="Value" type="common:C50" nillable="true"/>
<element minOccurs="0" name="RecordType" type="common:Decimal" nillable="true"/>
<element minOccurs="0" name="Set6" type="common:C80" nillable="true"/>
</sequence>
</complexType>
<complexType name="LPNDetailType">
<sequence>
<element minOccurs="0" name="LPNNo" type="common:C30" nillable="true"/>
<element minOccurs="0" name="LPNId" type="common:Decimal" nillable="true"/>
</sequence>
</complexType>
<complexType name="QualityResultsRes">
<sequence>
<element minOccurs="0" name="Status" type="common:C100"/>
<element minOccurs="0" name="ErrorMsg" type="common:C4000"/>
</sequence>
</complexType>
<complexType name="GMD_Test_Results">
<sequence>
<element minOccurs="0" name="TestClass" type="common:C80"/>
<element minOccurs="0" name="TestCode" type="common:C80"/>
<element minOccurs="0" name="SeqNO" type="common:Integer"/>
<element minOccurs="0" name="TestID" type="common:Integer"/>
<element minOccurs="0" name="TestUnit" type="common:C25"/>
<element minOccurs="0" name="Tester" type="common:C30"/>
<element minOccurs="0" name="ResultValue" type="common:C80"/>
<element minOccurs="0" name="ResultDate" type="common:Dt"/>
<element minOccurs="0" name="Replicate" type="common:Integer"/>
<element minOccurs="0" name="MinValueNum" type="common:Integer"/>
<element minOccurs="0" name="MaxValueNum" type="common:Integer"/>
<element minOccurs="0" name="AboveMinActionCode" type="common:C40"/>
<element minOccurs="0" name="AboveMaxActionCode" type="common:Integer"/>
<element minOccurs="0" name="AboveSpecMin" type="common:Integer"/>
<element minOccurs="0" name="AboveSpecMax" type="common:Integer"/>
<element minOccurs="0" name="BelowSpecMin" type="common:Integer"/>
<element minOccurs="0" name="BelowSpecMax" type="common:Integer"/>
<element minOccurs="0" name="GageLen" type="common:C80"/>
</sequence>
</complexType>
<complexType name="ListOfYieldType">
<sequence>
<element name="Yield" minOccurs="0" maxOccurs="unbounded" type="obj:AttributeDetail"/>
</sequence>
</complexType>
<complexType name="ListOfTensileType">
<sequence>
<element name="Tensile" minOccurs="0" maxOccurs="unbounded" type="obj:AttributeDetail"/>
</sequence>
</complexType>
<complexType name="ListOfElongationType">
<sequence>
<element name="Elongation" minOccurs="0" maxOccurs="unbounded" type="obj:AttributeDetail"/>
</sequence>
</complexType>
<complexType name="AttributeDetail">
<sequence>
<element minOccurs="0" name="UOM" type="common:C5"/>
<element minOccurs="0" name="Sequence" type="common:C5"/>
<element minOccurs="0" name="AttrValue" type="common:C10"/>
</sequence>
</complexType>
<complexType name="Attribute">
<sequence>
<element minOccurs="0" name="AttributeCategory" type="common:C150"/>
<element minOccurs="0" name="Attribute1" type="common:C150"/>
<element minOccurs="0" name="Attribute2" type="common:C150"/>
<element minOccurs="0" name="Attribute3" type="common:C150"/>
<element minOccurs="0" name="Attribute4" type="common:C150"/>
<element minOccurs="0" name="Attribute5" type="common:C150"/>
<element minOccurs="0" name="Attribute6" type="common:C150"/>
<element minOccurs="0" name="Attribute7" type="common:C150"/>
<element minOccurs="0" name="Attribute8" type="common:C150"/>
<element minOccurs="0" name="Attribute9" type="common:C150"/>
<element minOccurs="0" name="Attribute10" type="common:C150"/>
<element minOccurs="0" name="Attribute11" type="common:C150"/>
<element minOccurs="0" name="Attribute12" type="common:C150"/>
<element minOccurs="0" name="Attribute13" type="common:C150"/>
<element minOccurs="0" name="Attribute14" type="common:C150"/>
<element minOccurs="0" name="Attribute15" type="common:C150"/>
<element minOccurs="0" name="Attribute16" type="common:C150"/>
<element minOccurs="0" name="Attribute17" type="common:C150"/>
<element minOccurs="0" name="Attribute18" type="common:C150"/>
<element minOccurs="0" name="Attribute19" type="common:C150"/>
<element minOccurs="0" name="Attribute20" type="common:C150"/>
<element minOccurs="0" name="Attribute21" type="common:C150"/>
<element minOccurs="0" name="Attribute22" type="common:C150"/>
<element minOccurs="0" name="Attribute23" type="common:C150"/>
<element minOccurs="0" name="Attribute24" type="common:C150"/>
<element minOccurs="0" name="Attribute25" type="common:C150"/>
<element minOccurs="0" name="Attribute26" type="common:C150"/>
<element minOccurs="0" name="Attribute27" type="common:C150"/>
<element minOccurs="0" name="Attribute28" type="common:C150"/>
<element minOccurs="0" name="Attribute29" type="common:C150"/>
<element minOccurs="0" name="Attribute30" type="common:C150"/>
</sequence>
</complexType>
</schema>
